footer.footer.page__footer
    a.footer__goldermall.goldermall(href='#')
        .goldermall__title goldermall.ru
        .goldermall__description Официальный 
            nobr интернет-магазин
    .footer__copyright.copyright
        | © 2016 Rondell
        a.copyright__link(href='#') 
            span Карта сайта
    .footer__socials
        a.social.social--facebook(href='#')
            include ../../../public_html/layout/images/svg/facebook.svg
        a.social.social--twitter(href='#')
            include ../../../public_html/layout/images/svg/twitter.svg
        a.social.social--vkontakte(href='#')
            include ../../../public_html/layout/images/svg/vkontakte.svg
        a.social.social--youtube(href='#')
            include ../../../public_html/layout/images/svg/youtube.svg
    a.footer__present(href='#')
        img(src='/layout/images/svg/present.svg', alt='', width='100%')
        
.nav.nav--modal
    .nav__wrap
        if showProfile
            .nav__profile.profile
                .profile__name Константин Константинопольский
                .profile__links
                    a.profile__link(href='#') Выйти
                    a.profile__link(href='#') Сменить пароль
        each val, key in nav
            - var c = val.items.length === 0 ? 'nav__section--hoverless' : ''
            .nav__section(class="#{c}")
                .nav__title
                    a(href="#{val.url}", class="nav__item nav__item--trigger")= val.name
                    - if (val.items.length > 0)
                        a.nav__trigger(href='#')
                            include ../../../public_html/layout/images/svg/down.svg
                .nav__content
                    each subval, subkey in val.items
                        a(href="#{subval.url}", class="nav__item")= subval.name
        input.nav__search.visible-xs(placeholder='Поиск')
.search
    .search__fade
    .search__content
        .search__input
            input(type='text', placeholder='Что ищем?')
        a.search__close(href='#')
            include ../../../public_html/layout/images/svg/close.svg
