doctype html
<html lang='ru'>
head
	meta(charset="utf-8")
	meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
	link(href="./layout/css/frontend.css", rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic", rel="stylesheet")
	script(type="text/javascript", src="./layout/js/frontend.js", async)
	title Rondell
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<script src="./layout/js/background_size_emu.js"></script>
	<![endif]-->
