include ./nav

aside.sidebar.page__sidebar
    .sidebar__logo
        a.logo(href='./')
            img.logo__image(src='/layout/images/svg/logo.svg', alt="", width='100%')
    .sidebar__content.scroll
        .sidebar__wrap.scroll__wrap
            .sidebar__header
                .sidebar__langs.langs
                    a.langs__item.langs__item--active(href='#') Ru
                    a.langs__item(href='#') En
                a.sidebar__search(href='#')
                    include ../../../public_html/layout/images/svg/search.svg
            nav.nav.sidebar__nav
                each val, key in nav
                    - var c = key == activeNav ? "nav__item--active" : ""
                    a(href="#{val.url}", class="nav__item #{c}")= val.name
            .sidebar__footer
                a.sidebar__goldermall.goldermall(href='#')
                    .goldermall__title goldermall.ru
                    .goldermall__description Официальный 
                        nobr интернет-магазин
                .sidebar__socials
                    a.social.social--facebook(href='#')
                        include ../../../public_html/layout/images/svg/facebook.svg
                    a.social.social--twitter(href='#')
                        include ../../../public_html/layout/images/svg/twitter.svg
                    a.social.social--vkontakte(href='#')
                        include ../../../public_html/layout/images/svg/vkontakte.svg
                    a.social.social--youtube(href='#')
                        include ../../../public_html/layout/images/svg/youtube.svg
                a.sidebar__present(href='#')
                    img(src='/layout/images/svg/present.svg', alt='', width='100%')
                .copyright.sidebar__copyright
                    | © 2016 Rondell
                    a.copyright__link(href='#')
                        span Карта сайта
