.page__toolbar.toolbar
    .toolbar__logo
        a.logo(href='./')
            img.logo__image(src='/layout/images/svg/logo.svg', alt="", width='100%')
            
    .toolbar__tools
        a.toolbar__search(href='#')
            include ../../../public_html/layout/images/svg/search.svg
        .toolbar__langs.langs
            a.langs__item.langs__item--active(href='#') Ru
            a.langs__item(href='#') En
        a.nav-trigger(href='#')
        
