include includes/header
- var activeNav = 2
<body class='page page--404'>
include includes/toolbar
include includes/nav
a.logo.logo--fixed.visible-lg(href='./')
    img.logo__image(src='/layout/images/svg/logo.svg', alt="")
.page__content.content
    .content__text.text
        img(src='./layout/images/404.jpg' width='600')
        h1.no-margin-top Страница не найдена
        p Такой страницы не существует.<br class='hidden-xs'/> Возможно, она была удалена, или переименована.
        p Попробуйте начать с 
            a(href='#') главной страницы
            |, воспользоваться <br class='hidden-xs'/>
            a(href='#') картой сайта
            |  или&nbsp;
            a(href='#') поиском.
        
include includes/footer
