include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 4
    .content__nav
        include includes/sub_nav
    .content__text.text
        .content__title
            h1 Видео
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  Выберите режим показа
                .dropdown__frame
                    a.dropdown__item(href='#') Режим 1
                    a.dropdown__item(href='#') Режим 2
                    a.dropdown__item(href='#') Режим 3
                    a.dropdown__item(href='#') Режим 4
                select.dropdown__select
                    option(data-value='Категория 1') Режим 1
                    option(data-value='Категория 2') Режим 2
                    option(data-value='Категория 3') Режим 3
                    option(data-value='Категория 4') Режим 4
        .articles.articles--video
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-1.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag AVI
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-2.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-3.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag AVI
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-1.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag AVI
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-2.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-3.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag AVI
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-1.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag AVI
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-2.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/v-3.jpg)', href='#')
                    .articles__icon
                a.articles__name(href='#') Коллекция Mocco&Latte
                .articles__tags
                    a.articles__tag(href='#') Скачать видео
                    .articles__tag AVI
                    .articles__tag 358.75 Мб 
                    .articles__tag 2:20 мин. 
            
            
                
include includes/footer
