include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 0
    .content__nav
        include includes/sub_nav
    .content__text.text
        h1 История бренда
        h3.text__col История Röndell соткана из ряда событий, сплетающихся в уникальный сюжет, который спустя годы превратился в легенду. Летопись Röndell – это уникальные открытия и смелые решения, позволившие бренду завоевать признание и любовь своих потребителей.
        
            
        .history.history--knight
            .history__image.history__image
                img(src='./layout/images/knight.png', alt='')
            .history__year Средние века
            .history__description 
                p Время крестовых походов и кровопролитной борьбы за власть. Рыцари со всей Европы едут в Германию, где знаменитые оружейные мастера Нижней Саксонии делают легкий и надежный кинжал, обладающий сокрушительной силой в бою. Имя кинжалу – Röndell.
            
        .history
            .history__year 1988 год
            .history__description 
                p Известный немецкий ресторатор Густав Шмидт приобретает завод по производству металлической посуды в западногерманском городе Зальцгиттер. Совместно с группой инженеров университета Баварии он приступает к разработке новых и совершенствованию существующих технологий производства посуды. Для этих целей проводится реконструкция завода.
                p Одновременно регистрируется новая торговая марка – Röndell. На первой презентации Густав Шмидт произносит слова, определившие дух и назначение Röndell: «Традиции и благородство рыцарского оружия должны найти продолжение в посуде для кухни». Отныне главной тенденцией бренда стала приверженность традициям и первенство в технологиях!
        .history
            .history__year 1989 год
            .history__description 
                p Начинается выпуск стальной посуды Röndell – посуды для профессиональных поваров. Применение в производстве новейших технологий и материалов самого высокого качества довольно скоро обеспечивает Röndell признание и популярность европейских мастеров кулинарии – шеф-поваров ресторанов, баров, кафе.
        .history
            .history__year 1991 год
            .history__description 
                p Расширяя ассортимент, Röndell запускает линию по производству алюминиевой посуды.
        .history
            .history__year 2001 год
            .history__description 
                p Двенадцать лет подряд посуда Röndell удерживает лидерство на рынке профессиональной посуды и не теряет популярности среди мастеров высокой кухни.
        .history
            .history__year 2006 год
            .history__description 
                p Röndell налаживает выпуск посуды для дома с использованием таких же технологий и материалов, как и для производства профессиональной посуды.
                p Одним из ключевых элементов системы менеджмента качества Röndell является «прямая линия связи с потребителем», учитывающая и обрабатывающая каждое обращение в компанию.
            .history__image
                img(src='./layout/images/history-1.jpg')
        .history
            .history__year 2007 год
            .history__description 
                p Стартуют продажи посуды Röndell на территории России, стран СНГ, Балтии и Восточной Европы. Посуда Röndell появляется во всех крупных торговых сетях России: Эльдорадо, Перекресток, Карусель, Ашан.
        .history
            .history__year 2008 год
            .history__description 
                p Параллельно с продолжением разработок в области технологий приготовления вкусной и здоровой пищи, идет работа по совершенствованию дизайна и стиля посуды. К работе привлечены ведущие промышленные дизайнеры Европы и Америки.
                p Создаются новые дизайнерские коллекции посуды: Stern, Champagne, Vintage, Evolution.
                p Одновременно растут продажи Röndell в странах СНГ: посуда Röndell теперь и во всех торговых центрах международной сети Медиамаркт, открываются фирменные бутики Röndell.
            .history__image
                img(src='./layout/images/history-2.jpg')
        .history
            .history__year 2010 год
            .history__description 
                p Национальная Гильдия шеф-поваров подтверждает соответствие Röndell высоким стандартам качества и рекомендует посуду Röndell для профессионального использования. Röndell развивает сотрудничество с лучшими шеф-поварами Европы и Школами кулинарного мастерства, завоевывает ряд наград в области качества продукции и потребительских симпатий.
            .history__image.history__image--small
                img(src='./layout/images/history-3.jpg')
        .history
            .history__year 2014 год
            .history__description 
                p Röndell запускает производство высококачественной чугунной посуды на датском оборудовании DISA. 
                p В ассортименте марки представлены 8 предметов чугунной посуды в двух цветах – темно-бордовом в сочетании с молочной внутренней эмалью и темно-красном в сочетании с черной внутренней эмалью.
            .history__image
                img(src='./layout/images/history-4.jpg')
include includes/footer
