include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 3
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--mission.hidden-xs(src='./layout/images/guarantee.jpg')
        h1 Гарантия
        p Вся продукция Röndell производится из материалов самого высокого качества и с применением ультрасовременных технологий. <br/>Каждый предмет проходит несколько этапов контроля качества прежде, чем попадает к Вам на кухню.
        p При соблюдении рекомендаций по использованию и уходу за  посудой, кухонными ножами и аксессуарами, а также при их применении исключительно по назначению – для приготовления пищи в домашних условиях, Röndell предоставляет следующую гарантию с момента продажи:
        ul
            li на посуду из нержавеющей стали — 25 лет **,***;
            li на бакелитовые и силиконовые аксессуары — 3 года;
            li на алюминиевую посуду — 2 года;
            li на посуду из чугуна — 3 года.
        p Условия рассмотрения рекламации: сохранение чека и гарантийного талона в течение всего срока гарантии. В каждой коробке товара гарантийный талон прилагается. Гарантия на посуду Röndell действительна с момента приобретения и распространяется на производственные дефекты: сколы, вмятины, трещины и прочее.

        p Гарантия не распространяется на повреждения, возникшие в результате неправильного использования посуды:
        ul
            li перегрева,
            li падения изделия,
            li преднамеренной поломки.
        p Гарантия также не распространяется на естественные изменения внешних свойств изделия, возникших в процессе эксплуатации:
        ul
            li механические повреждения внешней или внутренней поверхности  (царапины, потертости и т.п.),
            li естественные изменения цвета металла *,
            li пятна, точки извести и т.п.
        p
            small.
                * Золотистый или голубой оттенок, возникающий в результате чрезмерного перегревания посуды или приготовления некоторых продуктов (томаты, лимон, овощи, рассолы и пр.) является характерным для посуды из нержавеющей стали, безопасен для здоровья и не влияет на функциональные свойства посуды. Удалить такие пятна можно с помощью специальных средств для чистки изделий из нержавеющей стали.<br/>
                ** Гарантия не распространяется на повреждения, возникшие в результате неправильного использования посуды: перегрева, падения изделия или преднамеренной поломки.<br/>
                *** В случае некоммерческого использования.<br/>
        .center
            a.guarantee-trigger(href='#') Негарантийные случаи
        #unguarantee.guarantee-content.hidden
            h2.center.xxl-margin-top Негарантийные случаи
            .row
                .col-sm-6.col-xs-12
                    p Уверенность Röndell в высоком качестве своей продукции основана на применении современной системы управления качеством и жестком контроле каждой стадии производства. Этим обусловлены повышенные обязательства перед потребителем, которые принимает на себя компания, а также длительный гарантийный срок на посуду и кухонные аксессуары Röndell.
                .col-sm-6.col-xs-12
                    p При соблюдении рекомендаций по использованию и уходу за посудой, кухонными ножами и аксессуарами, а также при их применении исключительно по назначению – для приготовления пищи в домашних условиях, – Вам не придется воспользоваться гарантией Röndell на протяжении многих лет службы наших товаров.
            p Гарантия Röndell не распространяется на случаи, когда неверное применение или нарушение рекомендаций по использованию и уходу за посудой, кухонными ножами и аксессуарами со стороны самого потребителя повлекло за собой механические повреждения или повлияло на внешний вид предметов.

            .text__divider
        
        
            
            h3.center 
                strong Типичные случаи, на которые не распространяется гарантия Röndell (негарантийные случаи):

            .guarantee
                .guarantee__number 1
                .guarantee__content
                    .guarantee__title При первом использовании посуды на внутренней поверхности корпуса появились точки черного цвета.
                    .guarantee__description Это остатки производственных масел, явление редкое, но вполне допустимое. Избежать данной проблемы можно, если перед началом использования хорошо вымыть новую посуду. Уже появившиеся пятна несложно отмыть с помощью губки и обычного моющего средства.
                .guarantee__cols
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-.jpg')
                        .guarantee__small Черный точки, появляющиеся в первые часы использования - остатки производственных масел
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-6.jpg')
                        .guarantee__small Можно отмыть при помощи губки и обычного моющего средства

            .text__divider
                
            .guarantee
                .guarantee__number 2
                .guarantee__content
                    .guarantee__title В ходе использования посуды на внутренней поверхности корпуса появились радужные пvятна.
                    .guarantee__description Это результат нарушения технологического процесса приготовления пищи, а именно преждевременного применения солей и кислот, например, уксуса. Пищевые соли и кислоты при недостаточной температуре вступают в реакцию со сталью и на молекулярном уровне меняют ее светоотражающие свойства. Появляющиеся вследствие такой реакции радужные пятна не влияют на свойства посуды, они абсолютно безопасны для здоровья и постепенно исчезают в ходе хорошего мытья посуды.
                .guarantee__cols
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-5.jpg')
                        .guarantee__small Радужные разводы на дне посуды в ходе использования - результат воздействия пищевых кислот
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-4.jpg')
                        .guarantee__small Можно обработать лимонным соком или постепенно отмыть обычными моющими средствами

            .text__divider
            
            .guarantee
                .guarantee__number 3
                .guarantee__content
                    .guarantee__title В ходе использования посуды на внешней поверхности дна появились темно-коричневые пятна.
                    .guarantee__description Это результат перегрева, вызванного нарушением правил использования посуды (например, пустая кастрюля долго находится на раскаленной конфорке), или неравномерного нагрева корпуса (например, диаметр кастрюли не соответствует диаметру конфорки, существенно превосходит его по размеру). Эти пятна также удаляются в ходе качественного мытья посуды, но вывести их бесследно удается не часто.
                .guarantee__cols
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-2.jpg')
                        .guarantee__small Темные пятна на дне посуды - резальтуат ее перегрева
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-3.jpg')
                        .guarantee__small Постепенно отмываются обычными моющими средствами, но редко выводятся до конца

            .text__divider
            
            .guarantee
                .guarantee__number 4
                .guarantee__content
                    .guarantee__title Вмятины, сколы, царапины и другие механические повреждения могут появиться на посуде только в результате ее применения не по назначению (не для приготовления пищи в домашних условиях) или грубого нарушения правил использования и ухода за посудой.
                .guarantee__cols
                    p Так, не будет считаться гарантийным случаем, обгоревшая на костре посуда или посуда с оплавленными ручками, не предназначенная для использования в духовке, разбитая в результате падения с высоты крышка или с силой оторванная ручка кастрюли.

            .text__divider
            
            p Для того чтобы избежать подобных ситуаций и недоразумений, прежде чем совершить покупку внимательно изучите все предметы. Убедитесь, что данный вид посуды подходит для использования на Вашей варочной поверхности, в духовке, посудомоечной машине. Обратите внимание на внешний вид предметов, целостность корпуса, отсутствие какие-либо пятен, царапин и иных повреждений, появившихся во время транспортировки или вследствие неправильного хранения.

            p Внимательно изучите рекомендации по использованию и уходу за приобретаемой посудой, кухонными ножами и аксессуарами, а в дальнейшем неукоснительно следуйте этим рекомендациям и наслаждайтесь высоким качеством профессиональной посуды для дома от Röndell!

include includes/footer
