include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 5
    .content__nav
        a.back(href='#') 
            img(src="./layout/images/svg/back.svg", alt="")
            Назад к списку рецептов
    .content__text.text
                
            
        .detail
            img.text__image.text__image--news.visible-lg(src='./layout/images/mission.jpg')    
            h1 Филе говядины с мятным соусом и лёгким овощным гарниром
            img.text__image.text__image--news.hidden-lg(src='./layout/images/mission.jpg')    
            h4 
                em Игридиенты (на 4 персоны):
            ul
                li Говяжья вырезка – 4 стейка по 180 г
                li Морковь – 2 шт.
                li Картофель молодой – 4 клубня
                li Цуккини – 1 шт.
                li Чеснок – 2 зубчика
                li Орегано – 1 веточка
                li Мята – 4 веточки
                li Лимонный сок – 50 мл
                li Масло оливковое – 100 мл
                li Масло сливочное – 40 г
                li Вино белое сухое – 40 мл
                li Сливки 33% - 170 мл
                li Соль морская – по вкусу
                li Перец чёрный – по вкусу
            .text__divider.detail__divider
            h4 
                em Приготовление:    
            .list    
                .list__number 1
                .list__content Филе говядины натереть оливковым маслом, солью и перцем. Оставить мариноваться при комнатной температуре 20 минут.
            .list    
                .list__number 2
                .list__content Морковь и картофель очистить. Нарезать средними дольками. Цуккини нарезать так же. Отварить морковь и картофель в подсоленной, кипящей воде до полуготовности. Откинуть в ледяную воду и обсушить на салфетке.
            .list    
                .list__number 3
                .list__content В сковороде раскалить оставшееся оливковое масло, выложить цуккини, морковь и картофель. Обжарить до золотистого цвета, полить лимонным соком, приправить по вкусу и снять с огня.
            .list    
                .list__number 4
                .list__content На раскалённую сковороду выложить филе говядины, добавить раздавленный чеснок и орегано. Обжарить по одной минуте с двух сторон. Удалить зелень и чеснок, влить вино и слегка выпарить. Снять сковороду с огня.
            .list    
                .list__number 5
                .list__content Мясо выложить на противень и убрать в разогретую до 220˚С духовку на 10 минут.
            .list    
                .list__number 6
                .list__content В той же сковороде растопить сливочное масло, добавить сливки и выпарить наполовину. Снять с огня, перелить в блендер, добавить мяту и взбить до однородной массы. Процедить соус через сито и приправить по вкусу. При необходимости можно загустить соус крахмалом. Снова поставить сливки на огонь, довести до кипения и добавить разведенный в воде крахмал.
            .list    
                .list__number 7
                .list__content Филе говядины выложить на тарелку, рядом горячий гарнир и украсить соусом.
            .text__divider.detail__divider
            .detail__footer
                div
                    a.detail__link(href='#') Коллекция Zest
                .detail__shares
                    span Поделиться рецептом
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,lj"></div>
                    
include includes/footer
