include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--about.hidden-xs(src='./layout/images/about2.jpg')
        h1 О Rondell
        h3 Имя Röndell – это история Европы средних веков, рыцарского оружия и искусных мастеров. <br/>Посуда Röndell – это настоящее и будущее домашнего кулинарного мастерства.
        img.text__image.visible-xs(src='./layout/images/about2.jpg')
        p Профессионалы давно знают и любят Röndell за безупречное качество и эффективные технологии приготовления самых сложных блюд. Шеф-повара лучших европейских ресторанов и кафе первыми получают новинки от Röndell.
        p Теперь профессиональные технологии для кухни доступны каждому! Так звучит девиз нового направления Röndell – профессиональной посуды для дома.
        p Современные экологически чистые материалы и профессиональные технологии, контроль качества и творческие решения гармонично сочетаются в каждом предмете, в каждой коллекции Röndell.
        p Национальная Гильдия шеф-поваров подтверждает соответствие Röndell высоким стандартам качества и рекомендует посуду Röndell для профессионального использования.
        p Röndell – это технологии, стиль и вдохновение каждого Вашего дня!
            
    
include includes/footer
