include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 1
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--mission.hidden-xs(src='./layout/images/mission.jpg')
        h1 Миссия и&nbsp;ценности
        h3 
            strong Сочетая новейшие технологии с благородными традициями, изысканный дизайн с безусловным качеством, Röndell открывает вам мир высокой кухни.
        img.text__image.visible-xs(src='./layout/images/mission.jpg')
        p Ценности Röndell – это прочный фундамент, на котором строится вся деятельность бренда:
        .list
            .list__number 1
            .list__content
                .list__title Эстетика
                .list__description в эксклюзивном дизайне каждой коллекции, продуманных интерьерных решениях, дизайне упаковки, секретах и рекомендациях по сервировке.
        .list
            .list__number 2
            .list__content
                .list__title Творчество
                .list__description в авторских рецептах и кулинарной импровизации наших потребителей.
        .list
            .list__number 3
            .list__content
                .list__title Благородство
                .list__description в ответственности перед потребителями, поддержке благотворительных проектов.
        .list
            .list__number 4
            .list__content
                .list__title Профессионализм
                .list__description в технологиях, использовании самых современных научных достижений, управлении качеством.
include includes/footer
