include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 2
    .content__nav
        include includes/sub_nav
    .content__text.text
        h1 Награды и достижения
        .awards
            .awards__item
                img.awards__image(src='./layout/images/award-1.png')
                span.awards__year 2016
                span.awards__title 
                    | Коллекция наплитной посуды 
                    a(href='#') Charm
                    |  получает награду «Kitchen Innovation of the Year 2016».
            .awards__item
                img.awards__image(src='./layout/images/award-2.png')
                span.awards__year 2015
                span.awards__title 
                    | Коллекция  наплитной посуды 
                    a(href='#') Walzer
                    |  удостоена  звания  «Best of the Best»  на  международном конкурсе  «Kitchen Innovation of the Year 2015».
            .awards__item
                img.awards__image(src='./layout/images/award-3.png')
                span.awards__year 2015
                span.awards__title 
                    | Френч-пресс Inspire получает награду «Kitchen Innovation of the Year 2015».
            .awards__item
                img.awards__image(src='./layout/images/award-4.png')
                span.awards__year 2015
                span.awards__title 
                    | Бренд Rцndell удостоен платиновой награды «Favourite brand»
                .awards__link
                    a(href='#') http://kuecheninnovationspreis.de
            
            .awards__item
                img.awards__image(src='./layout/images/award-3.png')
                span.awards__year 2016
                span.awards__title 
                    | Коллекция Fancy и набор терок Comfort получают награду «Kitchen Innovation of the Year 2014»
                .awards__link
                    a(href='#') http://kuecheninnovationspreis.de
            .awards__item
                img.awards__image(src='./layout/images/award-5.png')
                span.awards__year 2015
                span.awards__title 
                    a(href='#') Золотая медаль "За успешное продвижение качественных товаров" коллекция Erste на конкурсе «СоюзЭкспертизы».
                .awards__link
                    a(href='#') http://soex.ru

            .awards__item
                img.awards__image(src='./layout/images/award-5.png')
                span.awards__year 2015
                span.awards__title 
                    | Две золотые медали «За высокие потребительские свойства товаров» получают ковш и кастрюля из коллекции 
                    a(href='#') Fancy 
                    | на конкурсе «СоюзЭкспертизы».
                .awards__link
                    a(href='#') http://soex.ru
            .awards__item
                img.awards__image(src='./layout/images/award-8.png')
                span.awards__year 2015
                span.awards__title 
                    | Золотая медаль «За высокие потребительские свойства товаров» коллекция 
                    a(href='#') Deep Burgundy
                    |   на конкурсе «СоюзЭкспертизы».

                .awards__link
                    a(href='#') http://soex.ru
        
include includes/footer
