include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 5
    .content__nav
        include includes/sub_nav
    .content__text.text
        .content__title
            h1 Рецепты
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  Тип блюда
                .dropdown__frame
                    a.dropdown__item(href='#') Тип 1
                    a.dropdown__item(href='#') Тип 2
                    a.dropdown__item(href='#') Тип 3
                    a.dropdown__item(href='#') Тип 4
                select.dropdown__select
                    option(data-value='Категория 1') Тип 1
                    option(data-value='Категория 2') Тип 2
                    option(data-value='Категория 3') Тип 3
                    option(data-value='Категория 4') Тип 4
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  Категория блюда
                .dropdown__frame
                    a.dropdown__item(href='#') Категория 1
                    a.dropdown__item(href='#') Категория 2
                    a.dropdown__item(href='#') Категория 3
                    a.dropdown__item(href='#') Категория 4
                select.dropdown__select
                    option(data-value='Категория 1') Категория 1
                    option(data-value='Категория 2') Категория 2
                    option(data-value='Категория 3') Категория 3
                    option(data-value='Категория 4') Категория 4
        .articles
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-1.jpg)', href='#')
                a.articles__name(href='#') Филе лосося с картофельно-грибным кремом и апельсиновым соусом
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
                    a.articles__tag(href='#') Ужин
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-2.jpg)', href='#')
                a.articles__name(href='#') Крем из белого шоколада с красным перцем
                .articles__tags
                    a.articles__tag(href='#') Десерты
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-3.jpg)', href='#')
                a.articles__name(href='#') Филе говядины с мятным соусом и лёгким овощным гарниром
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
                    
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-4.jpg)', href='#')
                a.articles__name(href='#') Блинчики с творожной начинкой
                .articles__tags
                    a.articles__tag(href='#') Завтрак
                    a.articles__tag(href='#') Десерты
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-5.jpg)', href='#')
                a.articles__name(href='#') Куриная грудка с яблочным чатни
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-6.jpg)', href='#')
                a.articles__name(href='#') Равиоли с мидиями
                .articles__tags
                    a.articles__tag(href='#') Ужин
                    a.articles__tag(href='#') Вторые блюда
                    
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-7.jpg)', href='#')
                a.articles__name(href='#') Филе трески с ароматом кофе и шоколадно-апельсиновым соусом
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
                    a.articles__tag(href='#') Ужин
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-8.jpg)', href='#')
                a.articles__name(href='#') Папарделле с белыми грибами и анчоусами
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-9.jpg)', href='#')
                a.articles__name(href='#') Суп-пюре из запечённой свеклы. Подаётся с заправкой из йогурта с травами
                .articles__tags
                    a.articles__tag(href='#') Первые блюда

include includes/footer
