include includes/header
- var activeNav = 1
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[1].items
    - var subNavActive = 0
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--social.hidden-xs(src='./layout/images/social.jpg')
        h1 Социальная ответственность
        p Свои успехи и достижения Röndell посвящает вам – покупателям, самым главным людям, ради которых мы постоянно развиваем бренд и его технологии. В основе вашей лояльности Röndell мы видим двустороннюю коммуникацию с вами: обратную связь и ваши пожелания и комментарии, оставляемые на «горячей линии», а также нашу благодарность за них в виде постоянно повышающегося качества нашей посуды, кухонных ножей и аксессуаров и расширенной гарантии на них до четверти века, в зависимости от материала и изделия.

        img.text__image.visible-xs(src='./layout/images/social.jpg')
        h3.m-margin-bottom Röndell также стремится разделить плоды своих успехов с теми, кому особенно нужны тепло и радость: бренд активно поддерживает различные благотворительные акции, а история нашего сотрудничества с фондом «Подари Жизнь» длиться уже более 7 лет!
        p Мы рады делать добро вместе с вами: часть средств от всех покупок посуды Röndell ежемесячно перечисляется в Фонд помощи детям с онкологическими заболеваниями. С начала акции с вашей помощью Röndell удалось помочь сотне детей, оплатив лечение на общую сумму более 48 000 000 рублей.
        p Спасибо, что вы с нами и помогаете умножать добро в мире!            
    
include includes/footer
