include includes/header
- var activeNav = 1
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[1].items
    - var subNavActive = 5
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--marketing.hidden-xs(src='./layout/images/marketing.jpg')
        h1 Маркетинговая поддержка
        h3 Благодаря активной маркетинговой стратегии бренд Röndell широко известен на территории России, стран СНГ и Восточной Европы. <br/><br/>Маркетинговая поддержка бренда Röndell всегда отвечает следующим принципам:

        img.text__image.visible-xs(src='./layout/images/marketing.jpg')
        p Особый способ нанесения антипригарных покрытий обеспечивает посуде Röndell не только долговечность и повышенную износостойкость, но и безупречный внешний вид на протяжении всего срока использования.
        p Технология «тройное вштампованное, а затем вплавленное дно» обеспечивает посуде Röndell равномерный прогрев всего изделия, блюда готовятся быстрее и экономнее, сохраняя максимум микроэлементов, питательных веществ и витаминов.
        p Ультрасовременный метод обработки металла – анодирование – позволил создать самую безопасную для здоровья, стойкую и стильную посуду Röndell из алюминия.
        p Современные материалы, применяемые Röndell в производстве корпуса и аксессуаров посуды – высококачественная нержавеющая сталь, литой алюминий, силикон, бакелит – экологически чистые и безопасные для здоровья, спокойно выдерживают высокие температуры, сохраняют прекрасный внешний вид и все свои свойства в течение всего срока службы и пригодны для интенсивного использования.
        p Посуда Röndell сделана так, чтобы Ваше питание было исключительно полноценным, действительно вкусным и максимально полезным для здоровья и настроения.

                    
    
include includes/footer
