include includes/header
- var activeNav = 1
<body class='page page--news'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        - var subNav = nav[1].items
        .content__nav
            include includes/sub_nav
        h1 Преимущества
            
        .articles.articles--benefits
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/b-1.jpg)', href='#')
                a.articles__name(href='#') Подарочная упаковка
                .articles__description.
                    В качестве подарка посуда Röndell всегда производит самое лучшее впечатление: с первого взгляда на её упаковку и навсегда.
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/b-2.jpg)', href='#')
                a.articles__name(href='#') Рекомендации профессионалов
                .articles__description.
                    Профессионалы выбирают Röndell, рекомендуют Röndell, готовят в Röndell, совершенствуются с Röndell и любят Röndell.
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/b-3.jpg)', href='#')
                a.articles__name(href='#') Социальная ответственность
                .articles__description.
                    Röndell знает, что разделить – не всегда означает уменьшить, ведь человеческие отношения не подчиняются законам математики. Мы стремимся как можно больше и чаще делить свой успех с теми, кому особенно необходимы помощь и поддержка.
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/b-4.jpg)', href='#')
                a.articles__name(href='#') Стиль и дизайн
                .articles__description.
                    Дизайнерские коллекции посуды и кухонных аксессуаров Röndell – стильное и уникальное решение для интерьера любой кухни.

            .articles__item
                a.articles__image(style='background-image: url(./layout/images/b-5.jpg)', href='#')
                a.articles__name(href='#') Технологии и материалы
                .articles__description.
                    Röndell приводит в ваш дом высокую кухню: безопасные материалы и передовые технологии профессиональной посуды теперь доступны каждому!
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/b-6.jpg)', href='#')
                a.articles__name(href='#') Маркетинговая поддержка
                .articles__description.
                    Каждый желающий может лично познакомится с посудой Röndell не только в магазине, но и в ходе различных светских, профессиональных и благотворительных мероприятий, в кулинарных рубриках ведущих СМИ.

            
                
                                
                
include includes/footer
