include includes/header
- var activeNav = 1
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[1].items
    - var subNavActive = 0
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--pack.hidden-xs(src='./layout/images/pack.jpg')
        h1 Подарочная упаковка
        h3 Внимание к деталям и творческий подход Röndell проявляется не только в дизайне посуды, но и в её стильной упаковке, благодаря чему посуду Röndell приятно дарить себе и своим близким.
        img.text__image.visible-xs(src='./layout/images/pack.jpg')
        p На упаковке всегда изображен предмет, который в ней находится, размещена основная информация о нем: форма, размеры, количество составляющих элементов, назначение, характеристики и рекомендации по эксплуатации. Особый знак Национальной Гильдии шеф-поваров на упаковке гарантирует высокое качество и оригинальность продукции Röndell.
        p Красочно и оригинально оформленная упаковка с посудой Röndell снабжена встроенными ручками для удобной переноски. Предметы, требующие аккуратного обращения, уложены в фирменные нетканые мешочки или завёрнуты в плотный полиэтилен. Практически в каждую упаковку с продуктами Röndell вложен подарок от бренда: буклет с авторскими рецептами от ведущих шеф-поваров мира, пошаговые инструкции по карвингу, уникальные советы по сервировке стола, буклеты с оригинальными чайными и кофейными напитками.
            
    
include includes/footer
