include includes/header
- var activeNav = 1
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[1].items
    - var subNavActive = 3
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--social.hidden-xs(src='./layout/images/style.jpg')
        h1 Стиль и дизайн
        p Röndell придает особое значение не только потребительским свойствам, но и внешнему виду своих изделий. Уникальный стиль авторских коллекций профессиональной посуды для дома – от эклектики и винтажа до традиционной классики – в сочетании с эксклюзивным дизайном каждого предмета Röndell придает процессу приготовления пищи особое настроение, вдохновляет на творчество и смелые кулинарные эксперименты!
        img.text__image.visible-xs(src='./layout/images/style.jpg')
        p В дизайне посуды Röndell используются интересные, но сдержанные и благородные оттенки: «золотистое шампанское», «мокрый асфальт», стальной, мягкий серый, умеренный красный, стильный черный. Сатинированная полировка стальных предметов придает им шарм и обаяние, ассоциируясь с домашним уютом.

                    
    
include includes/footer
