include includes/header
- var activeNav = 1
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[1].items
    - var subNavActive = 1
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--comments.hidden-xs(src='./layout/images/comments.jpg')
        h1 Рекомендации профессионалов
        h3 Röndell выбирают и рекомендуют всем, кто заботится о своем здоровье и качестве приготовленных блюд, настоящие гуру кулинарии и высокой кухни – профессиональные повара.
        img.text__image.visible-xs(src='./layout/images/comments.jpg')
        p В посуде Röndell готовят мастера высокой кухни авторской школы кулинарного искусства 
            a(href='#') P.Ro.stranstvo
            |  и 
            a(href='#') Итальянской Академии Del Gusto.
        p 
            a(href='#') Национальная Гильдия шеф-поваров 
            | подтверждает соответствие Röndell высочайшим стандартам качества и рекомендует её для профессионального использования.
    
    
include includes/footer
