include includes/header
- var activeNav = 4
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[3].items
    - var subNavActive = 1
    .content__nav
        include includes/sub_nav
    .content__text.text
        .content__title
            h1 Традиционная <br class='visible-sm'/>розница
            .city-select
                .city-select__col
                    .city-select__name Комсомольск-на-Амуре
                    a.city-select__change(href='#cities', data-toggle='modal') Выбрать другой город
                a.city-select__button(href='#', data-detail) Показать адреса
        script.
            function onCityChange(name, id) {
                console.log(name, id)
            }
        .map.map--inline(onCityChange='onCityChange' data-center='55.75583, 37.61778', data-items='{"14973":{"code":"tts-elizium","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.841138940575","37.180325388908"]},"14972":{"code":"trts-lira","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.729218610818","36.859506368637"]},"4681":{"code":"trts-vegas-krokus-siti","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.820970956932","37.3881483078"]},"4680":{"code":"trts-vesna","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.912982469456","37.584614753723"]},"4679":{"code":"trts-vegas","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.586106828035","37.724540233612"]},"4678":{"code":"trts-zolotoy-vavilon-rostokino-prospekt-mira","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.845614609674","37.666282653809"]},"4677":{"code":"trts-kapitoliy-pravoberezhnaya","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.881269021718","37.450053691864"]},"4676":{"code":"trts-kapitoliy-miklukho-maklaya","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.64108621529","37.530316114426"]},"4675":{"code":"trts-kapitoliy-sheremetievskaya-ulica","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.80318649999","37.618260383606"]},"5":{"code":"trts-afimoll","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.748757835995","37.538352012634"]},"4684":{"code":"trts-otrada","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.875876601739","37.33225107193"]},"4682":{"code":"tts-mitino","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.847819124002","37.360210418701"]},"13909":{"code":"tts-shchelkovo","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.810880028522","37.83084154129"]},"4809":{"code":"aeroport-vnukovo","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.602040310289","37.289417262655"]},"4808":{"code":"tts-ekspress-i-tias-pav-43","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.836359304822","37.574355840552"]},"4807":{"code":"tts-chas-pik","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.898676529671","37.629532098508"]},"4806":{"code":"tts-arkadiya","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.7445235569","37.630171000892"]},"4772":{"code":"tk-chas-pik-markos-moll","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.888023736143","37.58915519662"]},"4696":{"code":"trts-raduga-park","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.817534915428","60.537813662959"]},"4685":{"code":"tts-metro","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.399202278846","43.831646918989"]},"4686":{"code":"trts-evropark","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["64.533054529318","40.526753425074"]},"4687":{"code":"trk-alimpik","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["46.338439665733","48.023059845036"]},"14832":{"code":"trts-berkarar","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["37.893921494469","58.370093464764"]},"4688":{"code":"tts-turkmenistan","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["37.952471763117","58.369012713301"]},"4689":{"code":"tts-mega","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["50.267580665021","127.53659677499"]},"4691":{"code":"trts-manera","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["43.116892027988","131.8852182632"]},"14581":{"code":"magazin","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["48.778512884081","44.557116865981"]},"4693":{"code":"volgodonsk","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["47.512586775176","42.192860126233"]},"4697":{"code":"trts-aksion","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.847411314919","53.203001975489"]},"4698":{"code":"trts-evropa","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["54.718250230509","20.499857425166"]},"4699":{"code":"trts-rio-kaluga","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["54.515047035674","36.252099752164"]},"4700":{"code":"trts-gelios","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.914389483746","37.865781068867"]},"4701":{"code":"tts-solnechnyy-ray","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.829375052256","37.308999538291"]},"4703":{"code":"trts-sbs-mega-moll","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["45.034572745443","39.052197218007"]},"4702":{"code":"trts-mega-adygeya","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["45.013702163409","38.929049490835"]},"4704":{"code":"tts-lyuberetskie-torgovye-ryady","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.686034573718","37.898504018522"]},"4705":{"code":"tts-mirkato","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["42.983398630991","47.473239183164"]},"4706":{"code":"trts-iyun","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.919764529714","37.708889007044"]},"4784":{"code":"tts-xl-3","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.890289619783","37.7436354159"]},"4707":{"code":"tts-vester-giper","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["43.471687017022","43.586492121176"]},"4708":{"code":"tts-yutps-sever","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["61.083576756217","72.62363719914"]},"4709":{"code":"trts-ganza","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.314747238739","44.069988012379"]},"14575":{"code":"tts-etazhi-butik-tekse","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.316807656205","44.020534514857"]},"14574":{"code":"magazin-prestizh","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.321271445879","44.009359359479"]},"4710":{"code":"trts-gudzon","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["66.117958226279","76.670328855253"]},"4712":{"code":"trts-armada","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["51.843447682318","55.117318152334"]},"4713":{"code":"trk-mega-grinn","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["52.921533857688","36.012166499568"]},"4766":{"code":"tots-vit","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.008591964183","37.8520556687"]},"4768":{"code":"tts-viktoriya-plaza","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["54.6303234023","39.710113048586"]},"4769":{"code":"trts-avrora","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["51.52927182386","46.019324183399"]},"4770":{"code":"tts-agora","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["61.269162839639","73.382054328395"]},"4771":{"code":"trts-maksi","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["61.689918332308","50.803596495534"]},"4773":{"code":"trk-rio-tula","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["54.199549634991","37.636677503324"]},"4774":{"code":"trk-yarmarka","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["63.567148755483","53.706398964059"]},"4775":{"code":"trts-magaziny-radosti","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["48.489969070152","135.08307659629"]},"4776":{"code":"tts-kaskad","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.1356102673","47.240863323277"]},"4777":{"code":"trk-iyun-cherepovets","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["59.095968769807","37.925143718458"]},"4778":{"code":"trk-siti-moll","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["46.889742644638","142.7430750131"]},"4779":{"code":"magazin-nina-otdel-virineya","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["44.893493303315","37.312416672576"]},"4780":{"code":"td-vizavi","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.870954562312","38.200703144139"]},"4785":{"code":"tk-kemp","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.923884092078","38.001103877759"]},"4781":{"code":"ul-nedelina-2a","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.943433918115","37.974550008512"]},"4783":{"code":"td-saturn","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["60.966696156776","69.040572881568"]},"4782":{"code":"magazin-stiko","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["61.011150174195","69.03313243376"]},"4791":{"code":"magazin-moya-lyubimaya-sumochka","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.859258813035","35.903287053125"]},"4790":{"code":"tts-olimp","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.853132262896","35.907872557509"]},"4789":{"code":"tts-yuzhnyy","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.82028446153","35.902082204557"]},"4788":{"code":"smolenskaya-galereya-magazin-mir-sumok","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.854627771142","35.926214575702"]},"4787":{"code":"magazin-mir-sumok","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.857341160008","35.906874775919"]},"4786":{"code":"magazin-tysyacha-i-odna-sumka","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.860340968816","35.913707435066"]},"4792":{"code":"tts-klubnika-magazin-voyat","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["63.202572739077","75.466574907368"]},"4793":{"code":"tk-zelenogradskiy","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.979030750612","37.17166507231"]},"4795":{"code":"magazin-valentina-ul-mira","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["65.12360630704","57.160736561345"]},"4794":{"code":"magazin-valentina-ul-lenina","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["65.147144171072","57.231770038343"]},"4796":{"code":"ul-lesnaya-12","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["55.934011808949","37.843164682126"]},"4797":{"code":"magazin-mir-sumok-solnechnogorsk","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["56.188861200282","36.976410984862"]},"15049":{"code":"tts-tsum","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["43.019238918069","44.677276611328"]},"4798":{"code":"magazin-suvenir","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["43.033106795605","44.664249658454"]},"4805":{"code":"oao-yaroslavskaya-yarmarka","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.628638546487","39.861333847111"]},"4804":{"code":"tts-frunzenskiy","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.600170574268","39.875753939086"]},"4803":{"code":"tts-petrovskiy-passazh","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.620660986766","39.85870206343"]},"4802":{"code":"tts-mir-zhenshchiny","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.625551157775","39.88747787469"]},"4801":{"code":"tts-mig","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.625547232009","39.868384837973"]},"4800":{"code":"tts-lotos-m","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.695950901306","39.768524587171"]},"4799":{"code":"tts-gigant","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["57.636021288297","39.867751836646"]},"8061":{"code":"trts-arena-siti","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["53.937976195592","27.487857341766"]},"14233":{"code":"trts-murmansk-moll","name": "Эльдорадо", "phone": "+8 (800) 555-11-11", "address":"ул. Димитрова, 11", "coords":["68.956757478682","33.069319725037"]}}')

.detail-list
    .detail-list__wrap
        a.detail-list__close(href='#')
        
        .detail-list__content
            .scroll.scroll--fade
                .scroll__content
                    .scroll__wrap
                        .text
                            .dropdown.dropdown--gray.dropdown--big
                                a.dropdown__trigger(href='#') 
                                    span Сортировать по магазину
                                .dropdown__frame
                                    a.dropdown__item(href='#') Тип 1
                                    a.dropdown__item(href='#') Тип 2
                                    a.dropdown__item(href='#') Тип 3
                                    a.dropdown__item(href='#') Тип 4
                                select.dropdown__select
                                    option(data-value='Категория 1') Тип 1
                                    option(data-value='Категория 2') Тип 2
                                    option(data-value='Категория 3') Тип 3
                                    option(data-value='Категория 4') Тип 4
                            br
                            br
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11
                            .text__divider.m-margin-top.l-margin-bottom
                            h4 Эльдорадо
                            p Телефон: +8 (800) 555-11-11 <br /> Адрес: ул. Димитрова, 11

#cities.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
        .modal-content
            a.modal__close(href='#', data-dismiss="modal")
            .scroll.scroll--fade
                .scroll__content.cities
                    .scroll__wrap
                        .cities__content
                            .cities__title А
                            .cities__col
                                a.cities__link(href='#', data-id='123') Абакан
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ангарск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Астрахань
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Алапаевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Арзамас
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ачинск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Армавир
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск                    
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Архангельск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__title Б
                            .cities__col
                                a.cities__link(href='#', data-id='123') Абакан
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ангарск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Астрахань
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Алапаевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Арзамас
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ачинск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Армавир
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск                    
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Архангельск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__title В
                            .cities__col
                                a.cities__link(href='#', data-id='123') Абакан
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ангарск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Астрахань
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Алапаевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Арзамас
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ачинск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Армавир
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск                    
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Архангельск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__title Г
                            .cities__col
                                a.cities__link(href='#', data-id='123') Абакан
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ангарск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Астрахань
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Алапаевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Арзамас
                            .cities__col
                                a.cities__link(href='#', data-id='123') Ачинск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Армавир
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск                    
                            .cities__col
                                a.cities__link(href='#', data-id='123') Амурск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Архангельск
                            .cities__col
                                a.cities__link(href='#', data-id='123') Альметьевск
                            






include includes/footer
