include includes/header
- var activeNav = 4
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[3].items
    - var subNavActive = 2
    .content__nav
        include includes/sub_nav
    .content__text.text
        h1 Сетевая розница
        p Покупая посуду Rondell в магазинах из списка ниже, Вы можете быть уверены в ее качестве.
        .retail
            .retail__item
                .retail__image
                    img(src='./layout/images/net-1.png')
                .retail__info Тел.: +7 (495) 645-05-35
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-2.png')
                .retail__info Тел.: 8 (800) 200-777-5
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-3.png')
                .retail__info Тел.: 8 (800) 777-8-777
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-4.png')
                .retail__info Тел.: 8 (800) 555-11-11
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-5.png')
                .retail__info Тел.: +7 (495) 970-05-05
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-6.png')
                .retail__info Тел.: 8 (800) 3333-008
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-7.png')
                .retail__info Тел.: +7 (812) 324-55-55
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-8.png')
                .retail__info Тел.: +7 (495) 287-49-01
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-9.png')
                .retail__info Тел.: 8 (800) 700-00-10
                a.retail__link(href='#') Адреса магазинов
            .retail__item
                .retail__image
                    img(src='./layout/images/net-10.png')
                .retail__info Тел.: +7 (812) 622-22-22
                a.retail__link(href='#') Адреса магазинов

include includes/footer
