include includes/header
- var activeNav = 4
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[3].items
    - var subNavActive = 0
    .content__nav
        include includes/sub_nav
    .content__text.text
        h1 Интернет-магазины
        p Покупая посуду Rondell в интернет магазинах из списка ниже, Вы можете быть уверены в ее качестве.        
        a.goldermall.goldermall--big(href='#')
            .goldermall__title Официальный интернет-магазин
            img.goldermall__logo(src='./layout/images/golder-logo-1.png')
            .goldermall__phone +7 (495) 212-07-11
        .estores
            .estores__item.estores__item--big
                .estores__col 
                    a.estores__link(href='#') Интернет-магазин Golder Electronics
                    small Телефон: +7 (495) 212-07-11<br/>Режим работы: пн-пт с 9:00 до&nbsp;18:00
                .estores__col Фирменный интернет-магазин, который открылся специально для комфорта пользователей и потребителей. Таким образом на одной площадке собран весь ассортимент продукции Rondell
                .estores__col
                    img.hidden-xs(src='./layout/images/golder-logo-2.png')
            .estores__title
                .estores__col Название
                .estores__col Режим работы
                .estores__col Телефон
                .estores__col Привечание
            .estores__item
                .estores__col 
                    a.estores__link(href='#') rondell-shop.ru
                .estores__col C 10 до 19 часов с понедельника по пятницу
                .estores__col +7 (495) 782-58-27
                .estores__col 
            .estores__item
                .estores__col 
                    a.estores__link(href='#') rondell-mag.ru
                .estores__col С 8 до 23 часов ежедневно
                .estores__col +7 (495) 660-37-05
                .estores__col 
            .estores__item
                .estores__col 
                    a.estores__link(href='#') rondell- aposuda.ru
                .estores__col Круглосуточно, ежедневно
                .estores__col +7 (495) 997-17-55
                .estores__col 
            .estores__item
                .estores__col 
                    a.estores__link(href='#') rondell-store.ru
                .estores__col C 9 до 18 часов с понедельника по пятницу
                .estores__col +7 (343) 361-21-43
                .estores__col г. Екатеринбург
include includes/footer
