include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__nav
            .nav
                a.nav__item(href='./catalog.html') Категории
                a.nav__item(href='./catalog-collections.html') Коллекции
        .content__title
            h1 Артикулы
            .dropdown.dropdown--gray.dropdown--big.text__dropdown
                a.dropdown__trigger(href='#') 
                    span Сортировать по названию
                .dropdown__frame
                    a.dropdown__item(href='#') Тип 1
                    a.dropdown__item(href='#') Тип 2
                    a.dropdown__item(href='#') Тип 3
                    a.dropdown__item(href='#') Тип 4
                select.dropdown__select
                    option(data-value='Категория 1') Тип 1
                    option(data-value='Категория 2') Тип 2
                    option(data-value='Категория 3') Тип 3
                    option(data-value='Категория 4') Тип 4
        .artnumbers
            .artnumbers__title
                .artnumbers__col Артикул
                .artnumbers__col Наименование
                .artnumbers__col Коллекция
                .artnumbers__col Стоимость
                .artnumbers__col Фото
            - var i = 0
            while i < 10
                .artnumbers__item
                    .artnumbers__col
                        .artnumbers__label Артикул
                        .artnumbers__code RDS-753
                    .artnumbers__col
                        .artnumbers__label Наименование
                        a.artnumbers__name(href='#') Кастрюля Rondell Balance&nbsp;2л 
                    .artnumbers__col
                        .artnumbers__label Коллекция
                        a.artnumbers__collection(href='#') Balance
                    .artnumbers__col
                        .artnumbers__label Стоимость
                        .artnumbers__price 2390 ₽
                    .artnumbers__col
                        a.artnumbers__photo(href='#', style='background-image: url(./layout/images/prod-1.jpg)', data-images="[{\"src\":\"./layout/images/prod-1.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-2.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-3.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-4.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-5.jpg\",\"w\":700,\"h\":517}]")
                - i++
include includes/footer

.pswp(tabindex='-1', role='dialog', aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
        .pswp__container
            .pswp__item
            .pswp__item
            .pswp__item
        .pswp__ui.pswp__ui--hidden
            .pswp__top-bar
                .pswp__counter
                button.pswp__button.pswp__button--close(title='Close (Esc)')
                button.pswp__button.pswp__button--share(title='Share')
                button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                .pswp__preloader
                    .pswp__preloader__icn
                        .pswp__preloader__cut
                            .pswp__preloader__donut
            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                .pswp__share-tooltip
            button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
            button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
            .pswp__caption
                .pswp__caption__center
