include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .collection
            a.collection__download
                img(src='./layout/images/svg/download.svg', alt="")
            .collection__image(style='background-image: url(./layout/images/col.jpg)')
            .collection__content
                .collection__back
                    a.back(href='#') 
                        img(src="./layout/images/svg/back.svg", alt="")
                        Назад к списку коллекций
                h1.collection__name Коллекция Balance
                .collection__descriptions
                    .collection__description.collection__description--short
                        p Всегда находиться в гармонии и соблюдать баланс... Такая философия полностью воплотилась в коллекции посуды Balance.  Выполненные из нержавеющей стали кастрюли и ковш,  а также сковороды из алюминия гармонично сочетаются друг с другом благодаря единому цветовому решению и стилистике. Каждый элемент посуды  продуман до мелочей для того, чтобы готовить с любовью и удовольствием. 
                    .collection__description.collection__description--full
                        p Всегда находиться в гармонии и соблюдать баланс... Такая философия полностью воплотилась в коллекции посуды Balance.  Выполненные из нержавеющей стали кастрюли и ковш,  а также сковороды из алюминия гармонично сочетаются друг с другом благодаря единому цветовому решению и стилистике. Каждый элемент посуды  продуман до мелочей для того, чтобы готовить с любовью и удовольствием. 
                        p Всегда находиться в гармонии и соблюдать баланс... Такая философия полностью воплотилась в коллекции посуды Balance.  Выполненные из нержавеющей стали кастрюли и ковш,  а также сковороды из алюминия гармонично сочетаются друг с другом благодаря единому цветовому решению и стилистике. Каждый элемент посуды  продуман до мелочей для того, чтобы готовить с любовью и удовольствием. 
                        p Всегда находиться в гармонии и соблюдать баланс... Такая философия полностью воплотилась в коллекции посуды Balance.  Выполненные из нержавеющей стали кастрюли и ковш,  а также сковороды из алюминия гармонично сочетаются друг с другом благодаря единому цветовому решению и стилистике. Каждый элемент посуды  продуман до мелочей для того, чтобы готовить с любовью и удовольствием. 
                .center.xs-left
                    a.collection__trigger(href='#') Подробнее
            
        .products
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-2.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
                .products__badge.badge.badge--red Новинка
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-3.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-5.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
                .products__badge.badge.badge--gray Архив
            a.products__item(href='#')
                .products__name Ковш<br/>Rondell Balance 1,4 л 
                .products__image(style='background-image: url(./layout/images/prod-4.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Сковорода<br/>Rondell Balance 22 см
                .products__image(style='background-image: url(./layout/images/prod-6.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
        .text__divider
        h2 Рецепты вкусных блюд
        .articles
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-1.jpg)', href='#', data-detail)
                a.articles__name(href='#', data-detail) Филе лосося с картофельно-грибным кремом и апельсиновым соусом
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
                    a.articles__tag(href='#') Ужин
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-2.jpg)', href='#', data-detail)
                a.articles__name(href='#', data-detail) Крем из белого шоколада с красным перцем
                .articles__tags
                    a.articles__tag(href='#') Десерты
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-3.jpg)', href='#', data-detail)
                a.articles__name(href='#', data-detail) Филе говядины с мятным соусом и лёгким овощным гарниром
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
include includes/footer
