include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__slider
            .slider.slider--relative
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider2.png)')
                    .slider__content
                        .slider__category Новинки
                        .slider__title Коллекция Mocco
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider2.png)')
                    .slider__content
                        .slider__category Новинки
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider2.png)')
                    .slider__content
                        .slider__category Новинки
                        .slider__title Коллекция Mocco
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
        .text__divider.xl-margin-top.xl-margin-bottom
        .content__title
            h3.center.xs-left
                strong Все коллекции
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  Сначала новые
                .dropdown__frame
                    a.dropdown__item(href='#') Тип 1
                    a.dropdown__item(href='#') Тип 2
                    a.dropdown__item(href='#') Тип 3
                    a.dropdown__item(href='#') Тип 4
                select.dropdown__select
                    option(data-value='Категория 1') Тип 1
                    option(data-value='Категория 2') Тип 2
                    option(data-value='Категория 3') Тип 3
                    option(data-value='Категория 4') Тип 4
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  Количество предметов
                .dropdown__frame
                    a.dropdown__item(href='#') Категория 1
                    a.dropdown__item(href='#') Категория 2
                    a.dropdown__item(href='#') Категория 3
                    a.dropdown__item(href='#') Категория 4
                select.dropdown__select
                    option(data-value='Категория 1') Категория 1
                    option(data-value='Категория 2') Категория 2
                    option(data-value='Категория 3') Категория 3
                    option(data-value='Категория 4') Категория 4
        .collections
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
            a.collections__item(href='#')
                .collections__name Admiring
                .collections__image(style='background-image:url(./layout/images/col-1.png)')
            a.collections__item(href='#')
                .collections__name Balance
                .collections__image(style='background-image:url(./layout/images/col-2.png)')
            a.collections__item(href='#')
                .collections__name Charm
                .collections__image(style='background-image:url(./layout/images/col-3.png)')
                .collections__badge.badge.badge--red Новинка
            a.collections__item(href='#')
                .collections__name Bojole
                .collections__image(style='background-image:url(./layout/images/col-4.png)')
            a.collections__item(href='#')
                .collections__name Empire
                .collections__image(style='background-image:url(./layout/images/col-5.png)')
            a.collections__item(href='#')
                .collections__name Royal Blue
                .collections__image(style='background-image:url(./layout/images/col-6.png)')
            a.collections__item(href='#')
                .collections__name Marengo
                .collections__image(style='background-image:url(./layout/images/col-7.png)')
            a.collections__item(href='#')
                .collections__name Infinity
                .collections__image(style='background-image:url(./layout/images/col-8.png)')
                .collections__badge.badge.badge--gray Архив
            a.collections__item(href='#')
                .collections__name Premiere
                .collections__image(style='background-image:url(./layout/images/col-9.png)')
include includes/footer
