include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__nav
            a.back(href='#') 
                img(src="./layout/images/svg/back.svg", alt="")
                Назад к списку категорий
            a.button.button--gray.button--auto(href='./catalog-artnumbers.html') артикулы товаров
        h1 Кастрюли
        .filter.filter--inline
            .filter__col
                button.button.button--gray(data-filter-trigger) Показать фильтр
            .filter__col
                .dropdown.dropdown--gray.dropdown--height
                    a.dropdown__trigger(href='#') 
                        span Категория
                    .dropdown__frame
                        a.dropdown__item(href='#') Категория 1
                        a.dropdown__item(href='#') Категория 2
                        a.dropdown__item(href='#') Категория 3
                        a.dropdown__item(href='#') Категория 4
                    select.dropdown__select
                        option(data-value='Категория 1') Категория 1
                        option(data-value='Категория 2') Категория 2
                        option(data-value='Категория 3') Категория 3
                        option(data-value='Категория 4') Категория 4
            .filter__col
                .dropdown.dropdown--gray.dropdown--height
                    a.dropdown__trigger(href='#') 
                        span Коллекция
                    .dropdown__frame
                        a.dropdown__item(href='#') Коллекция 1
                        a.dropdown__item(href='#') Коллекция 2
                        a.dropdown__item(href='#') Коллекция 3
                        a.dropdown__item(href='#') Коллекция 4
                    select.dropdown__select
                        option(data-value='Коллекция 1') Коллекция 1
                        option(data-value='Коллекция 2') Коллекция 2
                        option(data-value='Коллекция 3') Коллекция 3
                        option(data-value='Коллекция 4') Коллекция 4
            .filter__col
                .dropdown.dropdown--gray.dropdown--height
                    a.dropdown__trigger(href='#')
                        span Материал
                    .dropdown__frame
                        a.dropdown__item(href='#') Материал c очень
                        a.dropdown__item(href='#') Материал 2
                        a.dropdown__item(href='#') Материал 3
                        a.dropdown__item(href='#') Материал 4
                    select.dropdown__select
                        option(data-value='Материал 1') Материал 1
                        option(data-value='Материал 2') Материал 2
                        option(data-value='Материал 3') Материал 3
                        option(data-value='Материал 4') Материал 4
            .filter__col
                .dropdown.dropdown--gray.dropdown--height
                    a.dropdown__trigger(href='#')
                        span Цвет
                    .dropdown__frame
                        a.dropdown__item(href='#') Цвет 1
                        a.dropdown__item(href='#') Цвет 2
                        a.dropdown__item(href='#') Цвет 3
                        a.dropdown__item(href='#') Цвет 4
                    select.dropdown__select
                        option(data-value='Цвет 1') Цвет 1
                        option(data-value='Цвет 2') Цвет 2
                        option(data-value='Цвет 3') Цвет 3
                        option(data-value='Цвет 4') Цвет 4
            .filter__col
                button.button подобрать
        .products
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-5.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Кастрюля Rondell Balance 2 л Кастрюля Rondell Balance 2 л  Кастрюля Rondell Balance 2 л
                .products__image(style='background-image: url(./layout/images/prod-4.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
                .products__badge.badge.badge--red Новинка
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-6.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-5.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
                .products__badge.badge.badge--gray Архив
            a.products__item(href='#')
                .products__name Ковш<br/>Rondell Balance 1,4 л 
                .products__image(style='background-image: url(./layout/images/prod-4.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Сковорода<br/>Rondell Balance 22 см
                .products__image(style='background-image: url(./layout/images/prod-6.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
        .text__divider
        h2 Рецепты вкусных блюд
        .articles
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-1.jpg)', href='#', data-detail)
                a.articles__name(href='#', data-detail) Филе лосося с картофельно-грибным кремом и апельсиновым соусом
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
                    a.articles__tag(href='#') Ужин
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-2.jpg)', href='#', data-detail)
                a.articles__name(href='#', data-detail) Крем из белого шоколада с красным перцем
                .articles__tags
                    a.articles__tag(href='#') Десерты
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/r-3.jpg)', href='#', data-detail)
                a.articles__name(href='#', data-detail) Филе говядины с мятным соусом и лёгким овощным гарниром
                .articles__tags
                    a.articles__tag(href='#') Вторые блюда
include includes/footer
