include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__nav
            a.back(href='#') 
                img(src="./layout/images/svg/back.svg", alt="")
                Назад к списку категорий
            a.button.button--gray.button--auto(href='./catalog-artnumbers.html') артикулы товаров
            
        .product
            h1.product__title.visible-xs
                | Кастрюля Rondell 
                a(href='#') Fancy
            .product__images(data-images="[{\"src\":\"./layout/images/prod-1.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-2.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-3.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-4.jpg\",\"w\":700,\"h\":517},{\"src\":\"./layout/images/prod-5.jpg\",\"w\":700,\"h\":517}]")
                a.product__zoom
                    img(src='./layout/images/svg/zoom.svg', alt="")  
                a.product__download
                    img(src='./layout/images/svg/download.svg', alt="")        
                
                .product__main
                    .badge.badge--red Новинка
                    .product__big.product__big--active(data-id='1', style='background-image: url(./layout/images/prod-1.jpg)', data-big='./layout/images/prod-1.jpg')
                        
                    .product__big(data-id='2', style='background-image: url(./layout/images/prod-2.jpg)', data-big='./layout/images/prod-2.jpg')
                    .product__big(data-id='3', style='background-image: url(./layout/images/prod-3.jpg)', data-big='./layout/images/prod-3.jpg')
                    .product__big(data-id='4', style='background-image: url(./layout/images/prod-4.jpg)', data-big='./layout/images/prod-4.jpg')
                    .product__big(data-id='5', style='background-image: url(./layout/images/prod-5.jpg)', data-big='./layout/images/prod-5.jpg')
                .product__hover
                .product__thumbnails
                    div
                        .product__thumbnail(data-id='1', style='background-image: url(./layout/images/prod-1.jpg)')
                    div
                        .product__thumbnail(data-id='2', style='background-image: url(./layout/images/prod-2.jpg)')
                    div
                        .product__thumbnail(data-id='3', style='background-image: url(./layout/images/prod-3.jpg)')
                    div
                        .product__thumbnail(data-id='4', style='background-image: url(./layout/images/prod-4.jpg)')
                    div
                        .product__thumbnail(data-id='5', style='background-image: url(./layout/images/prod-5.jpg)')
                        
            .product__content
                h1.product__title.hidden-xs
                    | Кастрюля Rondell 
                    a(href='#') Fancy
                .product__row.product__meta
                    .product__col Артикул: RDS-397
                    .product__col Коллекция:&nbsp;
                        a(href='#') Fancy
                .product__props
                    .product__prop.prop
                        img.prop__icon(src='./layout/images/svg/i1.svg')
                        .prop__value 20 см
                    .product__prop.prop
                        img.prop__icon(src='./layout/images/svg/i2.svg')
                        .prop__value 2 л
                .product__table
                    .product__row.product__list
                        .product__col Материал
                        .product__col Высококачественная нержавеющая сталь 18/10
                    .product__row.product__list
                        .product__col Основной цвет
                        .product__col Стальной
                    .product__row.product__list
                        .product__col Технология
                        .product__col Глубокое травление для внешнего оформления
                    .product__row.product__list
                        .product__col Внутреннее покрытие
                        .product__col Тройное вштампованное, а затем вплавленное дно
                    .product__row.product__list
                        .product__col Внешнее покрытие
                        .product__col Без покрытия
                        
                    .product__row.product__list
                        .product__col Толщина стенок
                        .product__col Стальной
                    .product__row.product__list
                        .product__col Толщина дна
                        .product__col Глубокое травление для внешнего оформления
                    .product__row.product__list
                        .product__col Материал крышки
                        .product__col Тройное вштампованное, а затем вплавленное дно
                    .product__row.product__list
                        .product__col Аксессуары
                        .product__col Без покрытия
                .product__row.product__links
                    .product__col
                        a.product__link(href='#', data-table)
                            img(src='/layout/images/svg/info.svg')
                            span Все характеристики
                    .product__col
                        a.product__link(href='#')
                            img(src='/layout/images/svg/list.svg')
                            span Скачать инструкцию
                .product__row.hidden-sm.product__store
                    .product__col.product__price
                        | 1123 ₽
                    .product__col
                        a.product__button(href='#')
                            | Купить
                        small Переход в официальный<br/> интернет-магазин
                .product__tools.hidden-sm
                    a.product__tool(href='#')
                        include ../../public_html/layout/images/svg/i3.svg
                        | Особенности<br/> технологий rondell
                    a.product__tool(href='#')
                        include ../../public_html/layout/images/svg/i4.svg
                        | Рекомендации<br/> по уходу
            
            .product__footer.hidden-lg.hidden-md.hidden-xs
                .product__col.product__tools
                    a.product__tool(href='#')
                        include ../../public_html/layout/images/svg/i3.svg
                        | Особенности<br/>технологий rondell
                    a.product__tool(href='#')
                        include ../../public_html/layout/images/svg/i4.svg
                        | Рекомендации<br/>по уходу
                .product__col
                    .product__price
                        | 1123 Р
                    a.product__button(href='#')
                        | Купить
                    small Переход в официальный<br/>интернет-магазин

        h2.m-margin-bottom Другие товары этой коллекции
        .products.products--small.products--slider
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
                    .products__badge.badge.badge--red.badge--small Новинка
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
                    
        h2.m-margin-bottom Вы уже смотрели
        .products.products--small.products--slider
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
                    .products__badge.badge.badge--red.badge--small Новинка
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
                    
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753
            div
                a.products__item(href='#')
                    .products__name Кастрюля<br/>Rondell Balance 2 л 
                    .products__image(style='background-image: url(./layout/images/prod-1.jpg)')
                    .products__price 2390 ₽
                    .products__artnumber RDS-753

include includes/footer

.pswp(tabindex='-1', role='dialog', aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
        .pswp__container
            .pswp__item
            .pswp__item
            .pswp__item
        .pswp__ui.pswp__ui--hidden
            .pswp__top-bar
                .pswp__counter
                button.pswp__button.pswp__button--close(title='Close (Esc)')
                button.pswp__button.pswp__button--share(title='Share')
                button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                .pswp__preloader
                    .pswp__preloader__icn
                        .pswp__preloader__cut
                            .pswp__preloader__donut
            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                .pswp__share-tooltip
            button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
            button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
            .pswp__caption
                .pswp__caption__center
