include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content
    .catalog
        .catalog__filter.filter.filter--full
            .filter__col.filter__title Каталог
            .filter__col
                button.filter__button.button.button--white(data-filter-trigger) Показать фильтр
            .filter__col
                .dropdown
                    a.dropdown__trigger(href='#') 
                        span Категория
                    .dropdown__frame
                        a.dropdown__item(href='#') Категория 1
                        a.dropdown__item(href='#') Категория 2
                        a.dropdown__item(href='#') Категория 3
                        a.dropdown__item(href='#') Категория 4
                    select.dropdown__select
                        option(data-value='Категория 1') Категория 1
                        option(data-value='Категория 2') Категория 2
                        option(data-value='Категория 3') Категория 3
                        option(data-value='Категория 4') Категория 4
            .filter__col
                .dropdown
                    a.dropdown__trigger(href='#') 
                        span Коллекция
                    .dropdown__frame
                        a.dropdown__item(href='#') Коллекция 1
                        a.dropdown__item(href='#') Коллекция 2
                        a.dropdown__item(href='#') Коллекция 3
                        a.dropdown__item(href='#') Коллекция 4
                    select.dropdown__select
                        option(data-value='Коллекция 1') Коллекция 1
                        option(data-value='Коллекция 2') Коллекция 2
                        option(data-value='Коллекция 3') Коллекция 3
                        option(data-value='Коллекция 4') Коллекция 4
            .filter__col
                .dropdown
                    a.dropdown__trigger(href='#')
                        span Материал
                    .dropdown__frame
                        a.dropdown__item(href='#') Материал c очень
                        a.dropdown__item(href='#') Материал 2
                        a.dropdown__item(href='#') Материал 3
                        a.dropdown__item(href='#') Материал 4
                    select.dropdown__select
                        option(data-value='Материал 1') Материал 1
                        option(data-value='Материал 2') Материал 2
                        option(data-value='Материал 3') Материал 3
                        option(data-value='Материал 4') Материал 4
            .filter__col
                .dropdown
                    a.dropdown__trigger(href='#')
                        span Цвет
                    .dropdown__frame
                        a.dropdown__item(href='#') Цвет 1
                        a.dropdown__item(href='#') Цвет 2
                        a.dropdown__item(href='#') Цвет 3
                        a.dropdown__item(href='#') Цвет 4
                    select.dropdown__select
                        option(data-value='Цвет 1') Цвет 1
                        option(data-value='Цвет 2') Цвет 2
                        option(data-value='Цвет 3') Цвет 3
                        option(data-value='Цвет 4') Цвет 4
            .filter__col
                button.button.filter__button подобрать
            .filter__col
                a(href='./catalog-artnumbers.html').filter__button.button.button--gray.button--auto артикулы товаров
        .catalog__categories
            a.category.category--big(href='./catalog-category.html')
                .category__name Посуда<br/>для&nbsp;приготовления<br/>из&nbsp;нержавеющей стали
                .category__image(style='background-image: url(./layout/images/section-1.png)')
                .category__background
            a.category.category--big(href='./catalog-category.html')
                .category__name Посуда<br/>для&nbsp;приготовления<br/>из&nbsp;алюминия
                .category__image(style='background-image: url(./layout/images/section-2.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Чайники
                .category__image(style='background-image: url(./layout/images/section-3.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Кухонные<br/>ножи
                .category__image(style='background-image: url(./layout/images/section-4.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Кухонные аксессуары и&nbsp;навеска
                .category__image(style='background-image: url(./layout/images/section-5.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Столовые<br/>приборы
                .category__image(style='background-image: url(./layout/images/section-6.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Формы для&nbsp;духовки
                .category__image(style='background-image: url(./layout/images/section-7.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Крышки для&nbsp;посуды
                .category__image(style='background-image: url(./layout/images/section-8.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Посуда для&nbsp;приготовления из&nbsp;чугуна
                .category__image(style='background-image: url(./layout/images/section-9.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Подарки
                .category__image(style='background-image: url(./layout/images/section-10.png)')
                .category__background
            a.category(href='./catalog-category.html')
                .category__name Столовая сервировка
                .category__image(style='background-image: url(./layout/images/section-11.png)')
                .category__background
            
 

include includes/footer
