include includes/header
- var activeNav = 7
<body class='page page--news'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.content__text--half.text
        h1 Контакты
        p 
            | По вопросам приобретения продукции связывайтесь с официальным 
            a(href='#') интернет-магазином GolderMall
            | <br/>Телефон интернет-магазина: +7 (495) 212-07-11

        p
            | Центральный офис<br/>
            | Адрес: Пестовский переулок, д 10 стр 1<br/>
            | Электронная почта: 
            a(href='#') info@rondell.ru
            | <br/>Телефон: +7 (495) 921-01-60<br/>
            | Факс: +7 (495) 921-01-90<br/>
            | Режим работы: пн-пт с 9:00 до 18:00
        br
        p Обратная связь
        form.form(id="", method="", action="")
            input.form__input(type='text', placeholder='Ваше имя')
            input.form__input(type='email', placeholder='Ваш e-mail')
            textarea.form__textarea(placeholder='Сообщение')
            .form__footer
                .form__col
                    label.form__label Введите данный код
                    .form__captcha(style='background-image: url(./layout/images/captcha.jpg)')
                a.form__refresh(href='#')
                    img(src='./layout/images/svg/refresh.svg')
                .form__col
                    label.form__label в это поле<br/>
                    input.form__input.form__input--captcha(type='text')
                button.form__button(type='submit') отправить
    .map(data-center='55.745777, 37.660096', data-zoom='17')
include includes/footer
