include includes/header
- var activeNav = 2
<body class='page page--how'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__nav
        .nav
            a(href="#", class="nav__item nav__item--active") Кастрюли
            a(href="#", class="nav__item") Сковороды
            a(href="#", class="nav__item") Формы для духового шкафа
            a(href="#", class="nav__item") Кухонные ножи и столовые приборы
            a(href="#", class="nav__item") Аксессуары для кухни
            a(href="#", class="nav__item") Чайники
    .content__text.text
        img.text__image.text__image--how.hidden-xs(src='./layout/images/mission.jpg')    

        h1 Сковороды
        h3 Особый вкус любимых блюд
        img.text__image.text__image--how.visible-xs(src='./layout/images/mission.jpg')    
        p Сотейник или вок? Чугунная, стальная или алюминиевая сковорода? Соберите свою коллекцию уникальной посуды Röndell для приготовления блюд народов мира и придания аутентичного вкуса вашим кулинарным шедеврам!
        
        .row
            .col-xs-12.col-sm-12
                .text__divider
                h2 Материал
                
        .how
            .row
                .col-xs-12.col-sm-8
                    .row
                        .col-xs-12.col-sm-3
                            h3  Алюминий
                        .col-xs-12.col-sm-9
                            p Отличная теплопроводность сковород Röndell – кованых, штампованных и литых – гарант быстрого и качественного приготовления самых вкусных блюд.
                        .col-xs-12.col-sm-12
                            .text__divider
                    .row
                        .col-xs-12.col-sm-3
                            h3  Нержавеющая сталь
                        .col-xs-12.col-sm-9
                            p Для изготовления посуды Röndell используется высококачественная нержавеющая сталь 18/10 с 18% хрома и 10% никеля. Это прочный и практичный материал с высокими антикоррозионными свойствами, гигиеничный и очень простой в уходе.
                        .col-xs-12.col-sm-12
                            .text__divider
                    .row
                        .col-xs-12.col-sm-3
                            h3  Чугун
                        .col-xs-12.col-sm-9
                            p За века приготовления в чугуне этот материал зарекомендовал себя, как идеальный для приготовления лёгких, полезных блюда с минимальным использованием жира. Неповторимый вкус знакомых блюд станет вашей настоящей кулинарной «фишкой»!
                .col-xs-12.col-sm-4
                    img(src='./layout/images/mission.jpg')
        .text__divider
        .how
            .row
                .col-xs-12
                    h2 Диаметр сковороды
                    

                .col-xs-12.col-sm-8
                    p Несколько сковород диаметром от 18 до 32 мм — «минимальный набор» кулинара. Для приготовления тушёных блюд понадобится сотейник: сковорода диаметром 24-28 см с высокими бортиками.
                    .row.xxl-margin-top
                        .col-xs-12.col-sm-3
                            h3  Диаметр 18-22 см
                        .col-xs-12.col-sm-9
                            p Посуда для приготовления оладий, блинов, омлетов. 
                        .col-xs-12.col-sm-12
                            .text__divider
                    .row
                        .col-xs-12.col-sm-3
                            h3 Диаметр 18-32 см
                        .col-xs-12.col-sm-9
                            p Сковороды для жарки мясных блюд, овощей, рыбы, гарниров, а также пассировки.
                        .col-xs-12.col-sm-12
                            .text__divider
                    .row
                        .col-xs-12.col-sm-3
                            h3  Диаметр 32 см
                        .col-xs-12.col-sm-9
                            p Этот размер присущ воку — сковороде специальной формы для приготовления блюд восточной и восточно-азиатской кухни.
                .col-xs-12.col-sm-4
                    img(src='./layout/images/mission.jpg')
                
include includes/footer
