include includes/header
- var activeNav = 2
<body class='page page--how'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__nav
        .nav
            a(href="#", class="nav__item") Кастрюли
            a(href="#", class="nav__item") Сковороды
            a(href="#", class="nav__item") Формы для духового шкафа
            a(href="#", class="nav__item") Кухонные ножи и столовые приборы
            a(href="#", class="nav__item") Аксессуары для кухни
            a(href="#", class="nav__item") Чайники
    .content__text.text
        h1 Как выбирать посуду
        h3 Посуда и аксессуары для кухни Röndell сделают вас настоящим шеф-поваром!
        p Создавайте блюда своей мечты с помощью высокотехнологичной и стильной посуды и аксессуаров, привносите уют в свой дом и удивляйте своих близких! Размер, материал и внутреннее покрытие Röndell разработаны с учётом рекомендаций ведущих шеф-поваров мира, чтобы вы тратили как можно меньше времени на приготовление самых восхитительных блюд с наилучшим результатом.
        p Готовить с Röndell – это удовольствие!
        
        .collections.collections--how
            a.collections__item(href='#')
                .collections__name Кастрюли
                .collections__image(style='background-image:url(./layout/images/how-1.jpg)')
            a.collections__item(href='#')
                .collections__name Сковороды
                .collections__image(style='background-image:url(./layout/images/how-2.jpg)')
            a.collections__item(href='#')
                .collections__name Формы для духового шкафа
                .collections__image(style='background-image:url(./layout/images/how-3.jpg)')
            a.collections__item(href='#')
                .collections__name Кухонные ножи и столовые приборы
                .collections__image(style='background-image:url(./layout/images/how-4.jpg)')
            a.collections__item(href='#')
                .collections__name Аксессуары для кухни
                .collections__image(style='background-image:url(./layout/images/how-5.jpg)')
            a.collections__item(href='#')
                .collections__name Чайники
                .collections__image(style='background-image:url(./layout/images/how-6.jpg)')
        
include includes/footer
