include includes/header
<body class='page page--index'>
include includes/sidebar
include includes/toolbar


.page__content
    .page__promo
        .page__slider
            .slider
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider.jpg)')
                    .slider__content
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider.jpg)')
                    .slider__content
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider.jpg)')
                    .slider__content
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
        .page__categories
            a.category(href='#')
                .category__name Посуда из&nbsp;нержавеющей стали
                .category__image(style='background-image: url(./layout/images/c-1.png)')
                .category__background
            a.category(href='#')
                .category__name Посуда из&nbsp;алюминия
                .category__image(style='background-image: url(./layout/images/c-2.png)')
                .category__background
            a.category(href='#')
                .category__name Чайники
                .category__image(style='background-image: url(./layout/images/c-3.png)')
                .category__background
    .filter.page__filter
        .filter__col.filter__title Подобор посуды
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Категория
                .dropdown__frame
                    a.dropdown__item(href='#') Категория 1
                    a.dropdown__item(href='#') Категория 2
                    a.dropdown__item(href='#') Категория 3
                    a.dropdown__item(href='#') Категория 4
                select.dropdown__select
                    option(data-value='Категория 1') Категория 1
                    option(data-value='Категория 2') Категория 2
                    option(data-value='Категория 3') Категория 3
                    option(data-value='Категория 4') Категория 4
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Коллекция
                .dropdown__frame
                    a.dropdown__item(href='#') Коллекция 1
                    a.dropdown__item(href='#') Коллекция 2
                    a.dropdown__item(href='#') Коллекция 3
                    a.dropdown__item(href='#') Коллекция 4
                select.dropdown__select
                    option(data-value='Коллекция 1') Коллекция 1
                    option(data-value='Коллекция 2') Коллекция 2
                    option(data-value='Коллекция 3') Коллекция 3
                    option(data-value='Коллекция 4') Коллекция 4
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Материал
                .dropdown__frame
                    a.dropdown__item(href='#') Материал 1
                    a.dropdown__item(href='#') Материал 2
                    a.dropdown__item(href='#') Материал 3
                    a.dropdown__item(href='#') Материал 4
                select.dropdown__select
                    option(data-value='Материал 1') Материал 1
                    option(data-value='Материал 2') Материал 2
                    option(data-value='Материал 3') Материал 3
                    option(data-value='Материал 4') Материал 4
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Цвет
                .dropdown__frame
                    a.dropdown__item(href='#') Цвет 1
                    a.dropdown__item(href='#') Цвет 2
                    a.dropdown__item(href='#') Цвет 3
                    a.dropdown__item(href='#') Цвет 4
                select.dropdown__select
                    option(data-value='Цвет 1') Цвет 1
                    option(data-value='Цвет 2') Цвет 2
                    option(data-value='Цвет 3') Цвет 3
                    option(data-value='Цвет 4') Цвет 4
        .filter__col
            button.button.filter__button подобрать
    
include includes/footer
