include includes/header
<body class='page page--index'>
include includes/sidebar
include includes/toolbar


.page__content
    .page__promo
        .page__slider
            .slider
                
                .slider__item
                    link(href='./banner/gwdpage_style.css', rel='stylesheet', data-version='8', data-exports-type='gwd-page')
                    link(href='./banner/gwdpagedeck_style.css', rel='stylesheet', data-version='8', data-exports-type='gwd-pagedeck')
                    link(href='./banner/gwdimage_style.css', rel='stylesheet', data-version='9', data-exports-type='gwd-image')
                    style#gwd-lightbox-style(type='text/css').
                        .gwd-lightbox{overflow:hidden}
                    style#gwd-text-style(type='text/css').
                        p{margin:0px}h1{margin:0px}h2{margin:0px}h3{margin:0px}
                    style(type='text/css').
                        .gwd-page-container{position:relative;width:100%;height:100%}.gwd-page-content{transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-webkit-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-moz-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);perspective:1400px;-webkit-perspective:1400px;-moz-perspective:1400px;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;position:absolute;background-color:transparent}.gwd-page-wrapper{position:absolute;transform:translateZ(0);-webkit-transform:translateZ(0);-moz-transform:translateZ(0);background-color:#fff}.gwd-page-size{width:100%;height:100%}.gwd-div-1gpq{background-image:-webkit-radial-gradient(ellipse closest-side, #fff 0, #9e9e9e 100%);background-image:-moz-radial-gradient(ellipse closest-side, #fff 0, #9e9e9e 100%);background-image:radial-gradient(ellipse closest-side, #fff 0, #9e9e9e 100%);background-repeat:no-repeat;background-color:#9e9e9e}.gwd-img-1oow{position:absolute;width:563px;height:781px;left:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;top:100%;transform:translate3d(-603px, -781px, 0);-webkit-transform:translate3d(-603px, -781px, 0);-moz-transform:translate3d(-603px, -781px, 0)}.gwd-img-1quu{position:absolute;width:2371px;height:2009px;top:50%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;left:50%;transform:translate3d(-1185px, -1004px, 0);-webkit-transform:translate3d(-1185px, -1004px, 0);-moz-transform:translate3d(-1185px, -1004px, 0)}[data-gwd-group="texts"] .gwd-grp-1hwo.gwd-img-1c4a{position:absolute;width:155px;height:167px;left:0%;top:100%;transform:translate3d(0, -167px, 0);-webkit-transform:translate3d(0, -167px, 0);-moz-transform:translate3d(0, -167px, 0);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}[data-gwd-group="texts"] .gwd-grp-1hwo.gwd-img-1ktj{position:absolute;width:375px;height:115px;left:0%;transform:translate3d(0, -26px, 0);-webkit-transform:translate3d(0, -26px, 0);-moz-transform:translate3d(0, -26px, 0);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;top:50%}[data-gwd-group="texts"] .gwd-grp-1hwo.gwd-img-1nuc{position:absolute;width:588px;height:263px;left:0%;top:12.14%}[data-gwd-group="texts"]{width:1110px;height:810px}.gwd-div-180m{position:absolute;left:0%;top:100%;transform:translate3d(0, -810px, 0);-webkit-transform:translate3d(0, -810px, 0);-moz-transform:translate3d(0, -810px, 0);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}@media (max-height:209px) and (max-width:449px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1014px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-1185px, -1014px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-1185px, -1014px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:309px) and (max-width:449px) and (min-height:210px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1024px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-1185px, -1024px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-1185px, -1024px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:409px) and (max-width:449px) and (min-height:310px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-363px, -500px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-363px, -500px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-363px, -500px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:509px) and (max-width:449px) and (min-height:410px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-363px, -500px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-363px, -500px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-363px, -500px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -723px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-1185px, -723px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-1185px, -723px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:609px) and (max-width:449px) and (min-height:510px){.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-383px, -527px, 0) scale3d(.35, .35, .35);-webkit-transform:translate3d(-383px, -527px, 0) scale3d(.35, .35, .35);-moz-transform:translate3d(-383px, -527px, 0) scale3d(.35, .35, .35);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-361px, -547px, 0) scale3d(.35, .35, .35);-webkit-transform:translate3d(-361px, -547px, 0) scale3d(.35, .35, .35);-moz-transform:translate3d(-361px, -547px, 0) scale3d(.35, .35, .35);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -683px, 0) scale3d(.32, .32, .32);-webkit-transform:translate3d(-1185px, -683px, 0) scale3d(.32, .32, .32);-moz-transform:translate3d(-1185px, -683px, 0) scale3d(.32, .32, .32);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:709px) and (max-width:449px) and (min-height:610px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-355px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-355px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-355px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-416px, -506px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-416px, -506px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-416px, -506px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -552px, 0) scale3d(.45, .45, .45);-webkit-transform:translate3d(-1185px, -552px, 0) scale3d(.45, .45, .45);-moz-transform:translate3d(-1185px, -552px, 0) scale3d(.45, .45, .45);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:809px) and (max-width:449px) and (min-height:710px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-388px, -526px, 0) scale3d(.3, .3, .3);-webkit-transform:translate3d(-388px, -526px, 0) scale3d(.3, .3, .3);-moz-transform:translate3d(-388px, -526px, 0) scale3d(.3, .3, .3);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-369px, -508px, 0) scale3d(.3, .3, .3);-webkit-transform:translate3d(-369px, -508px, 0) scale3d(.3, .3, .3);-moz-transform:translate3d(-369px, -508px, 0) scale3d(.3, .3, .3);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -502px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-1185px, -502px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-1185px, -502px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-width:449px) and (min-height:810px){.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -402px, 0) scale3d(.6, .6, .6);-webkit-transform:translate3d(-1185px, -402px, 0) scale3d(.6, .6, .6);-moz-transform:translate3d(-1185px, -402px, 0) scale3d(.6, .6, .6);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-416px, -506px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-416px, -506px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-416px, -506px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-368px, -508px, 0) scale3d(.3, .3, .3);-webkit-transform:translate3d(-368px, -508px, 0) scale3d(.3, .3, .3);-moz-transform:translate3d(-368px, -508px, 0) scale3d(.3, .3, .3);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:209px) and (max-width:599px) and (min-width:450px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:309px) and (max-width:599px) and (min-height:210px) and (min-width:450px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.3, .3, .3);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.3, .3, .3);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.3, .3, .3);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:409px) and (max-width:599px) and (min-height:310px) and (min-width:450px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-webkit-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-moz-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.3, .3, .3);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.3, .3, .3);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.3, .3, .3);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:509px) and (max-width:599px) and (min-height:410px) and (min-width:450px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-400px, -547px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-400px, -547px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-400px, -547px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-305px, -587px, 0) scale3d(.45, .45, .45);-webkit-transform:translate3d(-305px, -587px, 0) scale3d(.45, .45, .45);-moz-transform:translate3d(-305px, -587px, 0) scale3d(.45, .45, .45);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:609px) and (max-width:599px) and (min-height:510px) and (min-width:450px){.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-400px, -547px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-400px, -547px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-400px, -547px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:709px) and (max-width:599px) and (min-height:610px) and (min-width:450px){.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -603px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-1185px, -603px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-1185px, -603px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:809px) and (max-width:599px) and (min-height:710px) and (min-width:450px){.gwd-div-180m{left:0%;top:100%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -502px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-1185px, -502px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-1185px, -502px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-width:599px) and (min-height:810px) and (min-width:450px){.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -452px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-1185px, -452px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-1185px, -452px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-399px, -547px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:209px) and (max-width:749px) and (min-width:600px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.35, .35, .35);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.35, .35, .35);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.35, .35, .35);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:309px) and (max-width:749px) and (min-height:210px) and (min-width:600px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.35, .35, .35);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.35, .35, .35);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.35, .35, .35);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:409px) and (max-width:749px) and (min-height:310px) and (min-width:600px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-webkit-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-moz-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.35, .35, .35);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.35, .35, .35);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.35, .35, .35);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:509px) and (max-width:749px) and (min-height:410px) and (min-width:600px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.38, .38, .38);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.38, .38, .38);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.38, .38, .38);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:609px) and (max-width:749px) and (min-height:510px) and (min-width:600px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-451px, -605px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-451px, -605px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-451px, -605px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:709px) and (max-width:749px) and (min-height:610px) and (min-width:600px){.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-451px, -605px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-451px, -605px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-451px, -605px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:809px) and (max-width:749px) and (min-height:710px) and (min-width:600px){.gwd-div-180m{left:0%;top:100%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-446px, -605px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-446px, -605px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-446px, -605px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-width:749px) and (min-height:810px) and (min-width:600px){.gwd-img-1quu{top:0%;transform:translate3d(-1185px, -452px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-1185px, -452px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-1185px, -452px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-441px, -605px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-441px, -605px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-441px, -605px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-222px, -648px, 0) scale3d(.6, .6, .6);-webkit-transform:translate3d(-222px, -648px, 0) scale3d(.6, .6, .6);-moz-transform:translate3d(-222px, -648px, 0) scale3d(.6, .6, .6);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:209px) and (max-width:959px) and (min-width:750px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1054px, 0) scale3d(.45, .45, .45);-webkit-transform:translate3d(-1185px, -1054px, 0) scale3d(.45, .45, .45);-moz-transform:translate3d(-1185px, -1054px, 0) scale3d(.45, .45, .45);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:309px) and (max-width:959px) and (min-height:210px) and (min-width:750px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:409px) and (max-width:959px) and (min-height:310px) and (min-width:750px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-webkit-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-moz-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:509px) and (max-width:959px) and (min-height:410px) and (min-width:750px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.48, .48, .48);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.48, .48, .48);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.48, .48, .48);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:609px) and (max-width:959px) and (min-height:510px) and (min-width:750px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);-webkit-transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);-moz-transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:709px) and (max-width:959px) and (min-height:610px) and (min-width:750px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-484px, -644px, 0) scale3d(.65, .65, .65);-webkit-transform:translate3d(-484px, -644px, 0) scale3d(.65, .65, .65);-moz-transform:translate3d(-484px, -644px, 0) scale3d(.65, .65, .65);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:809px) and (max-width:959px) and (min-height:710px) and (min-width:750px){.gwd-div-180m{left:0%;top:100%;transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-499px, -664px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-499px, -664px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-499px, -664px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-width:959px) and (min-height:810px) and (min-width:750px){.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.85, .85, .85);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.85, .85, .85);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.85, .85, .85);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-484px, -664px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-484px, -664px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-484px, -664px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-139px, -709px, 0) scale3d(.75, .75, .75);-webkit-transform:translate3d(-139px, -709px, 0) scale3d(.75, .75, .75);-moz-transform:translate3d(-139px, -709px, 0) scale3d(.75, .75, .75);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:209px) and (max-width:1109px) and (min-width:960px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1054px, 0) scale3d(.47, .47, .47);-webkit-transform:translate3d(-1185px, -1054px, 0) scale3d(.47, .47, .47);-moz-transform:translate3d(-1185px, -1054px, 0) scale3d(.47, .47, .47);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:309px) and (max-width:1109px) and (min-height:210px) and (min-width:960px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.45, .45, .45);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.45, .45, .45);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.45, .45, .45);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:409px) and (max-width:1109px) and (min-height:310px) and (min-width:960px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-webkit-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-moz-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:509px) and (max-width:1109px) and (min-height:410px) and (min-width:960px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.54, .54, .54);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.54, .54, .54);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.54, .54, .54);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:609px) and (max-width:1109px) and (min-height:510px) and (min-width:960px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);-webkit-transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);-moz-transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:709px) and (max-width:1109px) and (min-height:610px) and (min-width:960px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-528px, -683px, 0) scale3d(.75, .75, .75);-webkit-transform:translate3d(-528px, -683px, 0) scale3d(.75, .75, .75);-moz-transform:translate3d(-528px, -683px, 0) scale3d(.75, .75, .75);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-111px, -729px, 0) scale3d(.8, .8, .8);-webkit-transform:translate3d(-111px, -729px, 0) scale3d(.8, .8, .8);-moz-transform:translate3d(-111px, -729px, 0) scale3d(.8, .8, .8);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:809px) and (max-width:1109px) and (min-height:710px) and (min-width:960px){.gwd-div-180m{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;left:0%;top:100%;transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);-webkit-transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);-moz-transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9)}.gwd-img-1oow{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;left:100%;top:100%;transform:translate3d(-569px, -734px, 0) scale3d(.88, .88, .88);-webkit-transform:translate3d(-569px, -734px, 0) scale3d(.88, .88, .88);-moz-transform:translate3d(-569px, -734px, 0) scale3d(.88, .88, .88)}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-width:1109px) and (min-height:810px) and (min-width:960px){.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.75, .75, .75);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.75, .75, .75);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.75, .75, .75);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{left:0%;top:100%;transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);-webkit-transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);-moz-transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{left:100%;top:100%;transform:translate3d(-555px, -742px, 0) scale3d(.9, .9, .9);-webkit-transform:translate3d(-555px, -742px, 0) scale3d(.9, .9, .9);-moz-transform:translate3d(-555px, -742px, 0) scale3d(.9, .9, .9);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:209px) and (min-width:1110px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-444px, -486px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-webkit-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);-moz-transform:translate3d(-348px, -469px, 0) scale3d(.2, .2, .2);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1054px, 0) scale3d(.47, .47, .47);-webkit-transform:translate3d(-1185px, -1054px, 0) scale3d(.47, .47, .47);-moz-transform:translate3d(-1185px, -1054px, 0) scale3d(.47, .47, .47);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:309px) and (min-height:210px) and (min-width:1110px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-webkit-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);-moz-transform:translate3d(-400px, -518px, 0) scale3d(.28, .28, .28);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-webkit-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);-moz-transform:translate3d(-362px, -488px, 0) scale3d(.25, .25, .25);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1034px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-1185px, -1034px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-1185px, -1034px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:409px) and (min-height:310px) and (min-width:1110px){.gwd-div-180m{top:100%;left:0%;transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-webkit-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);-moz-transform:translate3d(-333px, -567px, 0) scale3d(.4, .4, .4);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-webkit-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);-moz-transform:translate3d(-413px, -539px, 0) scale3d(.38, .38, .38);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:509px) and (min-height:410px) and (min-width:1110px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-webkit-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);-moz-transform:translate3d(-437px, -586px, 0) scale3d(.5, .5, .5);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-250px, -628px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.55, .55, .55);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:609px) and (min-height:510px) and (min-width:1110px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);-webkit-transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);-moz-transform:translate3d(-484px, -637px, 0) scale3d(.63, .63, .63);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-webkit-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);-moz-transform:translate3d(-166px, -688px, 0) scale3d(.7, .7, .7);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.6, .6, .6);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:709px) and (min-height:610px) and (min-width:1110px){.gwd-img-1oow{top:100%;left:100%;transform:translate3d(-528px, -683px, 0) scale3d(.75, .75, .75);-webkit-transform:translate3d(-528px, -683px, 0) scale3d(.75, .75, .75);-moz-transform:translate3d(-528px, -683px, 0) scale3d(.75, .75, .75);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-div-180m{top:100%;left:0%;transform:translate3d(-111px, -729px, 0) scale3d(.8, .8, .8);-webkit-transform:translate3d(-111px, -729px, 0) scale3d(.8, .8, .8);-moz-transform:translate3d(-111px, -729px, 0) scale3d(.8, .8, .8);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (max-height:809px) and (min-height:710px) and (min-width:1110px){.gwd-div-180m{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;left:0%;top:100%;transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);-webkit-transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9);-moz-transform:translate3d(-55px, -769px, 0) scale3d(.9, .9, .9)}.gwd-img-1oow{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;left:100%;top:100%;transform:translate3d(-569px, -734px, 0) scale3d(.88, .88, .88);-webkit-transform:translate3d(-569px, -734px, 0) scale3d(.88, .88, .88);-moz-transform:translate3d(-569px, -734px, 0) scale3d(.88, .88, .88)}.gwd-img-1quu{transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.65, .65, .65);transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}}@media (min-height:810px) and (min-width:1110px){.gwd-img-1quu{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform:translate3d(-1185px, -1004px, 0) scale3d(.85, .85, .85);-webkit-transform:translate3d(-1185px, -1004px, 0) scale3d(.85, .85, .85);-moz-transform:translate3d(-1185px, -1004px, 0) scale3d(.85, .85, .85)}}
                    script(data-source='./banner/googbase_min.js', data-version='3', data-exports-type='googbase', src='./banner/googbase_min.js')
                    script(data-source='./banner/gwd_webcomponents_min.js', data-version='5', data-exports-type='gwd_webcomponents', src='./banner/gwd_webcomponents_min.js')
                    script(data-source='./banner/gwdpage_min.js', data-version='8', data-exports-type='gwd-page', src='./banner/gwdpage_min.js')
                    script(data-source='./banner/gwdpagedeck_min.js', data-version='8', data-exports-type='gwd-pagedeck', src='./banner/gwdpagedeck_min.js')
                    script(data-source='./banner/gwdgenericad_min.js', data-version='4', data-exports-type='gwd-genericad', src='./banner/gwdgenericad_min.js')
                    script(data-source='./banner/gwdimage_min.js', data-version='9', data-exports-type='gwd-image', src='./banner/gwdimage_min.js')
                    script(type='text/javascript', src='./banner/gwdid.min.1.0.js', gwd-gwdid-version='1.0')
                    gwd-genericad#gwd-ad(style='position: absolute; top: 0; left: 0; width: 100%; height: 100%;')
                        #pagedeck.gwd-page-container(is='gwd-pagedeck')
                            #page1.gwd-page-wrapper.gwd-page-size.gwd-lightbox.gwd-div-1gpq(is='gwd-page', data-gwd-width='100%', data-gwd-height='100%')
                                .gwd-page-content.gwd-page-size
                                    img#kitchen.gwd-img-1quu(is='gwd-image', source='./banner/kitchen.jpg')
                                    img#girl.gwd-img-1oow(is='gwd-image', source='./banner/girl.png')
                                    #texts.gwd-div-180m(data-gwd-group='texts')
                                        img.gwd-img-1c4a.gwd-grp-1hwo(is='gwd-image', source='./banner/10___.png', data-gwd-grp-id='ten')
                                        img.gwd-img-1ktj.gwd-grp-1hwo(is='gwd-image', source='./banner/discl.png', data-gwd-grp-id='discl_1')
                                        img.gwd-img-1nuc.gwd-grp-1hwo(is='gwd-image', source='./banner/slogan.png', data-gwd-grp-id='slogan_1')
                    script#gwd-init-code(type='text/javascript').
                        (function() {
                        var gwdAd = document.getElementById('gwd-ad');
                        
                        function handleDomContentLoaded(event) {
                        }
                        
                        function handleWebComponentsReady(event) {
                            
                            setTimeout(function() {
                                gwdAd.initAd();
                            }, 0);
                        }
                        
                        function handleAdInitialized(event) {}
                            window.addEventListener('DOMContentLoaded', handleDomContentLoaded, false);
                            window.addEventListener('WebComponentsReady', handleWebComponentsReady, false);
                            window.addEventListener('adinitialized', handleAdInitialized, false);
                        })();
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider-old.jpg)')
                    .slider__content
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider-old.jpg)')
                    .slider__content
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                .slider__item
                    .slider__image(style='background-image: url(./layout/images/slider-old.jpg)')
                    .slider__content
                        .slider__title Коллекция Mocco&Latte
                        .slider__description Дизайн, который подходит каждой кухне.<br/>Качество, проверенное временем.
                        a.slider__button(href='#') Посмотреть
                
        .page__categories
            a.category(href='#')
                .category__name Посуда из&nbsp;нержавеющей стали
                .category__image(style='background-image: url(./layout/images/c-1.png)')
                .category__background
            a.category(href='#')
                .category__name Посуда из&nbsp;алюминия
                .category__image(style='background-image: url(./layout/images/c-2.png)')
                .category__background
            a.category(href='#')
                .category__name Чайники
                .category__image(style='background-image: url(./layout/images/c-3.png)')
                .category__background
    .filter.page__filter
        .filter__col.filter__title Подобор посуды
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Категория
                .dropdown__frame
                    a.dropdown__item(href='#') Категория 1
                    a.dropdown__item(href='#') Категория 2
                    a.dropdown__item(href='#') Категория 3
                    a.dropdown__item(href='#') Категория 4
                select.dropdown__select
                    option(data-value='Категория 1') Категория 1
                    option(data-value='Категория 2') Категория 2
                    option(data-value='Категория 3') Категория 3
                    option(data-value='Категория 4') Категория 4
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Коллекция
                .dropdown__frame
                    a.dropdown__item(href='#') Коллекция 1
                    a.dropdown__item(href='#') Коллекция 2
                    a.dropdown__item(href='#') Коллекция 3
                    a.dropdown__item(href='#') Коллекция 4
                select.dropdown__select
                    option(data-value='Коллекция 1') Коллекция 1
                    option(data-value='Коллекция 2') Коллекция 2
                    option(data-value='Коллекция 3') Коллекция 3
                    option(data-value='Коллекция 4') Коллекция 4
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Материал
                .dropdown__frame
                    a.dropdown__item(href='#') Материал 1
                    a.dropdown__item(href='#') Материал 2
                    a.dropdown__item(href='#') Материал 3
                    a.dropdown__item(href='#') Материал 4
                select.dropdown__select
                    option(data-value='Материал 1') Материал 1
                    option(data-value='Материал 2') Материал 2
                    option(data-value='Материал 3') Материал 3
                    option(data-value='Материал 4') Материал 4
        .filter__col
            .dropdown.dropdown--top
                a.dropdown__trigger(href='#') 
                    span  Цвет
                .dropdown__frame
                    a.dropdown__item(href='#') Цвет 1
                    a.dropdown__item(href='#') Цвет 2
                    a.dropdown__item(href='#') Цвет 3
                    a.dropdown__item(href='#') Цвет 4
                select.dropdown__select
                    option(data-value='Цвет 1') Цвет 1
                    option(data-value='Цвет 2') Цвет 2
                    option(data-value='Цвет 3') Цвет 3
                    option(data-value='Цвет 4') Цвет 4
        .filter__col
            button.button.filter__button подобрать
    
include includes/footer
