include includes/header
- var activeNav = 7
<body class='page page--news'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__nav
            a.back(href='#') 
                img(src="./layout/images/svg/back.svg", alt="")
                Назад к списку новостей
        .detail
            img.text__image.text__image--news(src='./layout/images/mission.jpg')
            .detail__date 5 февраля 2016
            
            h1 Коллекция посуды The One от Röndell
            
            p Röndell на мировом рынке профессиональной  посуды с 1988 года, на рынке России – с 2006 года,  и за эти годы стал  признанным экспертом в области разработки дизайна и технологий посуды.  

            blockquote Бренд Röndell дополнил свой ассортимент уникальной коллекцией посуды из литого алюминия The One.

            p Коллекция посуды  The One –  это настоящая находка для всех любителей кулинарии, а особенно рады ей будут те потребители, которые не любят заполнять кухню бесчисленными предметами различной кухонной утвари.  Коллекция посуды The One позволит кулинарам легко воплощать в жизнь блюда различной сложности на плите и в духовке, а также экономить пространство на кухне благодаря съемной ручке.

            p В коллекции представлены кастрюля, сковорода, сотейник, стеклянная крышка с паровыпуском диаметром 24 см и съемная ручка — это полноценный комплект посуды для небольшой семьи.

            p Почитатели бренда обязательно оценят удобство использования и хранения сковороды и ковша  данной коллекции.  Если рецептура требует приготовления блюда в духовке, Вы можете легко переместить посуду при помощи ручки и ручку отсоединить. Такая технология позволяет без проблем размещать посуду в холодильнике или посудомоечной машине.

            p Уникальным решением в коллекции  The One стало универсальное использование сотейника.  Предмет посуды можно использовать не только как сотейник, но и как сковороду, форму для выпечки и полноценную литую крышку для томления блюд. При таком методе приготовления продукты сохраняют сочность, все полезные свойства и приобретают великолепный насыщенный вкус. То есть всего один предмет посуды позволит Вам жарить, тушить, запекать блюда, и делать вкуснейшую выпечку. 

            p Коллекция The One дополнена кастрюлей такого же диаметра, что и сотейник (24 см): это позволяет компактно хранить посуду на кухне. В кастрюле для Вашего удобства также предусмотрены съемные ненагревающиеся силиконовые ручки: теперь кастрюля не выскользнет из Ваших рук, и Вы можете безопасно мыть ее в посудомоечной машине.  

            p В коллекции также предусмотрена крышка с паровыпуском из термостойкого стекла толщиной 4мм: она подходит как для кастрюли, так и для сковороды и сотейника. Отверстие для выхода пара помогает контролировать процесс приготовления пищи и давление пара.

            p Важным преимуществом посуды коллекции The One является материал, из которого она выполнена. Литой алюминий  (толщина корпуса —2,5мм /дна — 3,0мм) 2,5мм /дна — 3,0мм) не деформируется благодаря толщине корпуса и высокой плотности материала, что делает  посуду данной коллекции прочной и долговечной.

            p Благодаря безопасному внутреннему двухслойному антипригарному покрытию Xylan от известной компании Whitford посуда служит долгие годы, а блюда готовятся без пригорания, сохраняя все полезные свойства.

            p Коллекция посуды The One от Röndell  — легкое приготовление любимых блюд и удобное хранение посуды!
            .text__divider.detail__divider
            .detail__footer
                a.back(href='#') 
                    img(src="./layout/images/svg/back.svg", alt="")
                    Назад к списку новостей
                .detail__shares
                    span Поделиться новостью
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,lj"></div>         
            

            
                
include includes/footer
