include includes/header
- var activeNav = 7
<body class='page page--news'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__title
            h1 Новости
            script.
                function newsDropdownChange(text, value) {
                    console.log('Dropdown: ' + text + ', ' + value)
                }
            .dropdown.dropdown--gray.dropdown--big.text__dropdown.text__dropdown--short(onChange='newsDropdownChange')
                a.dropdown__trigger(href='#') 
                    span  2016
                .dropdown__frame
                    a.dropdown__item(href='#') 2015
                    a.dropdown__item(href='#') 2014
                select.dropdown__select
                    option(data-value='2016', value='1') 2016
                    option(data-value='2015', value='2') 2015
                    option(data-value='2014', value='3') 2014
        .articles.articles--news
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-1.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Коллекция посуды Infinity от Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-2.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Чайник из нержавеющей стали Premiere от Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-3.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Марафон искусств на Таганке
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-4.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Конкурс «Рецепты здоровых и полезных блюд» с Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-5.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Победителей конкурса Röndell выберет певица Валерия
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-6.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Röndell представляет новую коллекцию посуды из нержавеющей стали Bojole
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-7.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Мир кино с Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-8.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Röndell перечислил 347 745 рублей, которые пошли на оплату лечения Артема
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-9.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Жилой комплекс «Баркли Медовая долина» с Röndell и VITEK
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-10.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Новая коллекция посуды из нержавеющей стали Charm от Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-11.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Kitchen Innovation of the Year 2016
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-12.jpg)', href='#')
                .articles__date 20 июня 2016
                a.articles__name(href='#') Коллекция посуды The One от Röndell
        .pages
            a.pages__item(href='#') 1
            a.pages__item(href='#') 2
            a.pages__item(href='#') 3
            a.pages__item(href='#') 4            
                    
                
include includes/footer
