include includes/header
- var activeNav = 4
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text.text--center
        h1 Вход для партнеров
        p.center Для входа в партнерский раздел необходима авторизация
        form.form.form--center(id="", method="", action="")
            input.form__input(type='email', placeholder='Е-mail')
            input.form__input(type='password', placeholder='Пароль')
            button.form__button(type='submit') авторизоваться
            a.form__link(href='#') Забыли пароль?
include includes/footer
