include includes/header
- var activeNav = 5
- var showProfile = true
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text.text--center
        h1 Восстановление пароля
        p.center Пожалуйста, введите e-mail, указанный при регистрации
        form.form.form--center(id="", method="", action="")
            input.form__input(type='email', placeholder='Е-mail')
            button.form__button(type='submit') Восстановить пароль
            a.form__link(href='#') Авторизация
include includes/footer
