include includes/header
- var activeNav = 5
- var showProfile = true
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[5].items
    - var subNavActive = 2
    .content__nav
        include includes/sub_nav
        .content__profile.profile
            .profile__name Константин Константинопольский
            .profile__links
                a.profile__link(href='#') Выйти
                a.profile__link(href='#') Сменить пароль
    .content__text.text
        h1 Рассылка новостей
        h3.m-margin-bottom
            strong.stronger Константин Константинопольский
        p Вы подписаны на нашу новостную рассылку. <br/>Чтобы отписаться, снимите чекбокс напротив названия рассылки и нажмите “Сохранить”
        form.form.form--short(id="", method="", action="")
            .xxl-margin-top
                input.hidden(type='checkbox', id='check')
                label.form__checkbox(for='check') Новости компании Rondell
            button.xxl-margin-top.form__button(type='submit') Сохранить
include includes/footer
