include includes/header
- var activeNav = 5
- var showProfile = true
<body class='page page--news'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[5].items
    - var subNavActive = 1
    .content__nav
        include includes/sub_nav
        .content__profile.profile
            .profile__name Константин Константинопольский
            .profile__links
                a.profile__link(href='#') Выйти
                a.profile__link(href='#') Сменить пароль
    .content__text.text
        .content__title
            h1 Новости
            script.
                function newsDropdownChange(text, value) {
                    console.log('Dropdown: ' + text + ', ' + value)
                }
            .dropdown.dropdown--gray.dropdown--big.text__dropdown.text__dropdown--short(onChange='newsDropdownChange')
                a.dropdown__trigger(href='#') 
                    span  2016
                .dropdown__frame
                    a.dropdown__item(href='#') 2015
                    a.dropdown__item(href='#') 2014
                select.dropdown__select
                    option(data-value='2016', value='1') 2016
                    option(data-value='2015', value='2') 2015
                    option(data-value='2014', value='3') 2014
        .articles.articles--news
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-1.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Коллекция посуды Infinity от Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-2.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Чайник из нержавеющей стали Premiere от Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-3.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Марафон искусств на Таганке
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-4.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Конкурс «Рецепты здоровых и полезных блюд» с Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-5.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Победителей конкурса Röndell выберет певица Валерия
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-6.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Röndell представляет новую коллекцию посуды из нержавеющей стали Bojole
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-7.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Мир кино с Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-8.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Röndell перечислил 347 745 рублей, которые пошли на оплату лечения Артема
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-9.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Жилой комплекс «Баркли Медовая долина» с Röndell и VITEK
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-10.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Новая коллекция посуды из нержавеющей стали Charm от Röndell
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-11.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Kitchen Innovation of the Year 2016
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/n-12.jpg)', href='#', data-detail)
                .articles__date 20 июня 2016
                a.articles__name(href='#', data-detail) Коллекция посуды The One от Röndell
        .pages
            a.pages__item(href='#') 1
            a.pages__item(href='#') 2
            a.pages__item(href='#') 3
            a.pages__item(href='#') 4            
            
.detail
    .detail__wrap
        a.detail__close(href='#')
        .detail__content.text
            .detail__date 5 февраля 2016
            .detail__title Коллекция посуды The One от Röndell
            .text__divider.detail__divider
            .center
                img.text__image.text__image--center(src='./layout/images/mission.jpg')
            p Röndell на мировом рынке профессиональной  посуды с 1988 года, на рынке России – с 2006 года,  и за эти годы стал  признанным экспертом в области разработки дизайна и технологий посуды.  

            blockquote Бренд Röndell дополнил свой ассортимент уникальной коллекцией посуды из литого алюминия The One.

            p Коллекция посуды  The One –  это настоящая находка для всех любителей кулинарии, а особенно рады ей будут те потребители, которые не любят заполнять кухню бесчисленными предметами различной кухонной утвари.  Коллекция посуды The One позволит кулинарам легко воплощать в жизнь блюда различной сложности на плите и в духовке, а также экономить пространство на кухне благодаря съемной ручке.

            p В коллекции представлены кастрюля, сковорода, сотейник, стеклянная крышка с паровыпуском диаметром 24 см и съемная ручка — это полноценный комплект посуды для небольшой семьи.

            p Почитатели бренда обязательно оценят удобство использования и хранения сковороды и ковша  данной коллекции.  Если рецептура требует приготовления блюда в духовке, Вы можете легко переместить посуду при помощи ручки и ручку отсоединить. Такая технология позволяет без проблем размещать посуду в холодильнике или посудомоечной машине.

            p Уникальным решением в коллекции  The One стало универсальное использование сотейника.  Предмет посуды можно использовать не только как сотейник, но и как сковороду, форму для выпечки и полноценную литую крышку для томления блюд. При таком методе приготовления продукты сохраняют сочность, все полезные свойства и приобретают великолепный насыщенный вкус. То есть всего один предмет посуды позволит Вам жарить, тушить, запекать блюда, и делать вкуснейшую выпечку. 

            p Коллекция The One дополнена кастрюлей такого же диаметра, что и сотейник (24 см): это позволяет компактно хранить посуду на кухне. В кастрюле для Вашего удобства также предусмотрены съемные ненагревающиеся силиконовые ручки: теперь кастрюля не выскользнет из Ваших рук, и Вы можете безопасно мыть ее в посудомоечной машине.  

            p В коллекции также предусмотрена крышка с паровыпуском из термостойкого стекла толщиной 4мм: она подходит как для кастрюли, так и для сковороды и сотейника. Отверстие для выхода пара помогает контролировать процесс приготовления пищи и давление пара.

            p Важным преимуществом посуды коллекции The One является материал, из которого она выполнена. Литой алюминий  (толщина корпуса —2,5мм /дна — 3,0мм) 2,5мм /дна — 3,0мм) не деформируется благодаря толщине корпуса и высокой плотности материала, что делает  посуду данной коллекции прочной и долговечной.

            p Благодаря безопасному внутреннему двухслойному антипригарному покрытию Xylan от известной компании Whitford посуда служит долгие годы, а блюда готовятся без пригорания, сохраняя все полезные свойства.

            p Коллекция посуды The One от Röndell  — легкое приготовление любимых блюд и удобное хранение посуды!
            .text__divider.detail__divider
            .detail__footer
                div
                .detail__shares
                    span Поделиться новостью
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,lj"></div>
            
                
include includes/footer
