include includes/header
- var activeNav = 5
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text.text--center
        h1 Смена пароля
        form.form.form--center(id="", method="", action="")
            input.form__input(type='password', placeholder='Введите новый пароль')
            input.form__input(type='password', placeholder='Повторите ввод нового пароля')
            button.form__button(type='submit') Сохранить
include includes/footer
