include includes/header
- var activeNav = 6
- var showProfile = true
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[5].items
    - var subNavActive = 1
    .content__nav
        include includes/sub_nav
        .content__profile.profile
            .profile__name Константин Константинопольский
            .profile__links
                a.profile__link(href='#') Выйти
                a.profile__link(href='#') Сменить пароль
    .content__text.text
        .content__title
            h1 Рекламные материалы
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  Все материалы
                .dropdown__frame
                    a.dropdown__item(href='#') Режим 1
                    a.dropdown__item(href='#') Режим 2
                    a.dropdown__item(href='#') Режим 3
                    a.dropdown__item(href='#') Режим 4
                select.dropdown__select
                    option(data-value='Категория 1') Режим 1
                    option(data-value='Категория 2') Режим 2
                    option(data-value='Категория 3') Режим 3
                    option(data-value='Категория 4') Режим 4
        .articles.articles--files
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-1.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-2.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-3.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-4.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-5.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-6.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-7.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-8.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
            .articles__item
                a.articles__image(style='background-image: url(./layout/images/adv-1.jpg)', href='#')
                a.articles__name(href='#') Макет в прессу "Mocco&Latte"
                .articles__tags
                    a.articles__tag(href='#') Скачать
                    .articles__tag EPS
                    .articles__tag 358.75 Мб 
                        
            
                
include includes/footer
