include includes/header
- var activeNav = 6
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[5].items
    - var subNavActive = 1
    .content__nav
        include includes/sub_nav
        .content__profile.profile
            .profile__name Константин Константинопольский
            .profile__links
                a.profile__link(href='#') Выйти
                a.profile__link(href='#') Сменить пароль
    .content__text.text
        h1 Смена пароля
        form.form.form--short(id="", method="", action="")
            input.form__input(type='password', placeholder='Введите новый пароль')
            input.form__input(type='password', placeholder='Повторите ввод нового пароля')
            button.form__button(type='submit') Сохранить
include includes/footer
