include includes/header
- var activeNav = 5
- var showProfile = true
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[5].items
    - var subNavActive = 3
    .content__nav
        include includes/sub_nav
        .content__profile.profile
            .profile__name Константин Константинопольский
            .profile__links
                a.profile__link(href='#') Выйти
                a.profile__link(href='#') Сменить пароль
    .content__text.text
        h1 Обратная связь для партнеров
        h3.no-margin-bottom
            strong.stronger Константин Константинопольский
        p konstantinopolsky.konstantin@longdomainname.com
        form.xl-margin-top.form.form--short(id="", method="", action="")
            .dropdown.dropdown--form.s-margin-bottom
                a.dropdown__trigger(href='#') 
                    span  Материал
                .dropdown__frame
                    a.dropdown__item(href='#') Материал 1
                    a.dropdown__item(href='#') Материал 2
                    a.dropdown__item(href='#') Материал 3
                    a.dropdown__item(href='#') Материал 4
                select.dropdown__select
                    option(data-value='Материал 1') Материал 1
                    option(data-value='Материал 2') Материал 2
                    option(data-value='Материал 3') Материал 3
                    option(data-value='Материал 4') Материал 4
            input.form__input(type='text', placeholder='Тема')
            textarea.form__textarea(placeholder='Сообщение')
            .row
                .col-xs-5.col-sm-3
                    .form__label.form__label--big.no-margin-bottom Загрузить файл
                    .form__label Не более 5 Мб
                .col-xs-7.col-sm-9
                    .form__file
                        input.hidden(type='file')
                        a.form__button.form__button--gray.no-margin-bottom(href='#') Выбрать файл
                        .form__label 
            button.m-margin-top.form__button(type='submit') Отправить сообщение
include includes/footer
