include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        .content__title
            h1 Результаты поиска
            .dropdown.dropdown--gray.text__dropdown
                a.dropdown__trigger(href='#') 
                    span  По каталогу продукции
                .dropdown__frame
                    a.dropdown__item(href='#') Режим 1
                    a.dropdown__item(href='#') Режим 2
                    a.dropdown__item(href='#') Режим 3
                    a.dropdown__item(href='#') Режим 4
                select.dropdown__select
                    option(data-value='Категория 1') Режим 1
                    option(data-value='Категория 2') Режим 2
                    option(data-value='Категория 3') Режим 3
                    option(data-value='Категория 4') Режим 4
        h3 
            strong
                em По запросу: Сковорода
        .products.products--small
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-5.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-4.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
                .products__badge.badge.badge--red.badge--small Новинка
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-6.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Кастрюля<br/>Rondell Balance 2 л 
                .products__image(style='background-image: url(./layout/images/prod-5.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
                .products__badge.badge.badge--gray.badge--small Архив
            a.products__item(href='#')
                .products__name Ковш<br/>Rondell Balance 1,4 л 
                .products__image(style='background-image: url(./layout/images/prod-4.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
            a.products__item(href='#')
                .products__name Сковорода<br/>Rondell Balance 22 см
                .products__image(style='background-image: url(./layout/images/prod-6.jpg)')
                .products__price 2390 ₽
                .products__artnumber RDS-753
include includes/footer
