include includes/header
- var activeNav = 2
<body class='page page--catalog'>
include includes/toolbar
include includes/sidebar

.page__content.content
    .content__text.text
        h1 Карта сайта
        .sitemap
            .sitemap__item.sitemap__item--title
                a(href='#') О Rondell
            .sitemap__item
                a(href='#') История бренда
            .sitemap__item
                a(href='#') Миссия и ценности
            .sitemap__item
                a(href='#') Награды и достижения
            .sitemap__item
                a(href='#') Гарантия
            .sitemap__item
                a(href='#') Видео
            .sitemap__item
                a(href='#') Рецепты

            .sitemap__item.sitemap__item--title
                a(href='#') Преимущества
            .sitemap__item
                a(href='#') Подарочная упаковка
            .sitemap__item
                a(href='#') Рекомендации профессионалов
            .sitemap__item
                a(href='#') Социальная ответственность
            .sitemap__item
                a(href='#') Стиль и дизайн
            .sitemap__item
                a(href='#') Технологии и материалы
            .sitemap__item
                a(href='#') Информационная поддержка

            .sitemap__item.sitemap__item--title
                a(href='#') Каталог
            .sitemap__item
                a(href='#') Посуда для приготовления из нержавеющей стали
            .sitemap__item
                a(href='#') Посуда для приготовления из алюминия
            .sitemap__item
                a(href='#') Чайники
            .sitemap__item
                a(href='#') Кухонные ножи
            .sitemap__item
                a(href='#') Кухонные аксессуары и навеска
            .sitemap__item
                a(href='#') Столовые приборы
            .sitemap__item
                a(href='#') Формы для духовки
            .sitemap__item
                a(href='#') Крышки для посуды
            .sitemap__item
                a(href='#') Посуда для приготовления из чугуна
            .sitemap__item
                a(href='#') Подарки
            .sitemap__item
                a(href='#') Столовая сервировка

            .sitemap__item.sitemap__item--title
                a(href='#') Коллекции
            .sitemap__item
                a(href='#') Название коллекции 1
            .sitemap__item
                a(href='#') Название коллекции 2

            .sitemap__item
                a(href='#') Где купить
            .sitemap__item
                a(href='#') Интернет-магазины
            .sitemap__item
                a(href='#') Традиционная розница
            .sitemap__item
                a(href='#') Сетевая розница

            .sitemap__item.sitemap__item--title
                a(href='#') Партнерам

            .sitemap__item.sitemap__item--title
                a(href='#') Поставщикам

            .sitemap__item.sitemap__item--title
                a(href='#') Новости

            .sitemap__item.sitemap__item--title
                a(href='#') Контакты


include includes/footer
