include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--about.hidden-xs(src='./layout/images/suppliers.jpg')
        h1 Поставщикам
        h3 Уважаемые поставщики!<br>ООО «ГОЛДЕР-ЭЛЕКТРОНИКС» осуществляет закупку товаров марки Röndell следующего ассортимента:
        
        p Кастрюли<br>Ковши<br>Кофеварки<br>Кофемолки<br>Крышки для посуды<br>Кухонные аксессуары и навеска<br>Кухонные ножи<br>Наборы посуды<br>Пароварки<br>Посуда для приготовления из алюминия<br>Посуда для приготовления из нержавеющей стали<br>Столовая сервировка<br>Столовые приборы<br>Формы для выпечки<br>Формы для духовки<br>Чайники наплитые, френч-прессы
        p Ждем Ваших предложений!<br>Реквизиты для обращений на странице <a href="contacts.html">контакты<a/>    
        img.text__image.visible-xs(src='./layout/images/suppliers.jpg')
    
include includes/footer
