.articles
    display: flex
    flex-wrap: wrap
    margin-right -2px
    margin-left -2px
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        margin 0 1px 0
        margin-bottom 40px
        flex-basis: calc(100% - 2px)
        @media (min-width: scr_sm)
            margin-bottom 30px
            flex-basis: calc(50% - 2px)
        @media (min-width: scr_md)
            flex-basis: calc(33.33333% - 2px)
        @media (min-width: scr_hd)
            margin-bottom 40px
    &__name
        margin-bottom auto
        color #515255
        font-size 18px
        padding 0px 30px 10px 0
        @media (min-width: scr_md)
            font-size 16px
        @media (min-width: scr_hd)
            font-size 18px
            padding 0px 30px 15px 0
        &:hover
            color red
    &__date
        font-size 15px
        color #797b7f
        margin-top -5px
        margin-bottom 5px
    &__image

        background-size cover
        background-repeat no-repeat
        background-position center
        background-color white
        margin-bottom 16px

        @media (min-width: scr_hd)
            margin-bottom 22px
        &:hover ~ ^[0]__name
            color red
        &:before
            content: ""
            padding-bottom 68.7%
            display block
    &__tags
        border-top 1px solid #a4a8af
        padding-top 20px
        @media (min-width: scr_hd)
            padding-top 24px
    &__tag

        border: 1px solid #a4a8b0
        display inline-flex
        justify-content: center
        align-items: center
        color #515255
        transition: .3s color, .3s background, .3s border
        font-size 11px
        height: 30px
        padding-top 3px
        padding: 3px 8px 0
        margin 0 3px 6px 0
        @media (min-width: scr_md)
            font-size 12px
            padding: 3px 8px 0
            margin 0 4px 10px 0
            height: 25px
        @media (min-width: scr_hd)
            font-size 15px
            height: 30px
            padding-top 5px
        a&:hover
            color white
            border-color red
            background-color red
        &:last-child
            margin-right 0

    &--video
        & a^[0]__tag
            color white
            background-color #a4a8b0
            &:hover
                background-color red
        & ^[0]__image
            position relative
        & ^[0]__icon
            &:before, &:after
                content ""
                position absolute
                top 50%
                left 50%
                transform: translate3d(-50%, -50%, 0)
            &:before
                size 80px
                border-radius: 50%
                background-color alpha(#a4a6ad, .8)
                z-index: 2
            &:after
                border: 18px solid transparent
                border-left-color: white
                z-index: 3
                margin-left 2px
                transform: translate3d(0%, -50%, 0) scaleX(1.7)

    &--news
        & ^[0]__item
            flex-basis: calc(100% - 2px)
            @media (min-width: scr_sm)
                margin-bottom 30px
                flex-basis: calc(50% - 2px)
            @media (min-width: scr_lg)
                flex-basis: calc(25% - 2px)
        & ^[0]__name
            @media (min-width: scr_hd)
                font-size 20px
    &--files
        & ^[0]__image
            background-size contain
            margin-top 15px
            margin-bottom 31px
            box-shadow: 0 -15px 0 0 white, 0 15px 0 0 white
            &:before
                content: ""
                padding-bottom 64.7%
                display block
    &--benefits
        & ^[0]__item
            justify-content: flex-start
        & ^[0]__name
            margin-bottom 0px
            font-weight 900
            font-size 140%
        & ^[0]__description
            max-width: 90%
