.artnumbers
    display: flex
    flex-wrap: wrap
    &__item,
    &__title
        width: 100%
        display flex
        justify-content: space-between
        margin-bottom 2px
        padding: 4px 10px 0 20px
        flex-wrap: wrap
        @media (min-width: scr_sm)
            flex-wrap: nowrap
        @media (min-width: scr_md)
            padding: 4px 40px 0 40px
    &__title
        display none
        @media (min-width: scr_sm)
            display flex
    &__col

        &:nth-child(1)
            flex-basis: 30%
            @media (min-width: scr_sm)
                flex-basis: 100px
            @media (min-width: scr_md)
                flex-basis: 150px
        &:nth-child(2)
            flex-basis: 70%
            @media (min-width: scr_sm)
                flex-basis: 230px
            @media (min-width: scr_md)
                flex-basis: 380px
        &:nth-child(3)
            flex-basis: 30%
            @media (min-width: scr_sm)
                flex-basis: 130px
            @media (min-width: scr_md)
                flex-basis: 300px
        &:nth-child(4)
            flex-basis: 30%
            @media (min-width: scr_sm)
                flex-basis: 100px
            @media (min-width: scr_md)
                flex-basis: 220px
        &:nth-child(5)
            flex-basis: 40%
            @media (min-width: scr_sm)
                flex-basis: 80px
            @media (min-width: scr_md)
                flex-basis: 130px
    &__title
        background-color #a9abae
        color white

        text-transform uppercase
        height: 51px
        align-items: center
        font-size 11px
        @media (min-width: scr_md)
            font-size 13px
    &__item
        background-color white

        align-items: center
        padding: 25px 15px 15px
        @media (min-width: scr_sm)
            padding: 4px 10px 0 20px
            height: 100px
        @media (min-width: scr_md)
            padding: 4px 40px 0 40px
        @media (min-width: scr_hd)
            height: 120px
        & ^[0]__col
            padding-right 15px
            @media (max-width: scr_sm - 1px)
                &:nth-child(2), &:nth-child(5)
                    padding-right 0
                &:nth-child(3), &:nth-child(4)
                    margin-top 10px
            @media (min-width: scr_sm)
                padding-right 25px
                &:nth-child(5)
                    padding-right 0
    &__name, &__collection
        color #515255
        border-line(alpha(@color, .5))
        &:hover
            color red
            border-line(alpha(@color, .5))
    &__photo

        background-size: contain
        background-position center
        width: 100%
        margin-top -3px
        background-repeat: no-repeat
        position relative
        display block
        padding-bottom 70%
        @media (min-width: scr_sm)
            padding-bottom 100%
        &:after
            opacity: 0
            position absolute
            background-color alpha(#71777e, .8)
            background-image url(../images/svg/zoom.svg)
            background-repeat no-repeat
            background-size 45% auto
            background-position center
            content ""

            border-radius: 50%
            top 50%
            left 50%
            transform: translate3d(-50%, -50%, 0)
            transition: .3s opacity
            size 35px
            @media (min-width: scr_hd)
                size 50px
        &:hover:after
            opacity: 1

    &__label
        text-transform uppercase
        color #a8a8aa
        font-size 9px
        font-weight 900
        margin-bottom 3px
        @media (min-width: scr_sm)
            display none
