.awards
    display: flex
    flex-wrap: wrap


    margin-top 50px
    @media(min-width: scr_sm)
        margin-right -15px
        margin-left -15px
        margin-bottom -60px
    &__item
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom 60px
        @media(min-width: scr_sm)
            align-items: flex-start
            flex-basis: calc(33.333333%  - 30px)
            margin 0 15px 60px
        @media(min-width: scr_hd)
            flex-basis: calc(25%  - 30px)
            margin 0 15px 60px
    &__image

        max-height: 150px
        margin-bottom 20px
        @media(min-width: scr_hd)
            max-height: 188px
            margin-bottom 28px
    &__year
        color #797b7f
        margin-bottom 9px
        @media(min-width: scr_sm)
            font-size 13px
        @media(min-width: scr_md)
            font-size 14px
    &__link
        margin-top 7px
        @media(min-width: scr_sm)
            font-size 13px
        @media(min-width: scr_md)
            font-size 14px
    &__title
        color #515255
        line-height 1.4
        font-size 14px
        text-align center
        padding: 0 20px
        @media(min-width: scr_sm)
            padding: 0
            text-align left
            font-size 15px
        @media(min-width: scr_md)
            font-size 16px
        @media(min-width: scr_hd)
            font-size 20px
    &__title,
    &__link
        a
            color red
            border-line(alpha(red, .5))
