.back
    color red
    font-size 15px
    &:hover
        color red
    img
        max-width: 18px
        vertical-align middle
        margin-bottom 0
        margin-bottom 3px
        margin-right 10px
