.badge
    position absolute
    text-align center
    display: flex
    align-items: center;
    justify-content: center
    top 15px
    right 15px
    background-size cover
    color white
    font-weight 900
    size 50px
    font-size 10px
    padding-top 1px
    @media (min-width: scr_md)
        top 20px
        right 20px
        size 75px
        font-size 14px
        padding-top 2px
    &--red
        background-image url(../images/badge-red.png)
    &--gray
        background-image url(../images/badge-gray.png)
    &--small
        @media (min-width: scr_md)
            size: 50px
            font-size: 10px
            right: 13px
            top 13px
