.button
    background-color red
    border 0
    width: 100%
    font-size 13px
    text-transform uppercase
    font-weight bold
    height: 36px
    text-align center
    padding-top 7px
    transition: .3s color, .3s background, .3s border
    .win &
        padding-top: 0px
    a&
        display: inline-flex
        align-items: center
    &--auto
        width: auto
    &--gray
        background-color transparent
        border 1px solid #585c60
        color #585c60

        padding: 4px 20px 0
    &--white
        background-color transparent
        border 1px solid white
        color white
        padding: 4px 20px 0
    &:hover
        background-color white
        color red
        border-color white
