.catalog
    &__filter
        margin-bottom 5px
    &__categories
        display: flex
        flex-wrap: wrap
        margin-right -1px
        margin-left -1px
        .category
            flex-basis: 100%
            margin 1px
            &:before
                padding-bottom 60%
            @media (min-width: scr_sm)
                flex-basis: calc(33.33333% - 2px)
                max-width: @flex-basis
                flex-grow: 0

                .category__name
                    &:after
                        padding-bottom 70%
                &--big
                    flex-basis: calc(50% - 2px)
                    max-width: @flex-basis
                    flex-grow: 0
                    .category__name
                        &:after
                            padding-bottom 59%
