.category
    display: flex
    flex: 1
    position relative
    padding: 15px
    overflow hidden
    &:before
        content: ""
        padding-bottom 38%
        display block
    &:hover
        background-color red

    @media (min-width: scr_md)
        padding: 20px
    @media (min-width: scr_hd)
        padding: 30px
    &__image,
    &__background
        position absolute
        size 100%

        background-repeat no-repeat
        left 0
        top 0
    &__image
        background-size contain
        background-position: bottom right
        z-index: 3
    &__background
        background-color #bcbdbe
        background-image url(../images/category.bg.jpg)
        background-size cover
        z-index: 2
        transition: .3s opacity
        ^[0]:hover &
            opacity: 0
    &__name
        color white
        z-index: 4
        max-width: 50%
        font-weight bold
        line-height 1
        font-size 20px
        &:after
            content: ""
            padding-bottom 38%
            display block
        @media (min-width: scr_sm)
            &:after
                padding-bottom 0
        @media (min-width: scr_md)
            font-size 22px

        @media (min-width: scr_hd)
            font-size 29px
