.city-select
    margin-left auto
    display: flex
    flex-wrap: wrap
    margin-top 30px
    @media (min-width: scr_sm)
        margin-top 0
        flex-wrap: nowrap
    &__button
        background-color red
        color white
        display block
        height: 37px
        line-height 37px
        padding: 1px 20px 0
        font-size: 13px
        text-transform uppercase
        margin-top 20px
        @media (min-width: scr_sm)
            margin-top 0
        @media (min-width: scr_md)
            padding: 1px 40px 0
        &:hover
            color red
            background-color white
    &__name
        font-size: 16px
        line-height: 1
        margin-bottom 5px
        @media (min-width: scr_md)
            font-size: 20px
    &__col
        @media (min-width: scr_sm)
            margin-right 20px
        @media (min-width: scr_md)
            margin-right 50px
    &__change
        font-size: 14px
        &, &:hover, &:focus
            color red
            border-line(alpha(red, .5))

.cities
    overflow hidden
    @media (min-width: scr_md)
        margin-right -12px
        padding-right 30px
    .mobile &
        overflow auto
        margin-right 0
        padding-right 0
    @media (min-width: scr_md)
        max-height: 500px
    &__title
        flex-basis: 100%
        color #515255
        font-weight 900
        font-size 25px
        margin-bottom 6px
    &__col

        margin-bottom 10px
        flex-basis: 50%
        @media (min-width: scr_sm)
            flex-basis: (100 / 3)%
        @media (min-width: scr_md)
            flex-basis: 25%
        & + ^[0]__title
            border-top 1px solid #a4a8af
            margin-top 15px
            padding-top 20px
    &__link

        color red
        border-line(alpha(red, .5))
        font-size 13px
        &:hover
            color red
        @media (min-width: scr_sm)
            font-size 16px
    &__content
        display: inline-flex
        flex-wrap: wrap
