.collections
    display: flex
    flex-wrap: wrap
    margin-right -2px
    margin-left -2px
    margin-top -20px
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        margin 1px
        position relative
        flex-basis: calc(100% - 2px)
        background-color white
        color #515255
        @media (min-width: scr_sm)
            flex-basis: calc(50% - 2px)
        @media (min-width: scr_md)
            flex-basis: calc(33.33333% - 2px)
        &:after
            content: ""
            position absolute
            size 100%
            top 0
            left 0
            z-index: 2
            transition: .3s box-shadow
        &:hover
            color red
            &:after
                box-shadow: inset 0 0 0 10px red, 0 0 0 2px red
    &__image
        background-size auto 83%
        background-position 50% 72%
        background-repeat no-repeat
        &:before
            content: ""
            padding-bottom 74.91%
            display block

    &__name
        position absolute
        max-width: calc(80% - 50px)
        font-weight bold
        top 20px
        left 20px
        font-size: 18px
        line-height 1.2
        @media (min-width: scr_md)
            font-size: 20px
            top 25px
            left 25px
        @media (min-width: scr_lg)
            font-size: 22px
        @media (min-width: scr_hd)
            font-size: 24px
    &--how
        margin-top 50px
        & ^[0]__name
            max-width: calc(100% - 20px)
        & ^[0]__image
            background-size auto 76%
            background-position 50% 75%
