.collection
    display: flex
    justify-content: space-between;
    flex-wrap: wrap
    padding-bottom 60px
    @media (min-width: scr_sm)
        margin-top 20px
    @media (min-width: scr_lg)
        margin-top 0
    &__download
        position absolute
        background-color #95999f
        z-index: 20
        size 40px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        cursor pointer
        top 15px
        right 15px
        @media (min-width: scr_md)
            top 30px
            right 30px
        @media (min-width: scr_hd)
            size 50px
        img
            margin-bottom 0
            width: 45%
        &:hover
            background-color red
    &__content
        @media (min-width: scr_sm)
            flex-basis: 55%
        @media (min-width: scr_lg)
            flex-basis: 60%
    &__image
        flex-basis: 100%
        &:before
            content: ""
            padding-bottom 80%
            display block
        @media (min-width: scr_sm)
            flex-basis: 45%
            order: 2
            &:before
                padding-bottom 0
        @media (min-width: scr_lg)
            flex-basis: 40%
        background-size contain
        background-position top center
        background-repeat no-repeat

    h1&__name
        margin-bottom 20px
        text-align center
        width: 100%
        @media (min-width: scr_sm)
            text-align left
    .back
        border-bottom 1px solid #b6babf
        margin-bottom 30px
        padding-bottom 20px
        display none
        @media (min-width: scr_sm)
            display block

    &__description
        &--full
            position absolute
            top 0
            left 0
            visibility: hidden
    &__descriptions
        position relative
        overflow hidden
        min-height: 0
        transition: .3s min-height
    &__trigger
        border 1px solid red
        border-radius: 50px
        color red
        font-family: $custom-font
        display: inline-flex
        align-items: center
        transition: .3s all
        align-self: center
        font-size 15px
        padding: 0 35px 0
        height 35px
        margin 10px auto 0
        @media (min-width: scr_sm)
            min-height 40px
            font-size 18px
            padding: 2px 40px 0
            align-self: flex-start
        @media (min-width: scr_hd)
            font-size 20px
            min-height 45px
        &:hover
            background-color red
            color white
    &--open
        & ^[0]__description
            &--short
                opacity: 0
            &--full
                visibility: visible
