.content
    background-color #e0e3e4
    color #515255
    overflow hidden
    padding: 40px 20px 20px
    @media (min-width: scr_sm)
        padding: 50px 30px 30px
    @media (min-width: scr_lg)
        padding: 40px 35px
    @media (min-width: scr_hd)
        padding: 40px 50px
    &__nav
        border-bottom 1px solid #a4a8af
        padding-bottom 30px
        font-size 16px
        display: none
        @media (min-width: scr_sm)
            padding-bottom 15px
            margin-bottom: 30px
        @media (min-width: scr_lg)
            display: flex
            justify-content: space-between
        a
            margin-right 30px
            margin-bottom 10px
        .button
            margin-right 0
            margin-top -10px
            margin-bottom -5px
        .nav
            flex-wrap: wrap
    &__text
        flex 1
        width: 100%
        margin-top 0
        &--half

            @media (min-width: scr_md)
                width: 50%
            @media (min-width: scr_lg)
                padding-right 35px
            @media (min-width: scr_hd)
                padding-right 50px
    &__title
        display flex
        align-items: center
        margin-bottom 40px
        margin-top 20px
        flex-wrap: wrap;
        width: 100%
        @media (min-width: scr_sm)
            flex-wrap: nowrap;
        h1, h2, h3
            margin-bottom 0
            margin-top 0
            line-height .9
            width: 100%
            @media (min-width: scr_sm)
                width: auto
                white-space: nowrap
        h3
            font-size 18px
            @media (min-width: scr_sm)
                font-size 25px
            @media (min-width: scr_lg)
                font-size 40px
    &__slider
        position relative

        margin-top -10px
        min-height 0
        transition: .3s min-height
        &:before
            content: ""
            display block
            padding-bottom 38%
            @media (min-width: scr_md)
                padding-bottom 27%
    &__profile
        margin-top -19px
        margin-bottom -15px
        text-align: right
        align-items: flex-end
        a
            margin-right 0
            margin-left 20px
