.copyright
    font-family: $custom-font
    color #515664
    font-size 12px
    display: flex

    justify-content: space-between
    @media (min-width: scr_sm)
        flex-direction: column
        justify-content: flex-start
    @media (min-width: scr_lg)
        font-size 10px
        justify-content: space-between
        flex-direction: row
    @media (min-width: scr_hd)
        font-size 12px
    &__link
        color #515664
        span
            border-line(alpha(#515664, .4))
            &:hover
                color red
                border-line(alpha(red, .4))
