.detail-list
    z-index: 400
    overflow hidden
    position fixed
    display: flex
    justify-content: flex-end
    bottom 0
    width: 100%
    height: calc(100% - 72px)
    right: 0
    -webkit-overflow-scrolling: touch
    visibility: hidden
    > *
        opacity: 0
    @media (min-width: scr_lg)
        padding: 0
        right: 0px
        height: calc(100% - 50px)
        width: 100%
        top 25px

    &--active
        visibility: visible
        > *
            opacity: 1
    &__wrap
        display: flex
        flex-direction: column
        max-height: 100%
        transform: translateX(100%)
        transition: .5s transform
        will-change: transform
        width: 100%
        @media (min-width: scr_sm)
            max-width: 340px
            box-shadow: 1px 2px 28px rgba(0, 0, 0, 0.5)
        @media (min-width: scr_md)
            max-width: 400px
        ^[0]--active &
            transform: translateX(0)

    &__content
        position relative
        background-color #e0e3e4
        flex 1
        max-height: 100%
        overflow auto
        display: flex
        width: 100%
        padding: 40px 20px 40px
        @media (min-width: scr_sm) and (max-width: scr_lg - 1px)
            padding: 50px 30px 40px 30px
        @media (min-width: scr_lg)
            box-shadow: inset -25px 0 0 white
            padding: 90px 50px 50px 30px


    .scroll
        width: calc(100% + 30px)
        &__content
            @media (min-width: scr_lg)
                padding-right 30px
                overflow hidden
                max-height: 100%

    &__close
        display none
        @media (min-width: scr_lg)
            display block
        position fixed
        size 60px
        background-color red
        top 0px
        z-index: 2
        right: 25px
        &:after,
        &:before
            content ""
            size 45px 2px
            background-color white
            position absolute
            top 50%
            left 50%
        &:after
            transform: translate3d(-50%, -50%, 0) rotate(-45deg)
        &:before
            transform: translate3d(-50%, -50%, 0) rotate(45deg)
