.detail
    /*
    z-index: 400
    overflow hidden
    position fixed
    display: flex
    justify-content: flex-end
    bottom 0
    width: 100%
    height: calc(100% - 72px)
    right: 0
    -webkit-overflow-scrolling: touch
    @media (min-width: scr_lg)
        padding: 0
        right: 0px
        height: calc(100% - 25px)
        width: 100%
        top 25px
    visibility: hidden
    &--active
        visibility: visible

    &__wrap

        display: flex
        flex-direction: column

        max-height: 100%
        transform: translateX(100%)
        transition: .5s transform
        will-change: transform
        @media (min-width: scr_lg)
            box-shadow: 1px 2px 28px rgba(0, 0, 0, 0.5)
            max-width: 70%
        @media (min-width: scr_hd)
            max-width: 970px
        ^[0]--active &
            transform: translateX(0)
    */
    &__content
        /*
        position relative

        background-color #e0e3e4

        flex 1
        max-height: 100%
        overflow auto
        padding: 40px 20px 40px
        @media (min-width: scr_sm) and (max-width: scr_lg - 1px)
            padding: 60px 55px 40px
            box-shadow: inset -25px 0 0 white, inset 25px 0 0 white
        @media (min-width: scr_lg)
            box-shadow: inset -25px 0 0 white
            padding: 40px 75px 40px 50px
        */
    h4
        color red
        white-space: nowrap
    > ul
        font-size 90%
        @media (min-width: scr_lg)
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            li
                flex-basis: 50%
                padding-right 40px
    &:after
        height: 100%
        top 0
        position absolute
        background-color alpha(#a4a8b0, .65)
        width: 100%
        content: ""
        z-index: -1
        right: 0
        transition: .3s opacity .3s
        opacity: 0
    &--active
        &:after
            opacity: 1
    &__close
        display none
        @media (min-width: scr_lg)
            display block
        position fixed
        size 60px
        background-color red
        top 0px
        z-index: 2
        right: 25px
        &:after,
        &:before
            content ""
            size 45px 2px
            background-color white
            position absolute
            top 50%
            left 50%
        &:after
            transform: translate3d(-50%, -50%, 0) rotate(-45deg)
        &:before
            transform: translate3d(-50%, -50%, 0) rotate(45deg)


    &__title
        font-size 22px
        line-height 1.2
        margin-bottom 20px
        @media (min-width: scr_sm)
            font-size 30px
            max-width: 70%
            margin-bottom 0
    &__header
        img

            margin-bottom 0
        @media (min-width: scr_sm) and (max-width: scr_lg - 1px)
            display: flex
            justify-content: space-between
            align-items: center
            img
                flex-basis: 40%
                max-width: 40%
    &__divider
        margin: 30px 0
    &__footer
        display: flex
        justify-content: space-between
        align-items: center

        flex-direction column
        text-align center
        @media (min-width: scr_sm)
            margin-top 40px
            text-align left
            flex-direction: row;
    &__shares
        display: flex
        align-items: center;
        flex-direction column
        margin-top 20px
        @media (min-width: scr_sm)
            flex-direction: row;
            margin-top 0
        .ya-share2
            position relative
            top -2px
        ul
            margin-bottom 0
            margin-top 10px
            padding-left 0
            @media (min-width: scr_sm)
                padding-left 20px
                margin-top 0
    &__link
        color red
        border-line(alpha(red, .5))
    &__date
        font-size 80%
        margin-bottom 10px
        color #7a7c80
