.dropdown
    position relative
    width: 100%
    max-width: 100%
    z-index: 1
    &__frame
        position absolute
        top 100%
        background-color red
        width 100%
        padding 3px 0px 2px
        opacity: 0
        left 0
        margin-top -1px
        visibility: hidden
        z-index: 10
        transform: translateY(-40px)
        max-height: 400px
        overflow: auto
        .mobile &
            display none
    &__select
        opacity 0
        position absolute
        top 0
        left 0
        width 100%
        min-height 40px
        z-index 200
        html:not(.mobile) &
            z-index -1
            pointer-events none
    &__item
        color white
        width 100%
        line-height 1.3
        display block
        font-size 12px
        padding: 10px 16px 5px
        text-transform uppercase
        &:hover, &:focus
            background-color alpha(white,.1)
            color white
    &__trigger
        width 100%
        line-height 38px
        height 36px
        cursor: pointer
        color white
        font-size 13px
        font-weight bold
        text-transform uppercase
        position relative
        z-index: 20
        display block
        border 1px solid white
        white-space: nowrap
        font-size 12px
        padding 0 38px 0 11px
        .win &
            line-height 32px
        @media (min-width: scr_hd)
            font-size 13px
            padding 0px 38px 0 15px
        .parsley-error ~ &
            border-color alpha(red, .5)
        &:after
            content ""
            top: 50%
            left: 100%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-color: rgba(0, 0, 0, 0)
            border-top-color: white
            border-width: 8px
            transform: translateX(-50%) scaleX(.6)
            margin-left -18px
            margin-top -3px
            transition: .3s border .3s
        span
            position absolute
            max-width: calc(100% - 40px)
            overflow hidden
            text-overflow: ellipsis
    &:not(^[0]--inactive):hover
        z-index: 20
        & ^[0]__trigger
            color white
            background-color red
            border-color: red
            &:after
                transition-delay: 0s
                border-top-color: white
        & ^[0]__frame
            visibility: visible
            opacity: 1
            transform: translateY(0)
            transition: .3s opacity .1s, .3s transform .1s, .3s visibility .1s
    &--top
        & ^[0]__frame
            @media (min-width: scr_lg)
                top auto
                bottom 100%
                transform: translateY(40px)
    &--gray
        width: auto
        & ^[0]__trigger
            border-color #a4a8af
            text-transform none
            color #515255
            font-size 15px
            padding-top 1px
            height 30px
            line-height 31px
            font-weight normal

            &:after
                border-top-color red
            @media (min-width: scr_hd)
                font-size 19px
        .win & ^[0]__trigger
            line-height: 24px
        & ^[0]__item
            text-transform none
            font-size 14px
    &--big
        @media (min-width: scr_md)
            & ^[0]__trigger
                font-size 20px
                height: 38px
                line-height 38px
                .win &
                    line-height: 33px
                &:after
                    border-width 12px
                    margin-top -5px
    &--form
        & ^[0]__trigger
            height: 40px
            line-height 41px
            border-color #b1b7bd
            color #63666c
            text-transform none
            font-size: inherit
            font-weight normal
            padding-left 15px
            &:after
                border-top-color red
                border-width 12px
                margin-top -5px
    &--height
        & ^[0]__trigger
            height 36px
            line-height 37px
            font-weight normal
            &:after
                border-width 12px
                margin-top -5px
