.estores
    &__title,
    &__item
        display: flex
        @media (min-width: scr_sm)
            justify-content: space-between
    &__title
        border-bottom 1px solid #d1d4d7

        font-size: 13px
        color #515255
        padding: 6px 0 3px
        display none
        @media (min-width: scr_sm)
            display: flex
    &__col
        margin-bottom 10px
        &:nth-child(4)
            margin-bottom 0
        @media (min-width: scr_sm)
            margin-bottom 0
            padding-right 20px
            &:nth-child(1)
                flex-basis: 150px
            &:nth-child(2)
                flex-basis: 250px
            &:nth-child(3)
                flex-basis: 160px
            &:nth-child(4)
                flex-basis: 110px
                padding-right 0
        @media (min-width: scr_md)
            &:nth-child(1)
                flex-basis: 280px
            &:nth-child(2)
                flex-basis: 500px
            &:nth-child(3)
                flex-basis: 230px
            &:nth-child(4)
                flex-basis: 160px

    &__item
        align-items: center
        flex-direction: column
        align-items: flex-start
        padding-top 15px
        line-height 1.2
        font-size: 12px
        @media (min-width: scr_sm)
            font-size: inherit
            padding-top 0
            line-height 1.3
            height: 90px
            flex-direction: row
            align-items: center
        & + &
            border-top 1px solid #d1d4d7
        &--big
            border-bottom 1px solid #d1d4d7

            height: auto
            margin-bottom 0px
            align-items: flex-start
            @media (min-width: scr_sm)
                padding-bottom 35px
            small
                display block
                margin-top 15px
                font-size: 12px
            & ^[0]__col
                img
                    margin-bottom 0
                &:nth-child(2)
                    line-height 1.5
                @media (min-width: scr_sm)
                    &:nth-child(1)
                        flex-basis: 200px
                    &:nth-child(2)
                        flex-basis: 300px

                    &:nth-child(3)
                        flex-basis: 150px
                @media (min-width: scr_md)
                    &:nth-child(1)
                        flex-basis: 290px
                    &:nth-child(2)
                        flex-basis: 580px
                    &:nth-child(3)
                        flex-basis: 340px
    &__link
        color red
        line-height 1.4
        font-size: 16px
        border-line(alpha(@color, .5))
        @media (min-width: scr_md)
            font-size: 22px
        @media (min-width: scr_hd)
            font-size: 25px
