.filter
    width: 100%
    min-height: 105px
    background-color #a9abae
    margin-top 5px
    display: flex
    align-items: center
    color white
    flex-wrap: wrap
    justify-content: center
    padding: 0px 20px 25px
    @media (min-width: scr_sm)
        padding: 20px 15px 25px
    @media (min-width: scr_lg)
        padding: 0 35px
        flex-wrap: nowrap
        justify-content: space-between
    @media (min-width: scr_hd)
        padding: 0 50px
    &__col
        flex-basis: 100%
        margin-bottom 20px
        @media (min-width: scr_sm)
            padding: 0 6px
            flex-basis: (100 / 4)%
            margin-bottom 0
            .msie11 &
                padding: 30px 6px 0
        @media (min-width: scr_lg)
            flex-basis: (100 / 5)%
        @media (min-width: scr_hd)
            padding: 0 10px
        &:first-of-type
            flex-basis: 100%
            text-align center
            @media (min-width: scr_sm)
                padding-bottom 20px
            @media (min-width: scr_lg)
                padding-left 0
                padding-bottom 0
                text-align left
                flex-basis: (100 / 11)%
            @media (min-width: scr_hd)
                flex-basis: (100 / 6)%
        &:last-of-type
            flex-basis: 200px
            margin-bottom 0
            @media (min-width: scr_sm)
                padding-top 20px
                .msie11 &
                    padding: 30px 6px 0
            @media (min-width: scr_lg)
                padding-top 0
                padding-right 0
                flex-basis: (100 / 7)%

            @media (min-width: scr_hd)
                flex-basis: (100 / 6)%
    &__title
        font-size 15px
        text-transform uppercase
        font-weight bold
        padding-top 3px
    &--full
        @media (min-width: scr_lg)
            padding: 5px 30px 0
        & ^[0]__title
            text-transform none
            font-size 25px
            margin-top 5px
            line-height 1
            padding-bottom 15px
            @media (min-width: scr_sm)
                font-size 40px
            @media (min-width: scr_lg)
                padding-bottom 0
            @media (min-width: scr_hd)
                font-size 53px
        & ^[0]__col
            display none
            margin-bottom 0
            &:nth-child(1), &:nth-child(2)
                display block
            @media (min-width: scr_sm)
                display block
                flex-basis: (100 / 5)%
                &:nth-child(2)
                    display none
            &:first-of-type
                text-align left

                @media (max-width: scr_lg - 1px)
                    padding-top 30px
                    flex-basis: 100%
                @media (min-width: scr_hd)
                    padding 0
                    flex-basis: 28%
            &:last-of-type
                text-align right
                display none
                @media (min-width: scr_hd)
                    display block
                    flex-basis: 30%
        &^[0]--opened
            @media (max-width: scr_sm - 1px)
                & ^[0]__title
                    padding-bottom 0
                & ^[0]__col
                    margin-bottom 15px
                    display block
                    &:nth-child(2)
                        display none
                    &:nth-child(7)
                        margin-bottom 0
                    &:nth-child(8)
                        display none
    &--inline
        background-color transparent
        margin-top -15px
        padding: 0
        @media (min-width: scr_sm)
            margin-top -15px
            min-height: 0
            margin-bottom 30px
        & ^[0]__col
            @media (min-width: scr_sm)
                display block
                &:first-of-type
                    display none
                &:nth-child(2)
                    padding-left 0
                flex-basis: 20%
                &:last-of-type
                    padding-top 0
        @media (max-width: scr_sm - 1px)
            min-height: 0
            & ^[0]__col
                flex-basis: 100%
                display none
                &:first-of-type
                    display block
            &^[0]--opened
                margin-bottom 30px
                & ^[0]__col
                    display block
                    &:first-of-type
                        display none
