@font-face
    font-family: 'Panton'
    font-weight: normal
    font-style: normal
    src: url(/layout/fonts/panton-regular.eot)
    src: url(/layout/fonts/panton-regular.eot#iefix) format('embedded-opentype'), url(/layout/fonts/panton-regular.ttf) format('truetype')

@font-face
    font-family: 'Panton'
    font-weight: bold
    font-style: normal
    src: url(/layout/fonts/panton-semibold.eot)
    src: url(/layout/fonts/panton-semibold.eot#iefix) format('embedded-opentype'), url(/layout/fonts/panton-semibold.ttf) format('truetype')

@font-face
    font-family: 'Panton'
    font-weight: 900
    font-style: normal
    src: url(/layout/fonts/panton-bold.eot)
    src: url(/layout/fonts/panton-bold.eot#iefix) format('embedded-opentype'), url(/layout/fonts/panton-bold.ttf) format('truetype')
