.footer
    display flex
    width: 100%
    margin-top 25px
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 0 20px 20px
    flex-direction: column
    @media (min-width: scr_sm)
        padding: 0
        flex-direction: row
    @media (min-width: scr_lg)
        display none
    &__goldermall
        margin-bottom 25px
    &__socials
        margin-bottom 20px
        @media (min-width: scr_sm)
            margin-bottom 0
    &__copyright
        width: 100%
        order: 5
        margin-top 25px
        @media (min-width: scr_sm)
            order: 0
            width: auto
            margin-top 0
