.form
    width: 100%
    &__input, &__textarea
        width: 100%
        border 1px solid #b1b7bd
        background-color transparent
        margin-bottom 15px
        height: 40px
        resize: none
        padding: 5px 15px 0
        transition: .3s border
        +placeholder()
            position relative
            top 0px
        &[type='password']
            +placeholder()
                top 1px
        &:focus
            border-color #58595c
    &__input
        &--captcha
            margin-bottom 0
            height: 35px
            width: 100px
            @media (min-width: scr_sm)
                width: 130px
    &__textarea
        min-height: 180px
        padding: 12px 15px 10px
    &__footer
        margin-top -10px
        display: flex

        align-items: flex-end
        flex-wrap: wrap
        justify-content: space-between
        @media (min-width: scr_sm)
            justify-content: flex-start
        @media (min-width: scr_lg)
            justify-content: space-between
            flex-wrap: nowrap
    &__button
        background-color red
        color white
        text-transform uppercase
        border: 0
        height: 35px
        font-size 13px

        font-weight bold
        margin-top 15px
        min-width: 200px
        transition: .3s background, .3s color
        padding 5px 20px 0
        @media (min-width: scr_sm)
            margin-left auto
            padding 5px 40px 0
        @media (min-width: scr_md)
            margin-left 0
        @media (min-width: scr_lg)
            margin-left auto

        a&
            display inline-block
            line-height 28px
            text-align center
            min-width: 150px
        &--gray
            background-color #63666c
        &:hover
            background-color white
            color red
    &__label
        color #63666c
        margin-bottom 0
        font-size 12px
        @media (min-width: scr_sm)
            font-size 13px
        &--big
            color #63666c
            font-size 14px
            white-space: nowrap
            @media (min-width: scr_sm)
                font-size 18px
    &__captcha
        border 1px solid #b1b7bd

        height: 35px
        background-size contain
        background-position center
        width: 110px
        @media (min-width: scr_sm)
            width: 130px
    &__refresh
        margin-left 5px
        margin-right 15px
        @media (min-width: scr_sm)
            margin-left 0
            margin-right 25px
        img
            margin-bottom 0
    &__col
        display: flex
        flex-direction: column
        @media (min-width: scr_sm)
            margin-right 15px

    &__link

        border-line(alpha(red, .5))
        line-height 1
        margin-top 40px
        margin-bottom 30px
        display inline-block
        &, &:hover
            color red

    &--center
        max-width: 600px
        text-align center
        & ^[0]__button
            margin 15px auto
            display: block
    &--short
        max-width: 600px
        display: block

    &__checkbox
        font-weight normal
        &:before
            content ""
            display: inline-block
            vertical-align middle
            position relative
            top -1px
            margin-right 10px
            size 20px
            border 1px solid #b1b7bd
            box-shadow: inset 0 0 0 4px #e0e3e4
            transition: .3s background
        input[type='checkbox']:checked + &
            &:before
                background-color red
    &__file
        display: flex
        align-items: center;
        flex-wrap: wrap
        @media (min-width: scr_sm)
            margin-top 5px
        & ^[0]__button
            margin-top 0
            margin-left 0
            margin-right 15px
        & ^[0]__label
            margin: 12px 0 10px
