$custom-font = 'PT Sans', 'Helvetica Neue', 'Arial', sans-serif

html, body
	height 100%
body
	font-family 'Panton', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	background white
	font-variant: normal
	-webkit-font-smoothing: antialiased
	-webkit-overflow-scrolling: touch
	&.open
		position: fixed;
		max-width: 100%
		width: 100%
a
	t all

#panel
	position fixed
	top 0
	left 0
	width 100%
	z-index 100000000
	@media (max-width: scr_sm - 1)
		display none

.container
	width 990px

svg
	t fill
	path, g
		t fill

.scroll-fix
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 300000
	pointer-events none
	&--on
		pointer-events initial

.slick
	&-arrow
		position absolute
		top 0

		width: 20px

		top 50%
		cursor: pointer;
		height: 34px
		margin-top -17px
		@media (min-width: scr_hd)
			height: 40px
			margin-top -20px
		&:before, &:after
			content ""
			position absolute
			width: 2px
			background-color #838384
			height 20px
			@media (min-width: scr_lg)
				height 27px
			top 50%
			transition: .3s background
		&:hover
			&:before, &:after
				background-color red
	&-prev
		left: -22px
		@media (min-width: scr_lg)
			left: -25px
		@media (min-width: scr_hd)
			left -33px
		&:before, &:after
			left 0
		&:before
			transform: translateY(0%) rotate(-45deg)
			transform-origin: top left
		&:after
			transform: translateY(-103%) rotate(45deg)
			transform-origin: bottom left
	&-next
		right: -22px
		@media (min-width: scr_lg)
			right: -25px
		@media (min-width: scr_hd)
			right: -34px
		&:before, &:after
			right 0
		&:before
			transform: translateY(0%) rotate(45deg)
			transform-origin: top right
		&:after
			transform: translateY(-103%) rotate(-45deg)
			transform-origin: bottom right
