.goldermall
    border 1px solid #a9abae
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    text-align center

    font-weight 900
    transition: .3s border-color
    padding: 15px 0 17px
    @media (min-width: scr_sm)
        padding: 14px 0 12px
    &__title, &__description
        transition: .3s color
    &__title
        font-size 21px
        color #37393c
        @media (min-width: scr_hd)
            font-size 23px
    &__description
        text-transform uppercase
        color #a4a8af
        font-size 9px
        letter-spacing: 1px
        @media (min-width: scr_hd)
            font-size 10px
    &:hover
        border-color red
        & ^[0]__title
            color red
        & ^[0]__description
            color alpha(red, .4)
    &--big
        border 0
        background-color #75defd
        background-image url(../images/sky.jpg)
        background-size cover
        background-position center

        align-items: center
        flex-direction: row

        justify-content: space-between
        color #2a3334
        margin-bottom 40px
        font-weight: normal
        display none
        @media (min-width: scr_sm)
            display: flex
            height: 70px
            font-size: 10px
            padding: 0 20px
            white-space: nowrap;
        @media (min-width: scr_md)
            height: 95px
            padding: 0 20px
            font-size: 16px
        @media (min-width: scr_hd)
            font-size: 20px
            height: 150px
            padding: 0 40px
        &:hover
            & ^[0]__title
                color #2a3334
        & ^[0]__title
            color #2a3334
            font-size: inherit
            text-align left
        & ^[0]__title,
        & ^[0]__phone
            padding-top 5px
            flex-basis: 30%
        & ^[0]__phone
            text-align: right;
    img&__logo
        justify-content: space-between
        font-weight normal
        margin-bottom 0
        max-height: calc(100% - 35px)
        @media (min-width: scr_md)
            max-height: calc(100% - 55px)
        @media (min-width: scr_hd)
            max-height: 65px
