.guarantee
    display: flex
    flex-direction: column
    align-items: flex-start
    @media (min-width: scr_sm)
        justify-content: space-between
        flex-direction: row
    &-trigger
        display inline-block
        font-size 40px
        color #515255
        border 1px solid #63666c

        margin-top: 30px
        font-size 22px
        padding 5px 20px 0
        @media (min-width: scr_sm)
            font-size 30px
            padding 5px 30px 0
        @media (min-width: scr_hd)
            font-size 40px
            padding 5px 40px 0
        &:hover
            color red
            border-color: red
    &__number
        border-radius: 50%
        background-color: red
        display: flex
        font-weight 900
        align-items: center
        justify-content: center
        color white
        text-align center
        min-width: 35px
        height: 35px
        font-size 18px
        padding-top 3px
        margin-right 15px
        margin-bottom 20px
        @media (min-width: scr_sm)
            margin-right 20px
            padding-top 5px
            min-width: 45px
            height: 45px
            font-size 24px
    &__content
        flex 1
        margin-right auto

        margin-bottom 20px
        @media (min-width: scr_sm)
            padding-right 40px
            flex-basis: 450px
            margin-bottom 0
        @media (min-width: scr_lg)
            padding-right 60px
            flex-basis: 750px
    &__cols
        display: flex

        justify-content: space-between
        @media (min-width: scr_sm)
            flex-basis: 325px
        @media (min-width: scr_lg)
            flex-basis: 450px
    &__col
        flex 1
        flex-basis: calc(50% - 10px)
        & + &
            margin-left 20px
        @media (min-width: scr_md)
            flex-basis: calc(50% - 20px)
            & + &
                margin-left 40px

    &__image
        max-width: 100%
        margin-bottom 20px
    &__small
        font-size 12px
        @media (min-width: scr_lg)
            font-size 13px
    &__title
        font-weight bold
        font-size 115%
        line-height 1.4
    &__description
        margin-top 15px
        @media (min-width: scr_sm)
            margin-top 25px
    p
        &:last-child
            margin-bottom 0
