.history
    & + &
        border-top: 1px solid #b6babf
    width: 100%
    padding: 20px 0 22px
    display flex
    flex-wrap: wrap;
    @media(min-width: scr_sm)
        flex-wrap: nowrap
        padding: 30px 0 30px
    @media(min-width: scr_md)
        padding: 50px 0
    &:last-of-type
        padding-bottom 15px
    &__description
        flex 1
        align-self: flex-start
        padding-top 3px
        line-height 1.4
        @media(max-width: scr_sm - 1px)
            flex-basis: 100%
        &, p
            @media(min-width: scr_sm)
                line-height 1.6
                font-size 15px
            @media(min-width: scr_md)
                font-size 16px
            @media(min-width: scr_lg)
                font-size 18px
        p:last-of-type
            margin-bottom 0
    &__year
        margin-bottom 15px
        font-weight 900
        font-size 19px
        @media(max-width: scr_sm - 1px)
            flex-basis: 100%
        @media(min-width: scr_sm)
            flex-basis: 170px
            margin-bottom 0
        @media(min-width: scr_md)
            font-size 22px
        @media(min-width: scr_lg)
            flex-basis: 210px
            font-size 25px

    &__image
        margin 0 auto
        margin-top 20px
        img
            max-width: 100%
        &--small
            max-width: 35%
        @media(min-width: scr_sm)
            margin-top 0
            align-self: flex-start;
            flex-basis: 250px
            padding-left 30px
            &--small
                flex-basis: 130px
                max-width: none
        @media(min-width: scr_md)
            flex-basis: 330px
            &--small
                flex-basis: 150px
        @media(min-width: scr_lg)
            flex-basis: 450px
            padding-left 50px
            &--small
                flex-basis: 200px

    &--knight
        & ^[0]__description
            @media(max-width: scr_sm - 1px)
                flex-basis: 35%
        & ^[0]__image
            float right
            order: 3
            margin-right -30%
            @media(max-width: scr_sm - 1px)
                flex-basis: 80%
                max-width: 270px
            @media(min-width: 400px)
                margin-right -100px
            @media(min-width: scr_sm)
                flex-basis: 50%
                max-width: none
                margin-right -7%
            @media(min-width: scr_md)
                flex-basis: 37%
                margin-right -5%
            @media(min-width: scr_lg)
                flex-basis: 40%
                margin-right 0
                max-width: 380px
