.how
    h3
        margin-top 0
        font-weight bold
        margin-bottom 5px
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
    p
        margin-bottom 0
    .row
        margin-bottom 0
    .text__divider
        @media(min-width: scr_sm)
            margin: 20px 0
