.langs
    display: flex
    &__item
        font-size 11px
        font-weight 900
        text-transform uppercase
        color gray
        margin-right 10px
        border-line(red, 20px)
        max-height: 13px
        overflow hidden
        &:hover, &--active
            color red
            border-line(red, 11px)
