.list
    display flex
    margin-top 30px
    &:first-of-type
        margin-top 30px
    &__number
        border-radius: 50%
        background-color: red
        display: flex
        font-weight 900
        align-items: center
        justify-content: center;
        color white
        text-align center
        min-width: 35px
        height: 35px
        font-size 18px
        padding-top 3px
        margin-right 15px
        @media (min-width: scr_sm)
            margin-right 20px
            padding-top 5px
            min-width: 45px
            height: 45px
            font-size 20px
        @media (min-width: scr_md)
            font-size 25px
            min-width: 50px
            height: 50px
    &__title

        font-weight bold
        line-height 1.3
        font-size 20px
        margin-bottom 5px
        margin-top 6px
        @media (min-width: scr_sm)
            margin-bottom 0
            margin-top 6px
            font-size 30px
        @media (min-width: scr_md)
            margin-top 8px
        @media (min-width: scr_lg)
            font-size 35px
            margin-top 6px
