.map



    margin-right: -20px
    margin-left -20px
    margin-bottom -20px
    margin-top 40px
    padding-bottom 120%
    @media (min-width: scr_sm)
        padding-bottom 70%
        margin-top 60px
        margin-right: -30px
        margin-left -30px
        margin-bottom -30px
    @media (min-width: scr_md)
        margin: 0
        position absolute
        width: 50%
        height: 100%
        background-color red
        top 0
        padding-bottom 0
        right: 0


    &--inline
        position relative
        height: calc(100vh - 280px)
        width: auto
        margin-right: -20px
        margin-left -20px
        margin-bottom -20px
        @media (min-width: scr_sm)
            margin-top -15px
            margin-right: -30px
            margin-left -30px
            margin-bottom -30px
        @media (min-width: scr_md)
            min-height: 600px
            margin-top 0
            margin-right: -50px
            margin-left -50px
            margin-bottom -50px
    &__cluster
        position absolute
        size 60px
        background-color white
        border-radius: 50%
        color red
        border 5px solid red
        transform: translate3d(-50%, -50%, 0)
        font-size 18px
        font-weight 900
        text-align center
        line-height 55px

        font-family: 'Panton'

    &__bubble
        font-family: 'Panton'
        color white
        font-size 13px
        padding: 0 5px
        strong
            font-size 130%
            font-weight bold
            margin-bottom 5px
            display inline-block
    &__popup
        margin-top: 25px
        position relative
        &:after
            top 100%
            content ""
            left 50%
            margin-left -14px
            position absolute
            border 15px solid transparent
            border-top-color #515255
            transform: scaleX(.7)
