.modal
    font-weight 300
    color black
    img
        max-width: 100%
    .text
        min-height: 400px
        font-size 16px
        padding-top 15px
        .text__image
            max-width: 100%
            @media (min-width: scr_sm)
                float: right
                margin-bottom 30px
                margin-left 30px
                max-width: 50%
        img
            max-width: 100%
        a
            color orange
            border-line(alpha(@color, .4))
    &-backdrop
        background-color #a4a8b0
        &.in
            opacity: .8
    &-dialog
        @media (min-width: scr_sm)
            width 740px
        @media (min-width: scr_md)
            width 800px
    &-content
        padding 35px 20px 30px
        border-radius: 0
        background-color #e0e3e4
        border 0
        @media (min-width: scr_sm)
            padding 35px 40px 30px

            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    &__close
        display block
        position fixed

        background-color red
        top 0px
        z-index: 200
        right: 0px
        size 40px
        @media (min-width: scr_sm)
            size 60px
        &:after,
        &:before
            content ""

            background-color white
            position absolute
            top 50%
            left 50%
            size 30px 2px
            @media (min-width: scr_sm)
                size 45px 2px
        &:after
            transform: translate3d(-50%, -50%, 0) rotate(-45deg)
        &:before
            transform: translate3d(-50%, -50%, 0) rotate(45deg)

    &__title
        margin-top 0
        font-size 25px
        margin-bottom 35px
        font-weight bold
        @media (min-width: scr_sm)
            font-size 30px
        @media (min-width: scr_md)
            font-size 45px
