.nav
    display: flex

    &-trigger
        position relative
        &, &:after, &:before
            content ""
            size: 40px 5px
            display block
            background-color red
        &:after, &:before
            position absolute
            left 0
            transition: .3s transform, .3s top, .3s bottom
        &:after
            top -12px
        &:before
            bottom -12px
        &--open
            background-color white
            &:before
                transform: translateY(-12px) rotate(-45deg)
            &:after
                transform: translateY(12px) rotate(45deg)


    &__item
        color dark

        &:hover, &--active
            color red

    &--modal
        position fixed
        bottom 0
        left 0
        background-color white
        size 100%
        z-index: 600
        flex-direction: column
        visibility: hidden
        opacity: 0
        pointer-events: none
        transform: translateY(-100%)
        ^[0]--active
            transition: .3s opacity .1s, .3s transform .1s
            visibility: visible
            opacity: 1
            transform: translateY(0%)
            pointer-events: all
        & ^[0]__item

            color #515255
            margin-bottom 15px
            padding 0 15px 0 25px
            line-height 1.1
            font-weight 300
            font-size 16px
            @media (min-width: scr_sm)
                font-size 19px
            &:last-of-type:not(.nav__item--trigger)
                margin-bottom 20px
            &:hover
                color red
            &--trigger
                line-height 1.3
                padding-left 0
                margin-bottom 4px
                color black
                font-size 24px
                @media (min-width: scr_sm)
                    font-size 28px

    &__title
        justify-content: space-between
        display: flex
        align-items: center

    &__section,
    &__content
        display: flex
        flex-direction: column

    &__wrap
        max-height: 100%
        overflow auto
        -webkit-overflow-scrolling: touch
        padding: 105px 10px 25px
        @media (min-width: scr_sm)
            padding: 165px 35px 25px

    &__content
        max-height: 0
        overflow: hidden

    &__trigger
        min-width: 70px
        text-align right
        svg
            transition: .3s transform
            path
                fill #d4d5d6

    &__section
        margin-bottom -1px
        border 1px solid white
        position relative
        transition: .3s border-color
        padding: 10px 10px 0
        @media (min-width: scr_md)
            padding: 10px 15px 0
        &:hover:not(&--hoverless),
        &--open
            border 1px solid #d4d5d6
            z-index: 2
            & ^[0]__trigger
                svg path
                    fill red
        &--open
            & ^[0]__content
                margin-top 15px
                max-height: none
            & ^[0]__trigger
                svg
                    transform: rotate(180deg)
    &__search
        margin-left 10px
        margin-top 25px
        border 1px solid #060606
        width: calc(100% - 20px)
        height: 35px
        padding: 0 15px
        font-size 16px
        margin-bottom 20px
        +placeholder()
            padding-top 2px
    &__profile
        padding: 10px 13px 0
        margin-bottom 30px
        @media (min-width: scr_sm)
            padding: 10px 20px 0
        a
            margin-right 20px
