.page
    padding: 55px 0 0
    .msie11 &
        height: 100%
    @media (min-width: scr_sm)
        padding: 75px 25px 25px
        &:before
            top 0
        &:after
            bottom 0
        &:before, &:after
            content: ""
            width: 100%
            position fixed
            height: 25px
            z-index: 300
            background-color white
            left 0
    @media (min-width: scr_lg)
        padding: 25px
        flex-direction: row-reverse
    &__sidebar
        width: 145px
        margin-right: 22px
        @media (min-width: scr_hd)
            width: 170px
            margin-right: 35px

    &__content
        flex 1
        margin-bottom: 25px
        @media (min-width: scr_sm)
            min-height: calc(100vh - 50px)
        @media (min-width: scr_lg)
            max-width: calc(100% - 167px)
            margin-left: 167px
        @media (min-width: scr_hd)
            max-width: calc(100% - 205px)
            margin-left: 205px
    &__slider,
    &__promo,
    &__categories
        @media (min-width: scr_sm)
            display: flex
            flex 1
    &__slider
        flex 1
        position relative

        @media (min-width: scr_sm)
            max-height: none
            flex-basis: 400px
        @media (min-width: scr_lg)
            flex-basis: (2*100/3)%
            max-width: (2*100/3)%
        &:before
            content: ""
            display block
            padding-bottom 130%
            @media (min-width: 400px)
                padding-bottom 110%
            @media (min-width: scr_sm)
                padding-bottom 0
    &__categories

        flex-direction: column
        @media (min-width: scr_sm)
            min-height: calc(100vh - 155px)
            justify-content: space-between
            flex-direction: row
            flex-basis: 200px
        @media (min-width: scr_lg)
            flex-direction: column

            flex-basis: (100/3)%
    &__promo
        width: 100%
        flex-direction: column
        flex-basis: 100%
        @media (min-width: scr_sm)
            min-height: calc(100vh - 155px)
        @media (min-width: scr_lg)
            flex-direction: row

    &__content, &__sidebar, &__toolbar, &__footer
        transition: .3s filter
        will-change filter
        ^[0]--search &
            filter blur(5px)
            opacity: .9

    &__content
        position relative
        z-index: 2
        ^[0]--nav &,
        ^[0]--detail &
            position fixed
            left 0
            width: 100%
            top 25px
            height: 100%
            @media (min-width: scr_sm)
                left 25px
                width: calc(100% - 50px)
            @media (min-width: scr_md)
                left auto
                right: 25px
            @media (min-width: scr_lg)
                width: calc(100% - 218px)
            @media (min-width: scr_hd)
                width: calc(100% - 255px)

        ^[0]--404 &
            max-width: none !important
            .text
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                text-align center
                img
                    margin-bottom -10px
    &__footer
        position relative
        z-index: 1
        ^[0]--nav &
            display none
