.pages
    width: 100%

    display: flex
    align-items: center
    justify-content: center
    margin-bottom 10px
    @media (min-width: scr_sm)
        margin-top 20px
    &__item
        margin: 0 7px
        border 1px solid #a9abae
        display: flex
        align-items: center
        justify-content: center
        color #515255
        transition: .3s background, .3s border-color
        size 30px
        padding-top 4px
        @media (min-width: scr_sm)
            size 40px
            padding-top 5px
            font-size 20px
        &:hover, &--active
            background-color red
            color white
            border-color red
