.product
    display: flex

    padding-top 20px
    flex-wrap: wrap
    margin-bottom 40px
    .msie11 &
        flex-wrap: nowrap
    @media (min-width: scr_sm)
        margin-bottom 70px
    @media (min-width: scr_lg)
        padding-top 0
    &__images, &__content
        flex: 1
        flex-basis: 100%
        @media (min-width: scr_sm)
            flex-basis: 50%
    &__content
        @media (min-width: scr_sm)
            padding-left 23px
        @media (min-width: scr_hd)
            padding-left 43px

    h1&__title
        font-weight: bold
        line-height 1
        font-size 25px
        margin-top 0
        margin-bottom 0
        @media (min-width: scr_sm)
            font-size 30px
            padding-top 10px
        @media (min-width: scr_md)
            font-size: 37px
            padding-top 20px
        @media (min-width: scr_lg)
            font-size: 40px
        @media (min-width: scr_hd)
            font-size 55px
        span, a
            color red
            &:hover
                color red
    &__meta


        color: #3f4551
        margin: 10px 0
        @media (max-width: scr_md - 1px)
            flex-wrap: wrap
            font-size 16px
            & ^[0]__col
                flex-basis: 100% !important
                max-width: 100% !important

        @media (min-width: scr_md)
            margin: 15px 0
            font-size: 17px
        @media (min-width: scr_hd)
            font-size: 20px
    &__props
        display: flex
        margin: 15px 0 25px
        @media (min-width: scr_sm)
            margin-bottom 15px
        @media (min-width: scr_md)
            margin-bottom 30px
    &__row
        display: flex
        max-width: 100%
    &__col
        &:first-of-type
            flex-basis: 120px
            min-width: @flex-basis
            @media (min-width: scr_md)
                flex-basis: 165px
                min-width: @flex-basis
            @media (min-width: scr_hd)
                flex-basis: 200px
                min-width: @flex-basis
        a
            color red
            img
                margin-bottom 0
                vertical-align middle
                max-width: 18px
                max-height: 19px
                margin-right 6px
                margin-top -3px
    &__list

        line-height 1.4
        font-size: 12px
        @media (min-width: scr_sm)
            font-size: 13px
        @media (min-width: scr_hd)
            font-size: 14px
        & + &
            margin-top 1px
            padding-top 5px
            border-top 1px solid #c2c5ca
    &__table
        max-height: 137px
        overflow hidden
        transition: .3s max-height
    &__links

        font-size: 13px
        margin: 25px 0 5px
        @media (max-width: scr_sm - 1px)
            flex-wrap: wrap;
            & ^[0]__col
                margin-bottom 20px

        @media (max-width: scr_md - 1px)
            & ^[0]__col
                flex-basis: 100% !important
                max-width: 100% !important
        @media (min-width: scr_sm)
            margin 20px 0 5px
        @media (min-width: scr_md)
            margin 30px 0 45px
    &__link
        font-size 12px
        @media (min-width: scr_md)
            font-size 13px
        &:hover
            span
                border-line(alpha(red, .5))
    &__price

        line-height 1.1
        font-size: 40px
        margin-right 15px
        position relative
        top 4px
        @media (min-width: scr_md)
            margin-right 0
        @media (min-width: scr_hd)
            font-size: 50px
    a&__button
        background-color red

        border-radius: 45px
        display flex
        color white

        text-align center
        align-items: center
        position relative
        justify-content: center
        padding: 3px 25px 0
        height: 30px
        margin-top 3px
        @media (min-width: scr_md)
            margin-top 0
            height: 35px
        @media (min-width: scr_hd)
            height: 45px
            font-size: 20px
            padding: 3px 45px 0

        &:hover
            color red
            background-color white
    &__tools
        display: flex
        align-self: flex-start
        padding-top 3px
        @media (max-width: scr_sm - 1px)
            border-top 1px solid #c2c5ca
            border-bottom 1px solid #c2c5ca
            margin-top 20px
            padding 25px 0 0px
            flex-wrap: wrap

        @media (min-width: scr_md)
            margin-top 20px
            padding 30px 0 25px
            border-top 1px solid #c2c5ca
    a&__tool
        display: flex
        align-items: center
        color #3f4550
        line-height 1.2

        font-size 14px
        @media (max-width: scr_sm - 1px)
            font-size 15px
            margin-bottom 20px
            br
                display none
        @media (min-width: scr_sm)
            margin-right 25px
        @media (min-width: scr_md)
            margin-right 35px
            font-size
        @media (min-width: scr_lg)
            font-size 17px
            font-size 20px
            margin-right 45px
        &:last-of-type
            margin-right 0
        svg

            margin-top -3px
            margin-right 10px
            size 30px
            min-width: 30px
            @media (min-width: scr_md)
                size 40px
                min-width: 40px
            @media (min-width: scr_hd)
                size 50px
                min-width: 50px
        &:hover
            color red
            svg
                path
                    fill red
    &__images
        background-color white
        display: flex
        position relative
        justify-content: space-between
        flex-direction: column
        align-self: flex-start
        overflow hidden
        margin 20px 0 10px
        @media (min-width: scr_sm)
            overflow visible
            padding: 20px 30px
            margin 0
            max-width: 50%
        @media (min-width: scr_md)
            padding: 30px
    &__thumbnails
        width: 100%
        @media (min-width: scr_sm)
            max-width: calc(100% - 10px)
        @media (min-width: scr_hd)
            max-width: calc(100% - 50px)
        margin: 0 auto
        .slick
            &-slide
                outline: 0 !important
            &-arrow
                z-index: 20
            &-prev
                left: 10px
                @media (min-width: scr_sm)
                    left: -22px
                @media (min-width: scr_hd)
                    left -30px
            &-next
                right: 10px
                @media (min-width: scr_sm)
                    right: -22px
                @media (min-width: scr_hd)
                    right -30px
    &__thumbnail
        margin: 0 auto
        cursor: pointer;
        background-size contain
        background-position center center
        background-repeat no-repeat
        transition: .3s box-shadow
        padding-bottom 90%
        @media (min-width: scr_sm)
            width: calc(100% - 10px)
            padding-bottom @width
            box-shadow: inset 0 0 0 1px #d1d3d7
            &:hover
                box-shadow: inset 0 0 0 1px red
            .current &
                box-shadow: inset 0 0 0 2px red

        @media (min-width: scr_md)
            width: calc(100% - 20px)
            padding-bottom @width
    &__main
        flex 1
        position relative
        margin-right -30px
        margin-left -30px

        @media (min-width: scr_sm)
            margin-bottom 20px
            &:before
                display block
                content: ""
                padding-bottom 82%
            .msie11 &
                min-height: 500px
        @media (min-width: scr_lg)
            margin-bottom 30px

        &:hover
            & ~ ^[0]__hover
                visibility: visible
                opacity: 1
    &__big
        position absolute
        size 100%
        top 0
        left 0
        background-size contain
        background-position center
        background-repeat no-repeat
        opacity: 0
        transition: .3s opacity
        pointer-events: none
        display none
        @media (min-width: scr_sm)
            display block
        &--active
            opacity: 1
            pointer-events: all
    &__footer
        flex-basis: 100%
        display: flex
        margin-top 20px
        & ^[0]__col
            flex-basis: 50%
            &:last-of-type
                padding-left 20px
                display: flex
                flex-wrap wrap
                small
                    margin-left 0
                    flex-basis: 100%
                    br
                        display none
    &__zoom,
    &__download
        position absolute
        background-color #95999f
        z-index: 20
        size 40px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        cursor pointer
        top 15px
        left 15px
        @media (min-width: scr_md)
            top 30px
            left 30px
        @media (min-width: scr_hd)
            size 50px
        img
            margin-bottom 0
            width: 45%
        &:hover
            background-color red
    &__download
        top 15px
        left 65px
        @media (min-width: scr_md)
            top 30px
            left 80px
        @media (min-width: scr_hd)
            left 90px
    &__hover
        position absolute !important
        size 100%
        left 100%
        top 0
        z-index: 30
        background-color white
        opacity: 0
        visibility: hidden
        transition: .3s opacity .1s
    &__store
        align-items: center
        position relative
        ^[0]__col
            &:last-of-type
                display: flex
                align-items: center

                small
                    margin-left 15px
                    position relative
                    top 3px
                    color #5c6577
                    line-height 1.1
                    font-size: 12px
                    @media (min-width: scr_hd)
                        font-size: 13px
                        top 2px
        @media (max-width: scr_sm - 1px)
            margin-bottom 30px
            padding-bottom 5px
            border-top 1px solid #c2c5ca
            justify-content: space-between
            padding-top 15px
            ^[0]__col
                &:last-of-type
                    small
                        position absolute
                        width: 100%
                        top 100%
                        left 0
                        margin-left 0
                        br
                            display none
    .badge
        margin-right 15px

        z-index: 20
        top 15px !important
        right: 25px !important
        @media (min-width: scr_sm)
            margin-right 0
            top 0 !important
.prop
    display: flex
    align-items: center
    line-height 1

    margin-right 25px
    font-size 18px
    @media (min-width: scr_hd)
        font-size: 20px
    &__value
        padding-top 4px
        white-space: nowrap
    img&__icon
        max-width: 25px
        max-height: 25px
        margin-bottom 0
        margin-right 8px
