.products
    display: flex
    flex-wrap: wrap
    margin-right -2px
    margin-left -2px
    &__container
        flex-basis: 100%
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        margin 1px
        position relative
        flex-basis: calc(100% - 2px)
        background-color white
        color #515255
        font-size 15px
        overflow hidden
        @media (min-width: scr_sm)
            font-size 20px
            flex-basis: calc(50% - 2px)
        @media (min-width: scr_md)
            flex-basis: calc(33.33333% - 2px)
        &:after
            content: ""
            position absolute
            size 100%
            top 0
            left 0
            z-index: 2
            transition: .3s box-shadow
        &:hover
            color red
            &:after
                box-shadow: inset 0 0 0 10px red, 0 0 0 2px red
    &__image

        background-size auto 52%
        background-position 50% 58%
        background-repeat no-repeat
        &:before
            content: ""
            display block
            padding-bottom 114%
    &__name,
    &__price,
    &__artnumber
        position absolute
    &__name
        line-height 1.3
        font-weight bold
        top 20px
        left 20px


        font-size: 23px
        max-width: calc(100% - 100px)
        @media (min-width: scr_sm)
            font-size: 20px
        @media (min-width: scr_md)
            max-width: calc(100% - 140px)
            top 30px
            left 30px
        @media (min-width: scr_hd)
            font-size 25px
    &__price,
    &__artnumber
        bottom 15px
        @media (min-width: scr_md)
            bottom 23px
            font-size 18px
    &__artnumber
        right 20px
        @media (min-width: scr_md)
            right 30px
    &__price
        left 20px
        @media (min-width: scr_md)
            left 30px

    &--small
        & ^[0]__name
            @media (min-width: scr_md)
                font-size: 17px
                top 17px
                left 20px
        & ^[0]__item
            @media (min-width: scr_md)
                flex-basis: calc(25% - 2px)
        & ^[0]__image
            &:before
                padding-bottom 105%
        & ^[0]__price,
        & ^[0]__artnumber
            @media (min-width: scr_md)
                bottom 12px
                font-size 15px
        & ^[0]__artnumber
            @media (min-width: scr_md)
                right 20px
        & ^[0]__price
            @media (min-width: scr_md)
                left 20px
        @media (max-width: scr_sm - 1px)
            & ^[0]__item
                flex-direction: row-reverse
                align-items: center
                justify-content: flex-end
            & ^[0]__image
                flex-basis: 30%
                &:before
                    padding-bottom 85%
            & ^[0]__price,
            & ^[0]__artnumber
                display none
            & ^[0]__name
                position relative
                top 0
                left 0
                font-size 16px
            & ^[0]__badge
                display none
    &--slider
        display block
        @media (max-width: scr_md - 1px)
            .slick
                &-next
                    top -37px
                    right: 0
                &-prev
                    top -37px
                    right: 50px
                    left auto
        & + h2
            margin-top 50px
