.profile
    display: flex

    flex-direction: column
    font-size 16px
    &__links
        margin-top 5px
    a&__link
        color red
        font-size 13px
        border-line(alpha(red, .5))
