.retail
    display: flex
    flex-wrap: wrap
    position relative
    &:after
        content ""
        width: 100%
        height: 1px
        background-color #e0e3e4
        position absolute
        left 0
        bottom 0
    &__item
        text-align center
        border-bottom: 1px solid #b3b7bd

        flex-basis: 100%
        padding-bottom 30px
        @media (min-width: scr_xs)
            flex-basis: 50%
        @media (min-width: scr_sm)
            padding-bottom 60px
            flex-basis: (100 / 3)%
        @media (min-width: scr_md)
            flex-basis: 25%
    &__link
        color red
        border-line(alpha(@color, .5))
    &__image

        display: flex
        align-items: center
        justify-content: center
        height: 100px
        @media (min-width: scr_sm)
            height: 160px
        @media (min-width: scr_md)
            height: 200px
        img
            max-height: 60px
            max-width: 160px
            @media (min-width: scr_md)
                max-height: 80px
                max-width: 180px
            margin-bottom 0
