.scroll
    position relative
    display flex
    flex-direction: column
    min-height: 0
    @media (min-width: scr_sm)
        max-height: 100%
        overflow: hidden
        position relative
        margin-right -20px
        padding-right 20px
        .mobile &
            overflow: auto
            -webkit-overflow-scrolling: touch
    &__content
        position relative
    &--fade
        @media (min-width: scr_sm)
            &:after, &:before
                height 150px
                z-index 50
                left 0px
                width calc(100% - 30px)
                content ""
                position absolute
                opacity 0
                pointer-events: none
                t opacity
            &:after
                background linear-gradient(to top, #e0e3e4 10%, alpha(#e0e3e4, 0) 100%)
                bottom 0
            &:before
                top 0
                background linear-gradient(to bottom, #e0e3e4 10%, alpha(#e0e3e4, 0) 100%)
            &^[0]--ready
                &:after
                    opacity 1
            &^[0]--start
                &:before
                    opacity 1
            &^[0]--end
                &:after
                    opacity 0

.ps-container, .ps-container:hover, .ps-container.ps-in-scrolling
	> .ps-scrollbar-y-rail
		right 0px !important
		background #edeef0
		opacity 1
		border-radius 0
		width 4px
		t height
		.dropdown__frame&
			background transparent
		.catalog &
			@media (max-width: scr_lg)
				right 7px !important
		>.ps-scrollbar-y
			opacity 1
			t height
			right 0px
			width 4px
			border-radius 0
			background-color red !important
