.search
    position fixed
    size 100%
    z-index: 3500
    top 0
    left 0
    visibility: hidden;
    opacity: 0
    pointer-events: none
    transition: .3s opacity
    &--active
        display block
        opacity: 1
        visibility: visible
        pointer-events: all
        transition-delay: .3s
    &__fade
        background-color alpha(#a4a8b0, .65)
        position absolute
        size 100%
    &__content
        z-index: 2
        position absolute
        left 50%

        transform: translate3d(-50%, -50%, 0)

        max-width: 950px
        width: 85%
        top 25%
        @media (min-width: scr_md)
            width: 70%
            top 35%
    &__close
        position absolute
        right 0
        top -10px
        transform: translateY(-100%)
        svg
            size 30px
            @media (min-width: scr_sm)
                size 45px
            path
                fill white
                transition: .3s fill
        &:hover
            svg
                path
                    fill red
    &__input

        height: 37px
        background-color: white
        box-shadow: 1px 2px 29px rgba(0, 0, 0, 0.35)
        @media (min-width: scr_sm)
            height: 57px
        input
            position absolute
            size 100%
            border 0

            padding: 0 20px
            color #000000
            line-height 1
            font-size 22px
            +placeholder()
                padding-top 8px
            @media (min-width: scr_sm)
                padding: 0 30px
                font-size 30px
                padding-top 5px
                +placeholder()
                    padding-top 9px
