.sidebar
    display none
    position fixed
    top 25px
    left 25px
    height: calc(100% - 50px)
    background-color white
    z-index: 500
    box-shadow: 0 0 0 25px white
    @media (min-width: scr_lg)
        display flex
        flex-direction: column
    &__content,
    &__wrap
        display: flex
        flex-direction: column
    &__content,
    &__wrap
        flex: 1
    &__content
        margin-top -5px
    &__header
        display: flex
        justify-content: space-between
    &__wrap
        justify-content: space-between
        padding-top 25px
        min-height: 580px
    &__nav
        margin-top auto
        margin-bottom auto
        flex-direction: column
        align-items: flex-start
        line-height 1.7
        font-size 19px
        @media (min-width: scr_hd)
            font-size 20px
    &__goldermall
        margin-bottom 15px
        display none
        @media (min-width: scr_md) and (min-height: 735px)
            display flex
    &__copyright
        margin-top 25px


    &__socials
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        margin-bottom 17px
        margin-top 25px
    &__search
        position relative
        top -2px
        size 14px
        &:hover
            svg
                fill red
    &__present
        display none
        @media (min-width: scr_md) and (min-height: 800px)
            display block
