.sitemap
    display: flex
    flex-direction: column
    align-items: flex-start
    &__item

        margin-bottom 15px
        margin-left 20px
        @media (min-width: scr_sm)
            margin-left 30px
        a
            color red
            border-line(alpha(@color, .5))
        line-height 1
        &--title
            margin-left 0
            font-weight bold
            font-size 110%
            margin-bottom 15px
        & + &--title
            margin-top 30px
