.slider
    position absolute
    size 100%
    z-index: 1
    top 0
    left 0
    overflow: hidden
    &, .slick-track, &__item
        display: flex !important
        flex-direction: row
        flex 1
    .slick-list
        flex 1
        display: flex !important
        flex-direction: column
        max-width: 100%
    &__item
        position relative
        flex-direction: column
        color #515255
        overflow hidden

        flex 1
        background-color #e0e3e4
        justify-content: flex-start
        @media (min-width: scr_sm)
            justify-content: center
        @media (min-width: scr_lg)
            justify-content: flex-start
    &__dots
        position absolute
        z-index: 20000
        bottom: 20px

        display: flex !important
        width: 100%
        list-style: none
        padding: 0
        left: 35px
        @media (min-width: scr_hd)
            left: 50px
        li
            size 13px
            outline: 0
            overflow hidden
            text-indent: -100px
            border: 1px solid white
            background none
            appearance none
            border-radius: 50%
            margin-right 10px
            cursor: pointer;
            transition: .3s background, .3s border
        .slick-active, .slick-active:hover
                background-color red
                border-color red
    &__title
        display block
        font-weight bold
        line-height 1
        min-height: min-content
        font-size 25px
        @media (min-width: scr_sm)
            font-size 37px
        @media (min-width: scr_hd)
            font-size 55px
    &__description
        font-weight: 500
        line-height 1.2
        padding-top 15px
        font-size 14px
        text-align center
        br
            display none
        @media (min-width: scr_sm)
            font-size 18px
            text-align left
            align-self: flex-start
        @media (min-width: scr_md)
            br
                display block
        @media (min-width: scr_hd)
            font-size 22px
    &__button

        background-color red
        border-radius: 50px

        margin-top 25px
        color white
        font-family: $custom-font
        display: flex
        align-items: center

        transition: .3s all

        align-self: center
        font-size 15px
        padding: 0 35px 0
        height 35px
        @media (min-width: scr_sm)
            min-height 40px
            font-size 18px
            padding: 2px 40px 0
            align-self: flex-start
        @media (min-width: scr_hd)
            font-size 20px
            min-height 45px
        &:hover
            background-color white
            color red
    &__content
        display: flex
        flex-direction: column
        opacity: 0
        transform: translateX(-50%)
        transition: .6s opacity .8s, .6s transform .5s
        position relative
        z-index: 2
        padding 40px 20px 0
        text-align center
        @media (max-width: 400px)
            padding 20vw 20px 0
        @media (min-width: scr_sm)
            padding 50px 30px
            max-width: 50%
            text-align left
        @media (min-width: scr_lg)
            max-width: none
        @media (min-width: scr_hd)
            padding 80px 60px
        .slick-current &
            opacity: 1
            transform: translateX(0%)
    &__image
        position absolute
        background-position bottom left
        background-repeat no-repeat
        top 0
        z-index: 1
        opacity: 0
        transform: translateX(50%)
        transition: .6s opacity .8s, .6s transform .5s
        background-size contain
        size 100%
        @media (min-width: scr_sm)
            size 55% 100%
            left 45%
            background-size cover
        @media (min-width: scr_lg)
            size 100%
            left 0
        .slick-current &
            opacity: 1
            transform: translateX(0%)
    &__category
        width: 100%
        color red
        font-size 18px
        padding: 10px 0 5px
        @media (min-width: scr_sm)
            margin-bottom 25px
            padding 30px 0 15px 0
            border-bottom: 1px solid #a7abb2
        @media (min-width: scr_lg)
            padding-top 0
            font-size 20px
            margin-bottom 30px
            padding-bottom 18px
    &:not(&--relative)
        & ^[0]__item
            height: auto
    &--relative
        min-height 0
        transition: .3s min-height
        & ^[0]__content
            padding-top 0
            padding-bottom: 50px
            @media (min-width: scr_sm)
                padding-left 0
                max-width: 53%
                padding-top 0px
            @media (min-width: scr_lg)
                max-width: 47%

        & ^[0]__dots
            width: 100%
            text-align center
            margin-bottom 0
            bottom 0
            padding: 0
            left 0
            margin-left 0
            padding-left 0
            justify-content: center
            @media (min-width: scr_sm)
                justify-content: flex-start
        & ^[0]__image
            position relative
            @media (min-width: scr_sm)

                position absolute
                size: 50% 100%
                left: auto
                right: -3%
                top 0
                margin-bottom 0
                background-position center
                background-size contain
            &:before
                content: ""
                display block
                padding-bottom 70%
                @media (min-width: scr_sm)
                    padding-bottom 0
        & ^[0]__item
            display: block !important
