

.social
    margin: 0 7px
    svg
        max-width: 20px
        max-height: 16px
        path
            fill #a4a8af
            transition: .3s fill

    &--twitter
        svg
            max-width: 17px
    &:hover
        svg
            path
                fill red
