.text
    font-weight 300
    line-height 1.6
    .row
        margin-bottom 20px
    h1

        font-weight bold
        font-size 25px
        margin-bottom 25px
        @media (min-width: scr_sm)
            font-size 40px
            margin-bottom 35px
        @media (min-width: scr_lg)
            font-size 55px
    h2
        font-weight bold
        margin-top 15px
        font-size 21px
        margin-bottom 25px
        @media (min-width: scr_sm)
            font-size 30px
        @media (min-width: scr_md)
            font-size 35px
        @media (min-width: scr_lg)
            font-size 40px
            margin-bottom 35px
    h3
        line-height 1.5
        font-size 16px
        margin-bottom 30px
        @media (min-width: scr_sm)
            font-size 19px
        @media (min-width: scr_md)
            margin-bottom 40px
        @media (min-width: scr_lg)
            font-size 20px
        @media (min-width: scr_hd)
            margin-bottom 40px
            font-size 23px
        strong.stronger
            font-weight: 900
            font-size 120%

    h3, h4
        em
            font-style: normal
            color red

    h4
        font-weight bold
        font-size 120%
        margin-bottom 25px
        width: 100%
    &, p
        font-weight normal
        font-size 14px
        @media (min-width: scr_sm)
            font-size 15px
        @media (min-width: scr_md)
            font-size 16px
        @media (min-width: scr_hd)
            font-size 18px
    p
        @media (min-width: scr_lg)
            margin-bottom 20px
        a
            &, &:hover
                border-line(alpha(red, .5))
                color red

    blockquote
        border-left-color red
        padding 8px 0 5px 25px

        font-weight 900
        font-size 115%
        margin-left 0px
        margin-top 20px
        @media (min-width: scr_sm)
            font-size 125%
            margin-left 30px
            margin-bottom 35px
            margin-top 30px
    ul, ol
        padding-left 20px

        margin-top 10px
        margin-bottom 25px
        @media (min-width: scr_lg)
            margin-bottom 35px
    small
        font-size 70%
        line-height 1.5
        display inline-block
    img
        max-width: 100%
        margin-bottom 20px
    img&__image
        max-width: 100%
        margin-bottom 20px
        @media (min-width: scr_sm)
            margin-bottom 0
        &--mission
            float right
            @media (min-width: scr_sm)
                margin-right -17%
                max-width: (9 * 100/13)%
                margin-bottom 0
            @media (min-width: scr_md)
                margin-right -8%
                max-width: (7 * 100/13)%
                margin-bottom 20px
        &--about
            float right
            position relative
            @media (min-width: scr_sm)
                margin-right -30%
                max-width: (11 * 100/13)%
        &--right
            float right
            @media (min-width: scr_sm)
                max-width: (8 * 100/13)%
                margin-right -50px
        &--news
            float right
            @media (min-width: scr_sm)
                max-width: (7 * 100/13)%
                margin-left 30px
        &--pack
            float right
            @media (min-width: scr_sm)
                max-width: (6 * 100/13)%
                margin-right -50px
                margin-left 30px
        &--social
            float right
            @media (min-width: scr_sm)
                max-width: (6 * 100/13)%
                margin-left 30px
                margin-bottom 20px
        &--marketing
            float right
            @media (min-width: scr_sm)
                max-width: (7 * 100/13)%
                margin-left 30px
                margin-bottom 20px
        &--how
            float right
            @media (min-width: scr_sm)
                max-width: (5 * 100/13)%
                margin-left 30px
        &--comments
            float right
            @media (min-width: scr_sm)
                max-width: (6.5 * 100/13)%
                margin-left 10px
                margin-bottom 60px
            @media (min-width: scr_md)
                margin-bottom 30px
                max-width: (7 * 100/13)%
                margin-left 30px
        &--center
            @media (min-width: scr_sm)
                max-width: 70%

    &__dropdown
        flex-basis: 100%
        margin-top 15px
        @media (min-width: scr_sm)
            flex-basis: auto
            margin-top -5px
            margin-left 40px
            min-width: 220px
            & + &
                margin-left 15px
        @media (min-width: scr_md)
            min-width: 305px

        &--short
            min-width: 130px

    &__row
        display: flex
    &__col
        &--6
            @media (min-width: scr_sm)
                flex 1 1 50%
        &--5
            @media (min-width: scr_sm)
                flex 1 1 (5 * 100/13)%
                max-width: (5 * 100/13)%
        &--7
            @media (min-width: scr_sm)
                flex 1 1 (7 * 100/13)%
                max-width: (7 * 100/13)%
        &--8
            @media (min-width: scr_sm)
                flex 1 1 (8 * 100/13)%
                max-width: (8 * 100/13)%
    &__divider
        border-top 1px solid #b3b7bd
        margin 40px 0
        width: 100%

    &--center
        align-items: center
        justify-content: center
        display: flex
        flex-direction: column
