.toolbar
    display: flex
    width: 100%
    max-width: 100vw
    position fixed
    justify-content: space-between
    padding: 0 15px 0 20px
    z-index: 800
    margin-bottom -23px
    left 0
    top 0
    align-items: center
    @media (min-width: scr_sm)
        padding: 0 25px 0 50px
    @media (min-width: scr_lg)
        display none
    &__logo
        flex-basis: 95px
        @media (min-width: scr_sm)
            flex-basis: 140px
    &__tools
        display: flex
        justify-content: flex-end
        align-items: center
        padding-bottom 21px
        @media (min-width: scr_sm)
            padding-bottom 40px

    &__langs
        margin: 0 35px
    &__search
        @media (max-width: scr_sm - 1px)
            display none !important
    &__search
        size 16px
        &:hover
            svg
                fill red
    &:after
        position absolute
        content ""
        size 100% calc(100% - 23px)
        z-index: -1
        background-color white
        left 0
        top 0
        box-shadow: 0 4px 10px 0 alpha(black, .1)
        @media (min-width: scr_sm)
            size 100% calc(100% - 40px)
